[2017-09-06 00:57] vvchuanqi commented on #1801
在HTML规范中，ul和li是父与子的直接关系，没有任何借口给ul与li之间插入其他html标签的说法。

[2017-09-06 01:58] icarusion commented on #1800
I think you can use `this.$Modal.confirm`, and close `Tab` when user click OK.

[2017-09-06 02:06] ChaoshengZhang commented on #1792
那只有看代码了~你好好看看

[2017-09-06 02:18] #1801 closed

[2017-09-06 02:21] icarusion commented on #1799
![image](https://user-images.githubusercontent.com/5370542/30091635-326f5fae-92ed-11e7-9804-8ce1dd9878ec.png)

[2017-09-06 02:21] #1799 closed

[2017-09-06 02:25] icarusion commented on #1798
![image](https://user-images.githubusercontent.com/5370542/30091715-a3479d68-92ed-11e7-8220-156f9e86cc4a.png)
都是数组

[2017-09-06 02:25] #1798 closed

[2017-09-06 02:27] EternCoder commented on #1800
@icarusion Sorry to bother, but as far as I can tell, each tab consists of two parts, the label and the content, and iview will delete the label no matter what in the next update if the user click the (X) tag, users do not have control over the label part.
check this codepen: https://codepen.io/faithgg/pen/vJMbNJ
In the above example, the event handler of "on-tab-remove" did nothing, but the label

[2017-09-06 02:32] icarusion commented on #1800
Ok, I see what you mean, Currently, using the native feature with Tabs, it does close Tabs directly. Maybe we will optimize it or add `before-close` event.

Now, you can use `Render Function` of `Tabs` to add a close button, so you can control it.

[2017-09-06 02:34] icarusion commented on #1800
[https://www.iviewui.com/components/tabs-en#Custom tab](https://www.iviewui.com/components/tabs-en#Custom tab)

[2017-09-06 02:38] EternCoder commented on #1800
Thanks a lot!
By the way, iview really helped me a lot!
Again, really grateful for you work!

[2017-09-06 02:50] icarusion commented on #1793
暂无次计划。

[2017-09-06 02:50] #1793 closed

[2017-09-06 02:55] #1768 closed

[2017-09-06 02:55] #1753 closed

[2017-09-06 02:56] #1758 closed

[2017-09-06 02:57] #1755 closed

[2017-09-06 02:57] #1748 closed

[2017-09-06 02:57] #1720 closed

[2017-09-06 02:58] #1254 closed

[2017-09-06 02:58] #1190 closed

[2017-09-06 02:58] #1073 closed

[2017-09-06 03:30] rchlz commented on #932
这个issue是被无效关闭了，还是解决了？

[2017-09-06 03:37] mqhe2007 commented on #1333
@icarusion 希望能尽快实现，非常重要的需求。

[2017-09-06 05:08] rainsoft opened #1802 "建议将Ant Design的Table功能都移植过来"
https://ant.design/components/table-cn/
比如：树形表格，可编辑单元格，嵌套子表格，表格明细等

[2017-09-06 05:32] starmarker commented on #1784
我每次都自己转，后台给过来的都是平行的list，而不是树状的结构！名字也不匹配。然后自己做了个全局的函数处理平行转树，并且转key

[2017-09-06 06:24] shenke119 commented on #1797
[code]

[2017-09-06 06:39] inman627 opened #1803 "Table导出csv能否提供对应column如何产生数据的回调函数？"
Table的Column可以用render函数将复杂数据(Object)绘制成需要的样子。
但是导出csv时，用key取到数据会输出成[Object object]。
能否提供column上的输出csv时取数据的回调函数？

谢谢。

[2017-09-06 08:49] yangxfan commented on #1652
我也是这样的问题，目前也是最后一个字段加一个固定宽度，因为是弹框里的表格，所以没考虑自适应，我测试 iview 2.0.0 和最新版 2.3.0 都有这个问题，先这么解决吧

[2017-09-06 09:17] hnjzczf opened #1804 "2.3.0 版本 select 渲染问题"
多个select 使用时，延时加载数据（实际为ajax），会出现选项不显示问题（实际选择是对的），2.2.0版本没有此问题
样例代码如下：
[test.txt](https://github.com/iview/iview/files/1280534/test.txt)

[2017-09-06 09:23] inobelieve opened #1805 "Select组件不能动态更新数据"
<template>
  <div>
    <Button @click="switchFuc">label+1</Button>
    <Select v-model="model1" style="width:200px">
      <Option v-for="item in cityList" :value="item.value" :key="item.value" :label="item.label"></Option>
    </Select>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        cityList: [
          {
            value: 'beijing',
            label: '北京

[2017-09-06 09:27] icarusion commented on #1804
v-for 用数组。

[2017-09-06 09:27] #1804 closed

[2017-09-06 09:30] max-boy commented on #738
我也遇到这个问题，你们如何解决的

[2017-09-06 09:54] NickBang opened #1806 "table 组件 的【csv】下载问题"
data中默认插入的数据是可以下载的。凡是经过render处理过得数据。下载csv之后表格为空，API中说明的columns 和 data 也没有较详尽的例子。所以不太明白这里该如何使用。有劳了

[2017-09-06 10:11] zhyjNaruto opened #1807 "[Bug Report]多个Select组件，在页面首次渲染时，只有第一个可以正常选择"
该bug为2.3.0引入的问题，回退到2.2.0后不再复现。
代码结构大致如下（具体数据值可自行填充）：
![image](https://user-images.githubusercontent.com/12232035/30106655-c334dcee-932e-11e7-8147-48910d3012be.png)
`<Row type="flex" align="middle">
                <Col span="4"><span>{{currentPageTypeText}}读权限：</span></Col>
                <Col span="14">
                    <Select :key="'read-select'" v-model="currentModal.pageReadAuthorityId" p

[2017-09-06 10:14] zhyjNaruto commented on #1807
起初怀疑是key的问题，特地将两个Select里的Option起了独立的key名，但是似乎还是无效，看了下更新日志有一条是关于Select控件的性能优化，怀疑是否与该更新有关

[2017-09-06 12:26] luyin0311 commented on #1595
我也遇到了同样的问题

[2017-09-06 12:34] luyin0311 opened #1808 "日期表单如果动态赋值，那么无法做表单验证，提交时报错"
<template>
    <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
        <FormItem label="姓名" prop="name">
            <Input v-model="formValidate.name" placeholder="请输入姓名"></Input>
        </FormItem>
        <FormItem label="选择日期">
            <Row>
                <Col span="11">
                    <FormItem prop="date">
                        <DatePicke

[2017-09-06 12:37] luyin0311 commented on #1808
vue.esm.js?71e4:479 [Vue warn]: Error in event handler for "click": "TypeError: value.getTime is not a function"

[2017-09-06 12:48] chaegumi commented on #934
https://github.com/iview/iview/issues/1440

[2017-09-06 13:14] SergioCrisostomo commented on #1807
@zhyjNaruto could you set up this codepen please?

https://codepen.io/sergiocrisostomo/pen/ayrZvy

[2017-09-06 14:32] thearabbit commented on #690
Where for `window....`
I tried, but don't work
[code]

[2017-09-06 15:17] cn-xufei commented on #1487
惊呆了，居然不支持三级菜单，看着能不能把级联的效果移植到水平导航菜单

[2017-09-06 23:45] dspangenberg opened #1809 "Datepicker (First day of week)"
Hi,

in Germany and some other countries, a week starts on Monday instead of Sunday. Have you planned some further options?

[2017-09-07 01:25] benjycui commented on #1809
It is part of l10n @icarusion

In [antd](https://ant.design):

[code]

[code]

[2017-09-07 01:32] icarusion commented on #1809
Thanks @benjycui , but iView doesn't use moment, so it's likely to be supported in the future.

[2017-09-07 01:52] iminif opened #1810 "InputNumber 添加输入属性"
需求：InputNumber 添加输入属性，可以过滤小数（只允许输入整数:正整数或负整数...）

[2017-09-07 02:21] hodgevk opened #1811 "$Message在服务器端渲染报错"
在ssr中使用this.$Message.error('***')，报错：document is not defined。

[2017-09-07 02:39] webproblem commented on #1781
代码中的this.actiondata是table组件的:data的值吧，在table中通过render函数自定义的时候，事件里面不能这样赋值，一种解决方式是：定义一个存储数组变量，用这个存储数组来赋值，最后再把存储数组的值赋值给this.actiondata。
如：
[code]
......
[code]
然后再监听这个存储数组
[code]

[2017-09-07 02:45] max-boy commented on #1807
我在页面同时渲染同样的select组件时，只有第一个可以选择。

[2017-09-07 02:53] max-boy commented on #1804
@icarusion ， 我也遇到同样的问题，v-for用数组也不行

[2017-09-07 02:54] icarusion commented on #1804
Provide online code.

[2017-09-07 02:54] icarusion commented on #1807
Provide online code.

[2017-09-07 03:09] zhdwwf commented on #1810
step设为1不就是只能输入整数
![image](https://user-images.githubusercontent.com/564279/30144309-027a5ac6-93bd-11e7-956e-f9132e78ba29.png)

[2017-09-07 03:09] max-boy commented on #1807
[code]
users是一个数组ajax获取的：数据格式如下：
[code]
导致的结果就是第一个可以选中，第二个选择了也显示空白
但是我把iview的版本降到2.2以后，就正常了，谢了。

[2017-09-07 03:11] taoorange opened #1812 "分页组件,应该固定组件长度，只改变里面的数字，不要点击下一页，组件长度变化。希望尽快增加这样的分页组件。"

[2017-09-07 03:14] icarusion commented on #1807
https://codepen.io/sergiocrisostomo/pen/ayrZvy
到这里在线复现问题，我本地都是ok 的

[2017-09-07 03:19] #1797 closed

[2017-09-07 03:21] icarusion commented on #1812
Page will be displayed differently depending on the state.

[2017-09-07 03:21] #1812 closed

[2017-09-07 03:23] icarusion commented on #1811
是否 SSR 配置成功呢，其它使用了 SSR 的产品是可以正常显示的，比如 https://www.easy-mock.com

[2017-09-07 03:36] max-boy commented on #1807
@icarusion
在线地址如下：
https://codepen.io/max-boy/pen/YxbjrJ

[2017-09-07 03:42] icarusion commented on #1807
Hi，@SergioCrisostomo
When write data asynchronously, it does trigger this problem, the second Select can not display the
selected value.
I'm trying to find out what's wrong with it ：）

[code]

[2017-09-07 04:54] hnjzczf commented on #1804
换成数组一样有问题啊
[test.txt](https://github.com/iview/iview/files/1283473/test.txt)

[2017-09-07 04:55] hnjzczf commented on #1804
换成数组一样有问题啊
[test.txt](https://github.com/iview/iview/files/1283473/test.txt)

[2017-09-07 05:00] SergioCrisostomo commented on #1807
@max-boy thank you for taking this up and for the example.

@icarusion I'm happy to fix this. Good we have example so we can add tests for this. Today and tomorrow I will be at [Nordic.js](http://nordicjs.com/) conference. But after that I will send in the fix for this.

[2017-09-07 05:16] wxchu opened #1813 "CheckboxGroup 勾选后绑定值没有更改"
[code]

[2017-09-07 05:49] icarusion commented on #1807
https://github.com/iview/iview/blob/1f41c9ca2c45a13747b5fa8201c4e4481f409a36/src/components/select/utils.js#L12

[2017-09-07 05:56] icarusion commented on #1807
@SergioCrisostomo thanks !

[2017-09-07 05:58] CharleySc commented on #1784
用递归转 代码量应该不算多

[2017-09-07 06:08] CharleySc opened #1814 "upload 组件如何清除已上传的文件显示？"
想问一下如何用js清除我已经上传的文件集？
看了api有个clearFiles的方法，但是不知道如何使用，有大腿在吗？求救
<img width="568" alt="wx20170907-140339 2x" src="https://user-images.githubusercontent.com/19809888/30148300-5f24328e-93d5-11e7-9fcf-64e193d895ef.png">

[2017-09-07 06:20] icarusion commented on #1810
https://github.com/react-component/input-number/pull/67/files

[2017-09-07 06:26] ceshi20160607 opened #1815 "1.固定左侧列后，在其上添加隐藏的方法无效果，"

[2017-09-07 06:27] ceshi20160607 commented on #1815
2.能添加些，自定义的单元格的事件，全局的，你可以指定单机事件的优先顺序，或者阻断条件判断优先级

[2017-09-07 06:33] mqhe2007 opened #1816 "对比测试发现iview使用nuxt做服务端渲染时会报如下警告！页面无法正常显示。"
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Use equal casing. Compare these module identifiers:
*E:\web\qingjinblog\node_modules\Vue\dist\vue.runtime.esm.js
    Used by 1 module(s), i. e.
    E:\web\qingjinblog\node_modules\babel-loader\lib\index.js??ref--1!E:\web\qingjinblog\node_modules\eslint-loader\index.js!E:\web\qingjinblog\plugins\iview.js
*

[2017-09-07 06:35] icarusion commented on #1816
还没有在最新版的 Nuxt.js 上做过测试，之后我再看看吧

[2017-09-07 06:36] mqhe2007 commented on #1816
@icarusion 响应如此迅速，赞一个！那我宁愿等你也不想用饿了。

[2017-09-07 06:37] icarusion commented on #1816
@mqhe2007 着急可以先用之前版本的 Nuxt, 都是测试过的

[2017-09-07 06:50] icarusion commented on #1813
https://www.iviewui.com/docs/guide/start
![image](https://user-images.githubusercontent.com/5370542/30149879-e7c3ec8c-93db-11e7-9abc-a2bf615e13d7.png)

[2017-09-07 06:50] #1813 closed

[2017-09-07 07:00] ken1987 opened #1817 "多个 select 同时更新 option 的值引发的bug"
### iView 版本号
2.3.0

### 操作系统/浏览器 版本号
window 7/Chrome 56

### Vue 版本号
 2.4.2

### 能够复现问题的在线示例（重要）
https://codepen.io/anon/pen/QMRJyL

### 复现步骤

1. 异步给两个 select 组件赋值
[code]
2. 处于后面的 select 组件无法显示选择的数据

### 问题现象，以及你期望的结果是怎样的?

处于后面的 select 组件能显示选择的数据

### 你估计可能的原因是什么？

1. 当异步更新数据后，option  组件同时触发了更新

[options.vue](https://github.com/iview/iview/blob/v2.3.0/src/components/select/option.vue)
[code]

2.

[2017-09-07 07:01] icarusion commented on #1817
#1807

[2017-09-07 07:01] #1817 closed

[2017-09-07 07:03] mqhe2007 commented on #1816
@icarusion 又重新npm install 了两次又好了……不知道是什么情况，目前看起来正常了。

[2017-09-07 07:03] #1816 closed

[2017-09-07 10:00] zhyjNaruto commented on #1807
@icarusion 多谢帮忙复现该问题
@max-boy 感谢帮忙提供示例
@SergioCrisostomo sorry for seeing your msg late. Fortunately,max-boy put the example and  trigger this problem.

[2017-09-07 10:09] xieweijv commented on #1788
遇到同样的问题，页面加载后table不是100%宽度

[2017-09-07 12:22] 452486035 opened #1820 "Table的列能否添加隐藏的属性？"
我们在做Table的时候经常会点击查看详细，因此需要向详情页中传入当前行的ID，但是这个ID是不作为列展示的，需要进行隐藏。因此是否可以提供这样一个显示隐藏的属性，能够设置某列是隐藏的？？

个人感觉这个功能还是很有必要的，而且是经常用的，如果现在已有其他方式希望能够告之一下

[2017-09-07 12:29] 452486035 commented on #1820
这个跟#1052的还不一样，并非直接从columns中去掉，还是需要在columns中有这一列的，只是这一列是hide的

[2017-09-07 12:57] kiven1989 opened #1821 "怎么重置 Page 组件"
如现在已经切换到第三页 然后需要重置数据 这时Page页码也应该重置到第一页.

[2017-09-07 20:45] lslzl3000 opened #1822 "Form-item 无法单独清除 :error 错误状态"
项目中遇到问题: https://codepen.io/anon/pen/qXzQqj
Formitem `:error` 无论传入什么值都会触发 `validateState = 'error'`，无法单独清除`validateState`：
[code]
 是否应该判断一下val的值，如果是`null, undifined, ''`等情况，把`validateState`也清空：
[code]

[2017-09-08 00:05] thearabbit commented on #1542
did fix already?
👍

[2017-09-08 02:11] zhdwwf commented on #1820
可以通过table column render函数实现，示例如下：
[http://output.jsbin.com/wekoyas](http://output.jsbin.com/wekoyas)

[2017-09-08 02:18] iminif commented on #1810
如果先输入小数（比如 2.25），步长设为整数1，那么点击步进箭头时输入框会变为 3.25，还得我自己使用 parseInt 方法进行更多处理。

[2017-09-08 02:25] zhdwwf commented on #1810
@iminif  明白你意思了，之前是我理解的有误

[2017-09-08 02:27] icarusion commented on #1821
Use `on-change` event and read doc seriously.

[2017-09-08 02:27] #1821 closed

[2017-09-08 02:28] icarusion commented on #1806
查看导出自定义数据的示例

[2017-09-08 02:28] #1806 closed

[2017-09-08 03:28] qianxiaowu0520 opened #1823 "Affix 图钉在内部容器上不起作用"
Affix 图钉是在window上绑定的scroll事件，可不可以指定容器，实现图钉效果，万分感谢！
https://codepen.io/anon/pen/jLjGed/

[2017-09-08 04:18] yangdan8 opened #1824 "需求: Modal 组件实现拖动和拉伸改变大小以及最小最大高宽设置"

[2017-09-08 04:20] yangdan8 opened #1825 "需求: Modal 组件实现禁用遮罩层设置,或者另外开一个Panel组件,弹窗不影响弹窗下层操作"

[2017-09-08 04:51] BibBin opened #1826 "Modal组件能增加一个open的method吗"
父组件向组件modal传值,modal里面是一个表单，我需要对传过来的数据进行处理在绑定到data，我希望是能有一个modal打开的方法，在里面进行处理

[2017-09-08 06:19] z448401921 opened #1827 "Cascader级联组件，clearable属性导致iview报错"
**<Cascader placeholder="请选择地址" :data="pickData" :load-data="getCityData" v-model='pickValue' trigger="click" @on-change="pickChange" change-on-select :clearable="false" filterable></Cascader>
**
您好，我在使用级联组件时遇到这问题，代码报错位置在iview.js文件。引用代码如上，效果如下图。

![1](https://user-images.githubusercontent.com/9210994/30198380-f97be1e0-949f-11e7-887f-57b813784d73.png)
![2](https://user-images.githubusercontent.com/

[2017-09-08 06:29] icarusion commented on #1807
#1828

[2017-09-08 06:29] #1807 closed

[2017-09-08 06:38] Baoyx007 commented on #1717
遇到同样的问题.

但是, @CharleySc

是不对的.

父节点为 true, 那么子节点应该都为 true; 反过来不成立.

[2017-09-08 06:52] icarusion commented on #1827
change-on-select 不能与 异步搜索混用

[2017-09-08 06:52] #1827 closed

[2017-09-08 06:53] icarusion commented on #1826
![image](https://user-images.githubusercontent.com/5370542/30199456-6a323934-94a5-11e7-844c-aac94dc99d17.png)

[2017-09-08 06:53] #1826 closed

[2017-09-08 06:53] icarusion commented on #1825
暂无此计划。

[2017-09-08 06:53] #1825 closed

[2017-09-08 06:55] icarusion commented on #1824
#263

[2017-09-08 06:55] #1824 closed

[2017-09-08 07:16] icksky commented on #1774
我也遇到这种情况。设置了宽度，数字显示不完整。不设置的话，换行显示也很不友好。表格列宽不能根据内容自动适应么？Sad...

[2017-09-08 07:34] #1815 closed

[2017-09-08 07:35] icarusion commented on #1814
查询 Vue 文档 ref 用法

[2017-09-08 07:35] #1814 closed

[2017-09-08 07:39] icarusion commented on #1781
The user above is correct

[2017-09-08 07:39] #1781 closed

[2017-09-08 07:39] CharleySc commented on #1717
@Baoyx007 你看少了一个问号了吧 我这是反问句啊

[2017-09-08 08:14] ParkHyomin opened #1829 "有网站盗用你们网站 http://www.html580.com/12371/demo 爱处理不处理"

[2017-09-08 08:27] Tilang commented on #1070
异步数据需要在数据请求完成后设置v-model值，用来触发collapse的watch；

[2017-09-08 08:55] Baoyx007 commented on #1717
找到个解决方法, js设置子树的checked后, 调用下面的代码,  父级节点就能获得半勾选状态.

[code]

[2017-09-08 08:56] xieweijv commented on #1533
回调函数最后恢复selected状态即可
onSelectChange(data) {
    ......
    ......
    data[0].selected = !data[0].selected
}

[2017-09-08 08:59] l619534951 opened #1830 "I can't find all the properties from Docs, Could you please update the Docs"
I can't find all properties from Docs，for example，The 'footerHide' properties of Modal ，I can't find that from Docs，could you please take some time to update the new properties to the Docs when you at leisure.

[2017-09-08 09:47] ae86jung opened #1831 "建议：垂直侧边栏菜单增加左右折叠功能"
建议垂直菜单栏增加左右折叠。折叠效果是折叠后只剩下图标。

[2017-09-08 10:15] NickBang commented on #1806
您好，导出自定义数据的示例 只是控制需要下载的行列过滤器。
![qut o 5 0 intnv0jl nlx](https://user-images.githubusercontent.com/20419087/30207280-8d7fa9b4-94c1-11e7-8d3a-8a9af4335266.png)
Data是一个多维数组，所以并不能填写key。而且我的每一列都需要render处理加工，下载的csv便不包含。

[2017-09-08 11:23] incourage opened #1832 "连着使用2个Select组件，第二个Select选中的option值无法显示"
![Uploading image.png…]()

[2017-09-08 11:34] icarusion commented on #1832
#1807

[2017-09-08 11:34] #1832 closed

[2017-09-08 11:52] NickBang opened #1833 "关于iview table 组件 下载【csv】数据为空的再次提问。抱歉。"
![qut o 5 0 intnv0jl nlx](https://user-images.githubusercontent.com/20419087/30207280-8d7fa9b4-94c1-11e7-8d3a-8a9af4335266.png)
Data是一个多维数组，所以并不明白该如何填写二维数组中的key。还是说table 组件的data 参数 仅支持一维数组，需要使用者把数据整理为一维数组，而并不能仅用render 处理数据之后再下载。

[2017-09-08 11:56] NickBang commented on #1833
如果是使用render 处理过的数据，这个key 并没办法填写。不填写便导致下载之后没有数据。

[2017-09-08 12:37] lslzl3000 commented on #1822
Simple demo: [https://codepen.io/anon/pen/qXzQqj](https://codepen.io/anon/pen/qXzQqj)

[2017-09-08 13:02] kiven1989 opened #1834 "关于重置Page组件我还是没明白。"
业务需求是：
分页组件和表格搭配使用，现在场景是新请求了数据，此时分页器已经切换到了某一页，这时候就需要重置Page组件的显示状态，但没成功（我已经采用了双向数据绑定，将总页数：total，每页条数：page-size，当前页码：current，当重置时就将他们回复初始值 ）

[2017-09-08 16:09] l619534951 opened #1835 "Modal模态框无法垂直区中"
试过下面issues这个，没有用，官网的那个也试过，没有用，都不能够垂直区中显示，请问该怎么解决呢？
#70 **modal窗口垂直居中显示**
[代码图1](https://github.com/l619534951/book-iview/blob/master/6.png)
[代码图2](https://github.com/l619534951/book-iview/blob/master/7.png)

[2017-09-08 17:10] #1835 closed

[2017-09-09 03:37] max-boy commented on #1710
我也有这个需求，有时间提个PR吧！

[2017-09-09 05:06] zhdwwf commented on #1834
使用 current.sync绑定

[2017-09-09 06:17] l619534951 commented on #1571
@shoyuf I have solved the problem with you answer, thank you, Could you please explain the code's mean?
 i'm a student who is learning backend language. 好吧，我还是说中文吧，那个我是学后台这一块的，现在准备写毕业设计，然后准备用使用vue，来写前台，用到了iview，然后遇到这个问题，第一次接触前端模块化开发，不太清楚，你那个代码是什么意思呢？我只知道那个是webpack的配置文件。指教一下，谢谢

[2017-09-09 08:02] #1834 closed

[2017-09-09 09:50] icarusion commented on #1822
本来就是这么设计的。
你可以在 rule 里定义错误提示。
![image](https://user-images.githubusercontent.com/5370542/30239077-57ee8af6-9587-11e7-9fc6-5a58eebaaf8c.png)

[2017-09-09 09:50] #1822 closed

[2017-09-09 09:56] icarusion commented on #1833
Table 可以导出自定义数据，仔细看文档。另，提问请到 SegmentFault，GitHub 只接受 bug report 和 feature request

[2017-09-09 09:56] #1833 closed

[2017-09-09 09:56] #1829 closed

[2017-09-09 09:57] #1811 closed

[2017-09-09 10:42] EryouHao commented on #1831
示例中已经有这种实现了：https://www.iviewui.com/docs/guide/layout

[2017-09-09 10:43] EryouHao commented on #1831
@ae86jung 示例中已经有这种实现了：https://www.iviewui.com/docs/guide/layout

[2017-09-09 14:47] z1126 opened #1838 "希望能够自定义滚动条！"
由于系统重构，发现原来在css中设置好滚动条没有显示，希望能够能够自定义，**如果能修改，请指点一下！**
![image](https://user-images.githubusercontent.com/24568166/30241174-9788c05e-95b0-11e7-9c21-290d89808dcd.png)
使用iview2后，
![image](https://user-images.githubusercontent.com/24568166/30241185-d2330f16-95b0-11e7-8b8c-44b5cd8b57de.png)

[2017-09-09 19:19] lenxeon opened #1839 "modal confirm instance 未支持className"
![image](https://user-images.githubusercontent.com/251825/30243173-ca068342-95d6-11e7-83e0-265eccf93149.png)

图中sg配置无效
![image](https://user-images.githubusercontent.com/251825/30243180-df1ab29e-95d6-11e7-9f80-4960459f6de7.png)

[2017-09-09 19:23] lenxeon opened #1840 "modal上再使用modal，没有对event参数传递或者做阻止冒泡处理，导致外面的modal在mask-closable模式下也被关闭"
modal上再使用modal，没有对event参数传递或者做阻止冒泡处理，导致外面的modal在mask-closable模式下也被关闭

[2017-09-09 19:24] lenxeon commented on #1840
![image](https://user-images.githubusercontent.com/251825/30243212-856e8d96-95d7-11e7-93e3-ca1eff1199bd.png)

[2017-09-09 19:33] lenxeon opened #1841 "建议：Message组件像element中那样处理更大器一些"
建议：Message组件像element中那样处理更大器一些

[2017-09-10 01:15] #1841 closed

[2017-09-10 01:16] icarusion commented on #1839
`class-name` 是给 Modal 用的，不是$Modal

[2017-09-10 01:16] #1839 closed

[2017-09-10 16:03] panmingzhi815 opened #1842 "Tabs关闭最后一个时报错"
当手动关闭所有Tab时，关闭到最后一个Tab会报错，直接在官网的例子中关闭也是会报错的，请作者开启调试看一下输出日志。
这是我测试的官网地址：https://www.iviewui.com/components/tabs

![qq](https://user-images.githubusercontent.com/2888583/30250641-a11fbc10-9684-11e7-85a7-bd6ba3042c6f.png)

[2017-09-11 01:36] #1831 closed

[2017-09-11 02:00] mark0325 opened #1844 "i-form-item 提示未注册"
[Vue warn]: Unknown custom element: <i-form-item> - did you register the component correctly? For recursive components, make sure to provide the "name" option.
(found in <Root>)

[2017-09-11 02:39] asd8510678 commented on #1788
全局覆盖样式就可以解决
.table-panel {
    width: 100%;
  }

table{
    width: 100% !important;
    table-layout: auto;
  }

[2017-09-11 03:20] Baoyx007 opened #1845 "[Feature Request] Tree 组件增加排序和拖拽功能"
就像 ant design 那样: [将节点拖拽到其他节点内部或前后。](https://ant.design/components/tree-cn/#components-tree-demo-draggable)

[2017-09-11 03:25] mashakulaye opened #1846 "Tabs 标签页 在 Modal中 底部横线不显示的问题"
问题：
          modal中使用Tabs 标签页
          弹出对话框后  tabs 底部横线不显示的问题

[2017-09-11 04:12] no5no6 commented on #690
Have a try

[code]

[2017-09-11 05:59] SergioCrisostomo commented on #1830
@l619534951 please be more specific about which methods/properties you do not found.

Our wish is to have the docs 100% updated, but it may be the case that things are missing. Please point us to the missing parts. You are also welcome to send a pull request with the fixes needed.

I'm closing this here since it belongs to https://github.com/iview/iview-doc

[2017-09-11 05:59] #1830 closed

[2017-09-11 06:24] chow-xiang commented on #1016
应该是tabs.vue引起的。
[https://github.com/iview/iview/blob/2.0/src/components/tabs/tabs.vue#L234](https://github.com/iview/iview/blob/2.0/src/components/tabs/tabs.vue#L234)

activeKey值变换时，`this.broadcast('Table', 'on-visible-change', true);`
所以，我想到的方案是，在组件mounted时，$off掉这个事件。
比如：
`this.$refs.versions.$off('on-visible-change')`

[2017-09-11 06:58] thearabbit commented on #690
I tried, but don't know where to put this?
[code]

[2017-09-11 07:42] webees opened #1849 "ivu-select-selected-value 的 html 标签没有被渲染"
版本号 2.3.2

如图，一看就懂，我是想添加样式，使选中后的样式与下拉框中的保持样式一致，但是发现不设置label会被过滤html，设置了却是……
![_20170911153946](https://user-images.githubusercontent.com/5155291/30263529-d34aba7c-9707-11e7-95de-63171ae4040e.png)

[2017-09-11 07:53] webees commented on #1236
升级到2.3.2，依然存在该问题

[2017-09-11 08:06] lauber00 opened #1850 "在tabs标签页中，dropdown下拉菜单被遮挡"
在tabs标签页中，dropdown下拉菜单被遮挡，超出tab页的部分看不到。
这个是因为tabs设置了overflow: hidden的原因。
有没有workaround呢？让dropdown下拉菜单正常显示。

[2017-09-11 08:10] SHISME opened #1851 "DatePicker 的 Type 无法动态改变"
DatePicker 的 Type 动态修改后，前端选择器类型不会变

[2017-09-11 09:28] hainuo opened #1852 "slider是否可以增加多个标记点特性"
类似下面的
![image](https://user-images.githubusercontent.com/421861/30267827-636fb882-96a9-11e7-9d6a-f476cbd1a48e.png)

在我们的实际业务中会遇到  制定多个业绩目标，  这几个业绩目标要展示在同一个进度条上 通过 在进度条上设置点来标记进度是否完成，不知道是否其他人这种开发需求，我这边感觉倒是实际生活中有很多

[2017-09-11 09:48] Refunzhan commented on #1221
这个怎么解决

[2017-09-11 15:33] SergioCrisostomo commented on #1851
@SHISME please provide a jsFiddle or Codepen.

[2017-09-11 15:35] SergioCrisostomo commented on #1221
@Refunzhan I cannot reproduce this problem, `iview` compiles without problems.

If you have a problems compiling iView please open a issue with code to reproduce your problem.

[2017-09-11 15:36] SergioCrisostomo commented on #1849
@webees please add a jsFiddle or Codepen to reproduce your problem.

[2017-09-11 16:18] SergioCrisostomo commented on #1466
@SamShiyun could you recheck if this is still a problem in `2.3.2`? In that case please provide a example.

[2017-09-11 16:19] SergioCrisostomo commented on #1448
@stevenwu2016 version `2.3.2` is out. Is this still a problem?
Can you provide a jsFiddle or Codepen example if the problem still exists?

[2017-09-11 18:44] SergioCrisostomo commented on #880
This is related to how Observables work. Since you only change a property of a array element the changes will not propagate to the Select internals. You can fix this by reseting the array and setting the select value like this: https://jsfiddle.net/gvboutoq/

[2017-09-11 18:44] #880 closed

[2017-09-11 18:59] SergioCrisostomo commented on #476
If we change to be more pretty for `JSX` it could be something like `ivu-` suffixes. Changing this would mean API changes that are not popular. Alternative would be to add synonyms, so we would have both `@on-change` and `on-ivu-change`.

@icarusion what do you think?

[2017-09-11 19:02] SergioCrisostomo commented on #441
We could add `i-` prefix to all components and keep both so far. That would make the API more consistent.

@icarusionwhat do you think?

[2017-09-11 20:32] SergioCrisostomo commented on #1321
@lpreterite could you add a example to reproduce this problem?

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-11 20:42] SergioCrisostomo commented on #1329
@everyday0error could you adapt this jsFiddle to reproduce your problem? https://jsfiddle.net/Sergio_fiddle/LdgLrLc6/

If possible please explain more what the `bug` is.

[2017-09-11 20:51] SergioCrisostomo commented on #1636
@icarusion thank you for feedback.

Question `#1` is clear.

About question `#2`: we could have a `select` with `remote` and not `filter` that would call the remote method when focused.
But this is also possible to do outside the component with not much code.

So I close this for now. 👍

[2017-09-11 20:51] #1636 closed

[2017-09-12 01:19] Refunzhan commented on #1221
@SergioCrisostomo  Thanks for you to reply my question ,when I npm run build my program ,I met follow question ,is any problem with es5 and es6 ??

[2017-09-12 01:21] Refunzhan commented on #1221
@SergioCrisostomo Thanks for you to reply my question ,when I npm run build my program ,I met follow question ,is any problem with es5 and es6 ??

ERROR in static/js/vendor.6cb8570731583c9b326b.js from UglifyJs
Unexpected token: operator (>) [./~/iview/src/mixins/emitter.js:2,0][static/js/vendor.6cb8570731583c9b326b.js:44067,34]

[2017-09-12 01:29] Moriarty93 commented on #1774
不知道能不能出个min-width

[2017-09-12 01:29] icarusion commented on #1221
@Refunzhan more info can be found in https://stackoverflow.com/questions/39329867/uglifyjs-throws-error-unexpected-token-operator and you can search through stackoverflow

[2017-09-12 01:45] SHISME commented on #1851
Sorry i think it is my fault

[2017-09-12 01:59] icksky commented on #1774
我现在临时解决方案是遍历数据，算出当前列最宽的一条数据作为列的宽度。内部系统 就只能先忽略性能了

[2017-09-12 02:18] torytu commented on #1487
+1

[2017-09-12 02:23] lauber00 opened #1853 "[Feature Request] dropdown 下拉菜单增加button group"
dropdown 下拉菜单加入一个按钮，有点击事件，点击右侧箭头显示下拉菜单项。如下图：
![image](https://user-images.githubusercontent.com/18366608/30305213-3cff66ba-97a4-11e7-9723-a5ccff2dbef1.png)
![image](https://user-images.githubusercontent.com/18366608/30305248-63560396-97a4-11e7-93c8-65a1c62ee318.png)

element.io的组件下拉菜单就有这种形式。

[2017-09-12 02:49] SHISME commented on #1851
https://codepen.io/SHISME/pen/WZegre?editors=1111

the selected  dateType item change ,but the DatePicker type dosen't change

[2017-09-12 02:55] SHISME commented on #1851
![image](https://user-images.githubusercontent.com/17661313/30306084-df345dba-97a8-11e7-97e7-6b1e39c831dd.png)

[2017-09-12 03:25] needou opened #1854 "分页bug"
点击分页跳转到到第二页，然后搜索从后台拿去新的数据，吧总数和页码再次传给分页主键，分页组件下面当前页面不会变，理论上会回到指定的页码

![qq 20170912112434](https://user-images.githubusercontent.com/18343113/30306824-ff16c916-97ac-11e7-82c0-2bdd6ebb3713.png)

[2017-09-12 03:50] javady commented on #764
2.3也不支持

[2017-09-12 03:58] sadenwang opened #1855 "table"

[2017-09-12 04:34] zhdwwf commented on #1854
使用 :current.sync='' 绑定

[2017-09-12 05:45] BESTDing opened #1856 "iView按需引入，webpack打包时报错 ERROR in static/js/vendor.f5801a689493c70d6e93.js from UglifyJs Unexpected token name «i», expected punc «;»"
### 打包时的报错信息

**iView版本 `2.3.2`**
**webpack版本 `2.7.0`**
[code]

### webpack配置按照官方文档配置

[code]
错误很明显是`webpack`的打包插件无法处理`es6`的代码。配置已经按照官方文档的说明修改了，但是还是会报错。

另外发现一个奇怪的问题，按需引入打包比完全引入还打包的`size`还要大而且大的多

下面是按需引入打包信息

[code]

下面是完全引入的打包信息

[code]

[2017-09-12 06:16] Baoyx007 opened #1857 "[Feature Request] change validate method in from to promise"
So, it can used as await/async

[2017-09-12 06:23] #1855 closed

[2017-09-12 06:23] icarusion commented on #1854
.sync

[2017-09-12 06:23] #1854 closed

[2017-09-12 06:24] icarusion commented on #1850
use `transfer`

[2017-09-12 06:24] #1850 closed

[2017-09-12 06:25] icarusion commented on #1844
You must use `iview-loader` to use `i-` name. More info can be found in https://www.iviewui.com/docs/guide/iview-loader-en

[2017-09-12 06:25] #1844 closed

[2017-09-12 07:07] SergioCrisostomo commented on #1856
@BESTDing line 5 in `assist.js` is valid syntax: `for (let i = 0; i < validList.length; i++) {`

I think the problem is your webpack or Node.js versions.
 If you want to make a repository on Github I can give a look at it.

I'm closing here since this is not a bug in iview.

[2017-09-12 07:07] #1856 closed

[2017-09-12 07:11] thearabbit commented on #1853
👍

[2017-09-12 07:17] xcodebin opened #1859 "spin不能占满"
父元素只有min-height的情况下，spin无法占满，
table布局问题
https://codepen.io/xcodebin/pen/ZXzwPm

[2017-09-12 07:18] lauber00 commented on #1850
@icarusion 多谢，没注意到这个更新。

[2017-09-12 07:18] RenShine opened #1860 "树型组件不支持增加节点，修改节点title，删除节点"
如题  希望可以添加以上功能

[2017-09-12 07:39] Gscdae opened #1861 "Modal instance 中 this.$Modal.warning(config) 等onOk内部，中断确认操作，无法重置确认按钮的loading状态，建议添加"

[2017-09-12 07:59] zoesusu opened #1862 "遨游或360急速模式下assist.js报错"
![tim 20170912154923](https://user-images.githubusercontent.com/29087026/30314281-d5fb7d12-97d2-11e7-898c-7be73cbd2262.png)

![tim 20170912154914](https://user-images.githubusercontent.com/29087026/30314400-3468a898-97d3-11e7-928e-600dbb08899f.png)

如图
 iview 版本2.0.0

[2017-09-12 08:20] humin332 opened #1863 "RadioGroup"

[2017-09-12 09:07] xionggen opened #1864 "自定义主题提示主题变量文件找不到"
![image](https://user-images.githubusercontent.com/16712701/30317390-92ea6768-97dc-11e7-8852-249047986491.png)
我按照官网上定制主题的第一种方式修改的主题变量来覆盖，但一直提示文件找不到，检查了路径应该没有问题，请问是什么原因？上面是配置截图

[2017-09-12 09:41] SergioCrisostomo commented on #1862
@zerooverture you need to use webpack to compile the code. That file uses [default function parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters) and give error if compiled in old versions of Node.js or without webpack/babel transpiler.

I'm closing this. If you still have problems please post a link to the repository or check in Stackoverflow

[2017-09-12 09:41] #1862 closed

[2017-09-12 09:43] SergioCrisostomo commented on #1863
请提交与 [Bug Report] 或 [Feature Request] 相关的 issues，对于一般提问，请先查阅已有 issues，仔细阅读 Vue 文档和 iView 文档
对于如何使用的问题，建议您到 SegmentFault 平台直接提问
请提供能够复现问题的在线链接或 repo，否则可能将直接关闭您的问题
使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-12 09:43] #1863 closed

[2017-09-12 09:52] sishen0112 opened #1865 "[Bug Report] Select remote bug"
选择器远程搜索Bug, 输入某个字符后选择其中一项, 再选择文本框后, **不按退格键**直接输入其他字符替换文本框文字后出现选项, 点选某一项时所显示的选项和所选择的选项不一致.

[2017-09-12 09:54] icarusion commented on #1864
可能是 less 配置的不对，参照这里的配置 https://github.com/iview/iview-project 如有问题再 reopen

[2017-09-12 09:54] #1864 closed

[2017-09-12 10:04] icarusion commented on #1865
Translation:
`Select`  `remote` search Bug, choose one after input a character, then select an item, do not press the backspace key, direct input other characters appear after replacing textbox text options, click on the one shown when the options do not match the selected options.

The example on the official website can be restored

[2017-09-12 10:26] luogan210 commented on #1606
遇到了这个问题，我是这样用的   :type="getType()",返回默认样式的时候我认为是返回 “default”，然而控制台一直报同样的错误，后来改成   “”，还是不行，最后改成 null 就ok，感觉在实现这个Button的时候有些奇怪，手册中说 type 的类型是 String，然而这种绑定的时候的设置默认反而需要设置称 null！ 这里是不是bug！

[2017-09-12 10:27] icarusion commented on #1606
更新到 2.3.2

[2017-09-12 10:27] #1606 closed

[2017-09-12 11:33] Su9Tail opened #1866 "有考虑过增加可编辑的表格吗"
这两天在用render函数，发现自己对render函数的了解还是不大透彻，看过iview的实战讲座，还是一知半解。想问下有没有计划做一个可编辑的表格，即在表格内嵌套表单。

因为是询问类问题，所以没按照要求提Issue， 见谅。

[2017-09-12 11:34] thearabbit commented on #1606
💯

[2017-09-12 15:13] txd159 commented on #1846
同样的问题,查看页面代码,发现在页面渲染出来以后, **ivu-tabs-ink-bar** 这个元素没有被正确设置width.
导致它的width是0,所以不显示

[2017-09-12 17:11] xiayx opened #1867 "DatePicker不渲染"
参考[教程](https://www.iviewui.com/docs/guide/install)，添加了DatePicker，但DatePicker不渲染？

[code]

[2017-09-12 20:59] SergioCrisostomo commented on #1867
@xiayx did you add `Vue.use(iView);`?

Anyway you can use `Date-Picker`: https://codepen.io/sergiocrisostomo/pen/LzYjNz

[2017-09-12 20:59] #1867 closed

[2017-09-13 01:30] cn-xufei commented on #1667
对啊，超出隐藏的配置都出来了，很需要title属性 +1🙃

[2017-09-13 02:14] xiayx commented on #1867
DatePicker -> Date-Picker, 谢啦

[2017-09-13 02:25] zhengmiaohua opened #1869 "进度条弹框组件传递一个percent， 100%后关闭弹框，再次打开弹窗此时percent为100如何将其置为0"

[2017-09-13 03:33] BengBu-YueZhang opened #1870 "[建议] 日期选择组件，是否可以添加一个多选的功能"
[建议] 日期选择组件，是否可以添加一个多选的功能

[2017-09-13 05:36] webees opened #1871 "【bug】Modal instance"
vue版本：2.4.2
iview版本：2.3.2
Browser：electron 1.7.6

使用方式：
[code]

报错如下：
`[Vue warn]: $listeners is readonly.`
`Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "width"`

[2017-09-13 05:39] SergioCrisostomo commented on #1870
duplicate of https://github.com/iview/iview/issues/1324

[2017-09-13 05:39] #1870 closed

[2017-09-13 05:42] SergioCrisostomo commented on #1871
@webees can you provide a example in jsFiddle or codepen when this behaviour happens?

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-13 05:44] SergioCrisostomo commented on #1869
@zhengmiaohua can you post here a link to a example online that reproduces the problem?

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-13 05:46] SergioCrisostomo commented on #1846
@mashakulaye, @txd159 can you provide a example of this problem?

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-13 06:28] txd159 commented on #1846
https://codepen.io/oakpot/pen/QqWxrg

一个复现问题的demo. 当modal打开的时候,tab 1的标签下是没有横线的, 由于ivu-tabs-ink-bar 这个元素没有获得width

[2017-09-13 06:35] #1869 closed

[2017-09-13 06:36] icarusion commented on #1866
暂时还无此计划，可以基于 Render 自己实现。

[2017-09-13 06:36] #1866 closed

[2017-09-13 06:48] icarusion commented on #1846
@txd159 you can use `v-if` to resolve it now:
[code]
When the Modal is hidden, Tabs can not get width, maybe i will optimize in the future.

[2017-09-13 06:52] Sasha-XS opened #1872 "[Bug Report] DatePicker手动输入问题"
手动输入删除或者输入的数据不符合规则时，失焦后控件的现实值直接变回上一次选择的日期，然后hover的时候日期控件的输入框显示的是新输入的内容，导致取到的实际值与显示的值不相符，是否可以多提供一个手动输入后的回调

[2017-09-13 06:58] SergioCrisostomo commented on #1872
@Sasha-XS can you please add a code example so we can see the problem live?

使用下面的在线链接可以快速创建示例
https://codepen.io/sergiocrisostomo/pen/JrjBNd

[2017-09-13 07:00] txd159 commented on #1846
Yes,` v-if ` works .   I look forward to the optimization .After all ` v-if ` is redundant logic here .
BTW, iview is a awesome framework 😁

[2017-09-13 07:06] #1842 closed

[2017-09-13 07:31] kiddkyd1412 opened #1873 "table在可展开列里放另一个table，内层table会出现各种ui问题"
https://codepen.io/anon/pen/wrvxRx

问题：
1.内嵌的table宽度不合理，导致背景看到部分白色
2.设置的highlight-row，在第奇数行无效
3.设置的stripe无效

[2017-09-13 08:09] icarusion commented on #1873
我这里测试没有问题，你可以看看我的示例。
`tableExpand.vue`:
[code]

`table.vue`:
[code]

[2017-09-13 08:09] #1873 closed

[2017-09-13 08:17] kiddkyd1412 commented on #1873
@icarusion 你用什么浏览器没问题的？

[2017-09-13 08:19] icarusion commented on #1873
你的 demo 没细看，但是有问题，但同理，我写的是可以的，你可以试试，chrome mac

[2017-09-13 08:23] kiddkyd1412 commented on #1873
你意思是这个内嵌的一定要用import expandRow引入吗？
如果是这样的话，每个页面如果都不一样的内嵌内容的话，是不是要新建很多.vue文件？

[2017-09-13 08:52] kiddkyd1412 commented on #1873
我是普通页面的环境，没有用webpack打包，测试不了你的例子

[2017-09-13 09:08] abielzhang opened #1874 "Modal垂直居中失效"
按照官网的demo写的 不能垂直居中
https://codepen.io/abielzhang/pen/VMwVpj
![image](https://user-images.githubusercontent.com/21165482/30369164-15e24d1a-98a6-11e7-8c09-46e22a30833b.png)

[2017-09-13 09:36] alvinjstu opened #1875 "升级后几个优化建议"
1、Autocompelete 控件，下拉数据比较多情况下，选择就会出现问题，通常选不上
2、upload 控件在上传后显示list   .ivu-upload-list这个项最好加个 postion:absolute
3、molda在升级后，里面的样式已经不太好控制，这样的情况，在badge等控件中好像也出现了

[2017-09-13 09:38] icarusion commented on #1874
没写 css

[2017-09-13 09:38] #1874 closed

[2017-09-13 10:38] VanMess commented on #1599
所以解决了吗？我也遇到这个问题了，版本：2.2.0

[2017-09-13 11:51] SergioCrisostomo commented on #1599
@VanMess do you have time to contribute to the fix?

If you have possibility to test in IE9 and IE10 I think we just need to add the polyfill

    import 'core-js/fn/date/now';

here: https://github.com/iview/iview/blob/v2.3.2/src/index.js#L2-L3.
Because [IE9 and IE10 do not have `Date.now()`](https://caniuse.com/#search=Date.now).

[2017-09-13 17:14] kernnel commented on #1857
使用await/async和validate没关系，你可以这样写
[code]

[2017-09-14 02:03] Baoyx007 commented on #1857
这样写还是回调的方式, 更希望能这么写:
[code]

[2017-09-14 02:27] shoyuf commented on #1571
uglifyJS 不支持 ES6导致的打包 iview 工具报的错

原始邮件
发件人:沙滩上de水瓶notifications@github.com
收件人:iview/iviewiview@noreply.github.com
抄送:Shoyuffanxiangyu2014@gmail.com; Mentionmention@noreply.github.com
发送时间:2017年9月9日(周六) 14:17
主题:Re: [iview/iview] 使用官方脚手架创建项目时报错 Unexpected token name «i», expected punc «;» (#1571)

@shoyuf I have solved the problem with you answer, thank you, Could you please explain the code's me

[2017-09-14 03:10] webproblem commented on #1220
现在date-picker日期datetimerange的值时数组形式 `[date1, date2]`,但是没有考虑到兼容以前的版本写法 `date1 - date2`，在项目更新iview版本时，由于新版本不兼容以前的写法，导致必须修改项目中所有涉及的代码。

[2017-09-14 03:24] App1905 commented on #1088
try
[code]

[2017-09-14 03:31] needou opened #1877 "建议增加美化页面滚动条组件"
类似jquery的nicescroll 插件，保持界面不被滚动条撑开

[2017-09-14 06:45] #1851 closed

[2017-09-14 07:24] Gscdae opened #1880 "Tree组件在初次渲染时，组件渲染有错位"
https://codepen.io/anon/pen/xXbpPq

Tree组件在页面初次渲染时，会加载  collapse-transition 的动画组件，影响了TREE组件本身的渲染，
具体表现是   每个节点的行高（或是padding）会先变大，再恢复原有的样子

初次渲染，若父节点没有children时，点击选择框，也会有 该现象

[2017-09-14 07:49] #1865 closed

[2017-09-14 08:09] ricosmall opened #1881 "建议Message组件的提示框采用瀑布队列模式而非覆盖模式"
需求：Message提示框采用瀑布队列模式。

![image](https://user-images.githubusercontent.com/18362949/30418781-b8a8e868-9966-11e7-925f-08faaf53c4fe.png)

[在线示例](https://codepen.io/ricosmall/pen/eGmVpW)

当前的Message提示框采用的是覆盖式，如下图：

![image](https://user-images.githubusercontent.com/18362949/30418842-eb2701c6-9966-11e7-9aea-554a18036182.png)

问题：不方便查看连续产生的堆栈错误。

[2017-09-14 09:02] icarusion commented on #1881
@ricosmall You can replace it with Notice. The Message is not designed for this purpose.

[2017-09-14 09:05] icarusion commented on #1881
@SergioCrisostomo AntDesign update it's Message design:
https://ant.design/components/message

Maybe we can optimize it as a new feature in 2.4.0.

[2017-09-14 09:06] icarusion commented on #1881
#1789

[2017-09-14 09:11] ricosmall commented on #1881
But I think it is appropriate to add this as an optional `props`. Because the Notice is aside the screen, sometimes it is not obvious enough. When I decide to use the Message to show stack error, I have no choice.

[2017-09-14 09:25] ricosmall commented on #1881
@SergioCrisostomo @icarusion I compared the Message component of AntDesign and the same component of [AT-UI](https://at-ui.github.io/at-ui/#/zh/docs/message), I found that the animation of the latter one is more smoother than the former one, just FYI. The browser of mine is Chrome 60 on Mac.

[2017-09-14 09:26] ricosmall commented on #1763
@icarusion 这个bug会修复么？

[2017-09-14 09:31] qqhaodong opened #1882 "工程改名后，网页的标题还是iview project"
我使用脚手架工具生成的项目，给index的<title></title>修改后（包括ejs，html），在加载的时候显示的是我修改的名字，但完成加载的时候却显示iview project这个名字，包括检查里面。我该如何解决？

[2017-09-14 09:37] #1882 closed

[2017-09-14 11:40] ckeyer opened #1884 "建议支持Notify有鼠标悬停时，暂停销毁计时"
希望当鼠标移动到notify框内时，停止对其销毁的计时，移开后再继续计时销毁

[2017-09-14 12:10] #1881 closed

[2017-09-15 00:39] yangdan8 commented on #1404
如果是不watch子对象,那么在三个自对象的时候又为什么正常呢?请看这个例子
https://jsfiddle.net/3feecwmp/3/

[2017-09-15 00:41] yangdan8 commented on #1428
没有见到有这个操作和api说明,也没有看到有计划开发

[2017-09-15 00:55] yangdan8 opened #1885 "Form验证需要简化prop,不应该要求一定要写那么深的对象访问路径"
Form验证需要简化prop,不应该要求一定要写那么深的对象访问路径
请见以下实例中的name,如果不写上对应的值的详细路径,验证时就把它当作根对象的属性去获取值了.
能否应该有个简化的实现,这里的prop应该直接取其内部元素的值,
然后跟验证规则去验证即可,而不是根据prop提供的路径.

https://jsfiddle.net/j0q12fsh/26/

[2017-09-15 00:57] yangdan8 commented on #1709
v-show在tabs中根本没有办法使用,这个issue就关了?

[2017-09-15 02:25] weihongyu12 commented on #1780
可否在官网教程增加一下JSX的使用文档，感觉使用的频率蛮高的

[2017-09-15 02:29] weihongyu12 commented on #1780
建议在官网加一下教程，感觉使用频率蛮高

[2017-09-15 02:42] gitzhangfugui opened #1886 "select组件在ie10中，控制台报错，并且导致导航拉伸"
select组件在ie10中，控制台报错，并且导致导航拉伸，初步怀疑是指令导致transfer-dom.js

希望尽快处理，谢谢！

例如官网：https://www.iviewui.com/components/select

![qq 20170915103819](https://user-images.githubusercontent.com/30425581/30464086-05093438-9a02-11e7-8dff-d5fe998e01ae.png)
![qq 20170915103948](https://user-images.githubusercontent.com/30425581/30464122-37ded2d2-9a02-11e7-8742-4405c3d642ac.png)

[2017-09-15 02:45] belongwqz opened #1887 "iView Loader很鸡肋，建议去掉"
iView Loader很鸡肋，建议去掉，直接统一所有便签，也不要区分对待弄一个“i-”开头的，像elementui一样比较好，减少用户的麻烦。

[2017-09-15 02:46] #1887 closed

[2017-09-15 02:52] icarusion commented on #1877
无此计划，建议直接用现成的插件

[2017-09-15 02:52] #1877 closed

[2017-09-15 02:53] icarusion commented on #1852
`Slider` 无此计划，你可以考虑是否用 `Steps` 组件代替。

[2017-09-15 02:53] #1852 closed

[2017-09-15 03:05] icarusion commented on #1853
事实上本来就可以用，需要一点技巧。
[code]

[2017-09-15 03:05] #1853 closed

[2017-09-15 03:38] PerttyZhan opened #1888 "Table,renderHeader第一个参数不是h吗"

[2017-09-15 03:40] xxliud commented on #1520
刚发现的问题，绑定了v-model on-change事件触发了8次

[2017-09-15 03:40] gitzhangfugui commented on #1886
@icarusion 你好，现在有临时的解决方案吗，可以给我参考一下，谢谢

[2017-09-15 03:44] #1810 closed

[2017-09-15 03:51] icarusion commented on #1888
是

[2017-09-15 03:51] #1888 closed

[2017-09-15 03:52] icarusion commented on #248
AutoComplete has been added to 2.2.0

[2017-09-15 03:52] #248 closed

[2017-09-15 03:53] icarusion commented on #254
fixed in 2.3.0

[2017-09-15 03:53] #254 closed

[2017-09-15 03:54] #279 closed

[2017-09-15 03:55] icarusion commented on #323
Update the latest version

[2017-09-15 03:55] #323 closed

[2017-09-15 03:59] icarusion commented on #357
iView 1.0  不再维护

[2017-09-15 03:59] #357 closed

[2017-09-15 04:02] icarusion commented on #376
Tree 的逻辑如此，也可以使用 Checkbox 自己封装

[2017-09-15 04:02] #376 closed

[2017-09-15 04:09] icarusion commented on #431
时间比较长了，很多应该都已经更新了，建议再看一下，然后单开 issue 吧。

[2017-09-15 04:09] #431 closed

[2017-09-15 04:09] icarusion commented on #443
更新最新版

[2017-09-15 04:09] #443 closed

[2017-09-15 04:14] icarusion commented on #441
You can use [iview-loader](https://www.iviewui.com/docs/guide/iview-loader).

@SergioCrisostomo I've been thinking about this for a long time, and I've talked to some of the developers, and I think, the current component naming method is freedom and be consistent with AntDesign.

[2017-09-15 04:14] #441 closed

[2017-09-15 04:15] #416 closed

[2017-09-15 04:17] icarusion commented on #476
@SergioCrisostomo I thought about that before, we can keep `@on-change` and add `@change` in 3.0.0.

[2017-09-15 04:32] kiddkyd1412 opened #1889 "ColorPicker不支持在非template环境下使用"
https://codepen.io/anon/pen/oGXYRV

[2017-09-15 04:49] kiddkyd1412 opened #1890 "switch开关组件不能完全显示里面的文字"
https://codepen.io/anon/pen/Qqbdbg

[2017-09-15 05:46] paolog22 opened #1891 "Not Responsive?"
awesome components !. but not responsive ?
please make it responsive

[2017-09-15 05:50] icarusion commented on #1891
https://github.com/iview/iview/pull/1607#issuecomment-329338855

[2017-09-15 05:50] #1891 closed

[2017-09-15 05:53] #460 closed

[2017-09-15 05:55] #506 closed

[2017-09-15 05:57] icarusion commented on #542
Update to the latest version.

[2017-09-15 05:57] #542 closed

[2017-09-15 05:58] icarusion commented on #586
可以使用自定义排序

[2017-09-15 05:58] #586 closed

[2017-09-15 05:59] icarusion commented on #587
Add new events in the future.

[2017-09-15 05:59] #599 closed

[2017-09-15 06:00] icarusion commented on #606
Update to the latest version.

[2017-09-15 06:00] #606 closed

[2017-09-15 06:00] #615 closed

[2017-09-15 06:05] icarusion commented on #630
I don't think it's necessary

[2017-09-15 06:05] #630 closed

[2017-09-15 06:05] #641 closed

[2017-09-15 06:06] icarusion commented on #662
Update to the latest version.

[2017-09-15 06:06] #662 closed

[2017-09-15 06:09] icarusion commented on #680
校验类型不对

[2017-09-15 06:09] #680 closed

[2017-09-15 06:09] icarusion commented on #684
Update to the latest version

[2017-09-15 06:09] #684 closed

[2017-09-15 06:11] icarusion commented on #686
You can manually set animated

[2017-09-15 06:11] #686 closed

[2017-09-15 06:13] #689 closed

[2017-09-15 06:22] #710 closed

[2017-09-15 06:23] #722 closed

[2017-09-15 06:25] #731 closed

[2017-09-15 06:25] icarusion commented on #735
1.0 不再维护。

[2017-09-15 06:25] #735 closed

[2017-09-15 06:25] icarusion commented on #749
Update to the latest version.

[2017-09-15 06:25] #749 closed

[2017-09-15 06:26] icarusion commented on #753
Update to the latest version.

[2017-09-15 06:26] #753 closed

[2017-09-15 06:27] icarusion commented on #772
数据过多，建议分页。

[2017-09-15 06:27] #772 closed

[2017-09-15 06:28] icarusion commented on #796
Use `v-if` instead

[2017-09-15 06:28] #796 closed

[2017-09-15 06:31] lauber00 commented on #1853
试了一下，确实可以，非常感谢。
不过还个有问题，我这边是用render函数渲染的dropdown，在render函数里面不知道怎么写。。。

`render: (h, params) => {
            return h('Dropdown', {
              props: {
                placement: 'bottom-start',
                trigger: 'click',
                transfer: true
              },
              on: {
                'on-click': (item) => {
                  switch (item) {
                    case '

[2017-09-15 06:31] #817 closed

[2017-09-15 06:35] #832 closed

[2017-09-15 06:35] icarusion commented on #435
不再维护 1.0

[2017-09-15 06:35] #435 closed

[2017-09-15 06:38] icarusion commented on #838
目前的结构可能无法实现。

[2017-09-15 06:39] icarusion commented on #840
Use `transfer` prop.

[2017-09-15 06:39] #840 closed

[2017-09-15 06:40] #847 closed

[2017-09-15 06:48] #860 closed

[2017-09-15 06:51] icarusion commented on #875
对 Flex 兼容不太好，可以使用其它布局。

[2017-09-15 06:51] #875 closed

[2017-09-15 06:52] icarusion commented on #876
暂无此计划。

[2017-09-15 06:52] #876 closed

[2017-09-15 06:52] PerttyZhan opened #1892 "Table， renderHeader的用法"
columns:[
{
						key: 'status',
						// title: '状态',
						renderHeader (h, params) {
							return h('Tooltip', {content: '这是提示'}, '提示')
						}
					},
]

提示我h并没有一个函数

[2017-09-15 07:01] PerttyZhan opened #1893 "renderHeader无效"
iview版本2.32
columns: [
					{
						key: 'created_at',
						title: '上传时间'
					},
					{
						key: 'file_name',
						title: '视频名称'
					},
					{
						key: 'file_size',
						title: '视频大小'
					},
					{
						key: 'file_time',
						title: '视频时长'
					},
					{
						key: 'status',
						renderHeader (h, params) {
							return h('Tooltip', {
								content: '转码后的视频才能查看'
							}, '状态')

[2017-09-15 07:02] #1893 closed

[2017-09-15 07:31] lockontan commented on #1781
假如你绑定的table的数据是tableData，input数据改变的时候你把整行的数据替换掉，就不会造成table重新渲染，导致input失焦了
h('InputNumber', {
                props: {
                  value: parseInt(params.row.total),
                  size: 'small',
                  min: 0
                },
                on: {
                  input: (value) => {
                    params.row.total = value
                    this.tableData[params.index

[2017-09-15 07:54] #878 closed

[2017-09-15 07:55] #898 closed

[2017-09-15 07:57] #904 closed

[2017-09-15 08:03] icarusion commented on #919
#699

[2017-09-15 08:03] #919 closed

[2017-09-15 08:05] icarusion commented on #931
updated

[2017-09-15 08:05] #931 closed

[2017-09-15 08:15] hurrry opened #1894 "hope Notice support left,bottom"
this.$Notice.config({
    top: 50,
    duration: 3
});

hope to support this:

this.$Notice.config({
    left: 50,
    bottom:50,
    duration: 3
});

[2017-09-15 08:24] 15700353375 opened #1895 "DatePicker的属性options对象的disabledDate函数怎么不能监听开始时间变化后禁用结束时间小于开始时间，也就是不能实时改变禁用。"

[2017-09-15 08:27] 15700353375 commented on #1895
![image](https://user-images.githubusercontent.com/23250986/30473340-b39069a6-9a32-11e7-80a2-f1c2f2292a66.png)

[2017-09-15 08:41] qq986063761 commented on #1872
![image](https://user-images.githubusercontent.com/18366007/30473402-eede270a-9a32-11e7-8672-94bce75b57a0.png)
上图中先选择一个正确的日期，之后手动输入到只有年份（这里我格式应该yyyy-MM-dd才正确，那输入只剩年份的时候应当算输入格式有问题），当我失去焦点或者按下enter之后，数据会还原成前一次正确的格式，这本来没有问题，但是当什么也不做，然后将鼠标再次hover回到输入框内的时候，值又变回了错误值。
![image](https://user-images.githubusercontent.com/18366007/30473986-c0bd0754-9a34-11e7-9355-901f8be45933.png)
不是已经之前失去焦点之后校正过了么，为何再hover回

[2017-09-15 08:42] zhdwwf commented on #1893
renderHeader:(h,params)=>{}

[2017-09-15 08:47] diguage opened #1896 "引入这个组件后，压缩报错"
基本环境：

- "vue": "^2.2.2",
- "iview": "^2.3.2",
- "webpack": "^2.2.1",

压缩时报错，错误日志如下：

[code]

[2017-09-15 08:52] SergioCrisostomo commented on #1896
@diguage this is not iview library related, its more webpack/babel config.

You can check duplicated issues for this [here (link)](https://github.com/iview/iview/search?q=UglifyJS&state=closed&type=Issues&utf8=%E2%9C%93), specially [this one](https://github.com/iview/iview/issues/1279),  or check out Stackoverflow.

[2017-09-15 08:52] #1896 closed

[2017-09-15 09:03] icarusion commented on #967
Update to the latest version.

[2017-09-15 09:03] #967 closed

[2017-09-15 09:03] icarusion commented on #970
Update to the latest version.

[2017-09-15 09:03] #970 closed

[2017-09-15 09:05] #972 closed

[2017-09-15 09:06] icarusion commented on #975
要去了解如何在 Render 中使用 `v-model`

[2017-09-15 09:06] #975 closed

[2017-09-15 09:06] #977 closed

[2017-09-15 09:07] icarusion commented on #979
The answer above is correct

[2017-09-15 09:07] #979 closed

[2017-09-15 09:09] #980 closed

[2017-09-15 09:10] #994 closed

[2017-09-15 09:10] icarusion commented on #1001
Update to the latest version.

[2017-09-15 09:10] #1001 closed

[2017-09-15 09:11] icarusion commented on #1002
暂无此计划。

[2017-09-15 09:11] #1002 closed

[2017-09-15 09:11] #1004 closed

[2017-09-15 09:12] icarusion commented on #1016
Update to the latest version.

[2017-09-15 09:12] #1016 closed

[2017-09-15 09:14] icarusion commented on #1018
#476

[2017-09-15 09:14] #1018 closed

[2017-09-15 09:14] #1029 closed

[2017-09-15 09:15] icarusion commented on #1030
The answer above is correct

[2017-09-15 09:15] #1030 closed

[2017-09-15 09:15] icarusion commented on #1032
Update to the latest version.

[2017-09-15 09:15] #1032 closed

[2017-09-15 09:17] mashakulaye commented on #1846
谢谢 问题解决了！

[2017-09-15 09:17] icarusion commented on #1051
要指定验证类型，去看[async-validator](https://github.com/yiminghe/async-validator)文档

[2017-09-15 09:17] #1051 closed

[2017-09-15 09:19] #1061 closed

[2017-09-15 09:19] #1065 closed

[2017-09-15 09:20] #1071 closed

[2017-09-15 09:21] #1075 closed

[2017-09-15 09:21] icarusion commented on #1074
The answer above is correct

[2017-09-15 09:21] #1074 closed

[2017-09-15 09:23] icarusion commented on #1076
更新至最新版。
1. 维护好你的数据。
2. 暂无此计划。

[2017-09-15 09:23] #1076 closed

[2017-09-15 09:24] icarusion commented on #1078
Update to the latest version.

[2017-09-15 09:24] #1078 closed

[2017-09-15 09:24] icarusion commented on #1085
Update to the latest version.

[2017-09-15 09:24] #1085 closed

[2017-09-15 09:25] #1095 closed

[2017-09-15 09:27] #1129 closed

[2017-09-15 09:28] icarusion commented on #1132
暂时无法支持。

[2017-09-15 09:28] #1132 closed

[2017-09-15 09:28] #1144 closed

[2017-09-15 09:32] icarusion commented on #1159
直接修改 `data`

[2017-09-15 09:32] #1159 closed

[2017-09-15 09:32] #1162 closed

[2017-09-15 09:33] #1163 closed

[2017-09-15 09:36] icarusion commented on #1164
Update to the latest version.If there is any problem, please open another issue

[2017-09-15 09:36] #1164 closed

[2017-09-15 09:36] #1173 closed

[2017-09-15 09:36] icarusion commented on #1180
Use `transfer` prop.

[2017-09-15 09:36] #1180 closed

[2017-09-15 09:37] #1184 closed

[2017-09-15 09:37] icarusion commented on #1182
Use `transfer` prop.

[2017-09-15 09:37] #1182 closed

[2017-09-15 09:38] #1189 closed

[2017-09-15 09:38] icarusion commented on #1200
Use `v-if`

[2017-09-15 09:38] #1200 closed

[2017-09-15 09:39] icarusion commented on #1203
Use `transfer` prop.

[2017-09-15 09:39] #1203 closed

[2017-09-15 09:39] icarusion commented on #1204
Update to the latest version.If there is any problem, please open another issue.

[2017-09-15 09:39] #1204 closed

[2017-09-15 09:40] #1210 closed

[2017-09-15 09:44] icarusion commented on #1219
Update to the latest version.If there is any problem, please open another issue.

[2017-09-15 09:44] #1219 closed

[2017-09-15 09:44] #1225 closed

[2017-09-15 09:45] icarusion commented on #1245
The answer above is correct

[2017-09-15 09:45] #1245 closed

[2017-09-15 09:45] BengBu-YueZhang opened #1897 "您好，关于Tree组件的小小的建议"
组件相关

不是

只是建议

您好，对于Tree组件，为什么不能支持直接使用JS控制呢？修改了checked值，虽然也会响应，但是父级并不会响应，需要调用，实例的updateData方法，但是updateData也没有提供在文档中，通过翻阅源码才知道的。

[2017-09-15 09:46] icarusion commented on #1249
#1249

[2017-09-15 09:46] #1249 closed

[2017-09-15 09:46] #1263 closed

[2017-09-15 09:46] #1273 closed

[2017-09-15 09:47] icarusion commented on #1275
The answer above is correct

[2017-09-15 09:47] #1275 closed

[2017-09-15 09:48] icarusion commented on #1276
暂无次计划。

[2017-09-15 09:48] #1276 closed

[2017-09-15 09:48] #1228 closed

[2017-09-15 09:49] #1288 closed

[2017-09-15 09:51] icarusion commented on #1287
Update to the latest version and set correct `key`. If there is any problem, please open another issue.

[2017-09-15 09:51] #1287 closed

[2017-09-15 09:51] icarusion commented on #1289
Future optimization is planned.

[2017-09-15 09:51] #1289 closed

[2017-09-15 09:52] icarusion commented on #1303
#1289

[2017-09-15 09:52] #1303 closed

[2017-09-15 09:53] icarusion commented on #1305
Read doc.

[2017-09-15 09:53] #1305 closed

[2017-09-15 09:54] docikaci commented on #1305
@icarusion 文档没有找到对应的方法，才来这里问下呢  直接关了呀？

[2017-09-15 09:55] icarusion commented on #1321
Why empty

[2017-09-15 09:55] #1321 closed

[2017-09-15 09:56] #1323 closed

[2017-09-15 09:58] #1327 closed

[2017-09-15 09:58] #1329 closed

[2017-09-15 09:58] #1339 closed

[2017-09-15 09:59] icarusion commented on #1333
Future optimization is planned

[2017-09-15 09:59] icarusion commented on #1346
Use `transfer` prop.

[2017-09-15 09:59] #1346 closed

[2017-09-15 10:02] #1356 closed

[2017-09-15 10:03] #1358 closed

[2017-09-15 10:05] #1364 closed

[2017-09-15 10:10] icarusion commented on #1368
Update to the latest version.If there is any problem, please open another issue.

[2017-09-15 10:10] #1368 closed

[2017-09-15 10:20] icarusion commented on #1372
会在文档补充

[2017-09-15 10:45] #1373 closed

[2017-09-15 11:05] needou commented on #1061
v-if试过无效，有个比较贱的方法，直接处理uploadList ，异步获取数据后赋值uploadImgList.push({
                                    url:‘url’ ,
                                    showProgress:false,
                                    status : 'finished'
                                });
上传成功后回调也直接uploadImgList.push({
                                    url:‘url’ ,
                                    showProgress:false,

[2017-09-15 12:10] cyzeng-Luca opened #1898 "get event about DatePicker"
hi,  i have to get event object to do something in "on-open-change",but i find it return Boolean for us ,i try many way to get event object,but it didn't work.
     how can i get event object in  "on-open-change" ?

[2017-09-15 15:45] rijn commented on #1709
@yangdan8 I know that. It's my mistake. You cannot use `v-show` in Tabs. What I suggest is you could call rerender the whole Tabs component when you going to insert tabs.

[2017-09-15 15:50] rijn commented on #1898
`on-open-change` only returns whether the picker is open. Could you specify why you need to use the event in your application?

[2017-09-15 15:53] rijn commented on #1890
The Switch will not expand if the inner text is too long.

[2017-09-15 16:18] bkrtrip opened #1899 "能否贡献iview 的Axure的部件库"
如ant design 贡献的部件库，对于做产品的就太方便了，如有万分感谢！

[2017-09-16 01:46] 15700353375 commented on #1895
https://codepen.io/changh/pen/YrXoRw

[2017-09-16 01:54] cyzeng-Luca commented on #1898
Because i want to use "disabledDate" of DatePicker options. I find a strange phenomenon, i use two DatePicker like this
`
<DatePicker type="date" :options="optionsStart" placeholder="startTime"></DatePicker>
<DatePicker type="date" :options="optionsEnd" placeholder="startEnd"></DatePicker>
`
   and i will dynamic update " optionsStart" or "optionsEnd" for disabledDate  in "on-change" event, becaus

[2017-09-16 04:50] qq986063761 opened #1901 "可编辑情况下的日期输入问题"
![image](https://user-images.githubusercontent.com/18366007/30509223-99fccbdc-9add-11e7-9740-e327f6625b01.png)
上图中先选择一个正确的日期，之后手动输入到只有年份（这里我格式应该yyyy-MM-dd才正确，那输入只剩年份的时候应当算输入格式有问题），当我失去焦点或者按下enter之后，数据会还原成前一次正确的格式，这本来没有问题，但是当什么也不做，然后将鼠标再次hover回到输入框内的时候，值又变回了错误值。
![image](https://user-images.githubusercontent.com/18366007/30509220-9306f00a-9add-11e7-9c59-2e676e40beb7.png)
不是已经之前失去焦点之后校正过了么，为何再hover回

[2017-09-16 06:28] dean5277 opened #1902 "为什么Select 的value用比较符号的时候会给替换成HTML代码？"
https://jsfiddle.net/1tu1cmjd/8/

有没有办法显示 ><

[2017-09-16 06:48] marxy commented on #1871
you can fix this problem by upgrade to vue2.4.4.

[2017-09-16 06:48] dean5277 commented on #1902
如果是做了过滤，那么&gt;这些应该转换回来才对吧

[2017-09-16 07:02] pollux2015 opened #1903 "请问在单击表格行时on-row-click, 怎么实现选中前面的多选复选框??"
请问在单击表格行时on-row-click, 怎么实现选中前面的多选复选框??
![image](https://user-images.githubusercontent.com/11935278/30510054-0a4633d0-9af0-11e7-8e8f-f20d01790bd0.png)

[2017-09-16 13:47] XingxingLIU123 commented on #1597
刚好遇到这个问题，学习了

[2017-09-16 14:00] XingxingLIU123 commented on #1401
我有也这样的需求，我是用card自己模拟了个modal，加上拖动事件

[2017-09-16 15:14] timelessz commented on #989
解决了吗？各位

[2017-09-16 17:49] rijn commented on #1898
It seems like you're going to select a range of date, so why don't you use `type="daterange"` directly? If you check out the demo here [Date Picker](https://www.iviewui.com/components/date-picker-en#Basic Usage). I believe the right one in the basic usage demos is what you want.

[2017-09-16 17:51] rijn commented on #1902
`<i-option value=">" label=">"></i-option>`

[2017-09-16 19:40] lslzl3000 commented on #1822
@icarusion 我知道这么设计的，问题是如何关闭单个item的错误显示，我不想用reset把整个form都清空，我认为清空error的话，应该把错误状态也关闭掉

[2017-09-17 07:42] gh81997167 commented on #1716
好的 谢谢

[2017-09-17 08:18] yangdan8 opened #1904 "iview-cli什么时候能升级到新版本?我这边自己升级到新版本,npm install总是报错"

[2017-09-17 14:06] windleer opened #1905 "Input组件的autofocus属性为什么不起作用"
Input组件的autofocus属性不起作用

[2017-09-17 14:14] webees commented on #1871
@SergioCrisostomo Sorry, I can't repeat it. But my specific code is as follows:
![_20170917221213](https://user-images.githubusercontent.com/5155291/30521651-99458a80-9bf5-11e7-8083-226fb0e2c79b.png)
![_20170917221243](https://user-images.githubusercontent.com/5155291/30521652-99601882-9bf5-11e7-8c59-355878d90a33.png)
![_20170917221323](https://user-images.githubusercontent.com/5155291/30521653-99

[2017-09-17 14:18] webees commented on #1871
@marxy Thank you very much for your reply. I have been upgraded to 2.4.4. But problems remain.

[2017-09-17 15:00] isLishude commented on #1905
这是个bug，我准备pr

[2017-09-17 16:06] isLishude commented on #1905
不能直接传入boolean值，按照下面就对了

[code]

如果传入布尔值的话，会当成字符串，vue文档也说了需要使用v-bind，简单点就用:就可以使用，这时候就能传入布尔值了

[2017-09-18 01:21] #1904 closed

[2017-09-18 01:23] icarusion commented on #1902
#1690

[2017-09-18 01:23] #1902 closed

[2017-09-18 01:27] icarusion commented on #1889
[https://www.iviewui.com/docs/guide/start#组件使用规范](https://www.iviewui.com/docs/guide/start#组件使用规范)

[2017-09-18 01:27] #1889 closed

[2017-09-18 01:28] #1890 closed

[2017-09-18 01:29] icarusion commented on #1901
#1872

[2017-09-18 01:29] #1901 closed

[2017-09-18 02:22] lauber00 commented on #1853
@icarusion 自己试着写出来了，不用麻烦您了，谢谢！

[2017-09-18 02:25] lqdechina commented on #1903
同问

[2017-09-18 02:29] yangdan8 opened #1906 "请修改css样式并取消掉需要收费的字体,比如:微软雅黑"

[2017-09-18 02:32] #1906 closed

[2017-09-18 02:34] #1372 closed

[2017-09-18 03:00] cyzeng-Luca commented on #1898
twice DatePicker are  what we want,. according to our data, consumer accept it's better, so we hava to do it like not use type="daterange"

[2017-09-18 03:06] smoook commented on #48
请问一下，使用传统web开发的方式，直接在html中使用iview，布局怎么出错了呢，

[2017-09-18 03:07] smoook commented on #48
![1 12 954q1bcr t3vbnz dh](https://user-images.githubusercontent.com/15136490/30528032-869f8572-9c61-11e7-8ecd-fb450b486766.png)

[2017-09-18 03:11] topvis commented on #1533
@xxliud 我也遇到类似的问题，点击以已经选中的节点就会取消选择该节点，而且在on-select-change的响应函数中无法直接获取被取消选择的节点的数据。我是这样解决这个问题的，也许能给你提供参考：

[code]

[2017-09-18 03:14] rongxingsun opened #1907 "图钉功能的offset-bottom功能建议"
图钉功能设置offset-bottom的时候应该是直接固定在底部

[2017-09-18 04:02] #823 closed

[2017-09-18 04:21] fengyaogit123 opened #1908 "在render 模式下 JSX语法 Radio 组件 使用<Radio></Radio> 或者 <i-radio></i-radio>报错"
问题:在render模式下 jsx 使用Radio 组件会报如下错误:

Error in render function: "ReferenceError: Radio is not defined"
不使用jsx语法 h('Radio',null,'')是可以的
期望:  使用jsx语法 Radio组件的正确使用方式是什么？ 查阅相关文档  并没有说到Radio组件

[2017-09-18 05:06] casalot opened #1909 "[Feature Request] - Mention Component"
Include a Mention component, similar to the one in the react.js Ant Design library. Example [here](https://ant.design/components/mention/).

[2017-09-18 05:07] casalot opened #1910 "[Feature Request] - Calendar Component"
Include a Calendar component, similar to the one in the react.js Ant Design library. Example [here](https://ant.design/components/calendar/).

[2017-09-18 05:11] casalot opened #1911 "[Feature Request] - Chat Component"
Include a Calendar component, similar to the one in the Quasar library. Example [here](http://quasar-framework.org/components/chat.html).

[2017-09-18 05:13] casalot opened #1912 "[Feature Request] - CSS Helper Classes"
Include some helper classes, similar to the Quasar library. Documentation [here](http://quasar-framework.org/components/visibility.html).

[2017-09-18 05:39] Baoyx007 commented on #1908
需要 import ``import { Radio } from 'iview'

[2017-09-18 05:42] fengyaogit123 commented on #1908
是在table 的render模式下 ,iview是全局导入的
原来代码
{
                    title: "选择",
                    key: "1",
                    render:(h, {row})=>{
                        return <Radio></Radio>
                    }
                },  报错
然后我发现  解析 把Radio解析成了变量而不是字符串 于是我改成这样
{
                    title: "选择",
                    key: "1",
                    render:(h, {row})=>{

[2017-09-18 05:52] #693 closed

[2017-09-18 06:19] fengxiaotx commented on #917
同问

[2017-09-18 06:28] casalot opened #1913 "[Feature Request] - Sizing Options for Timeline"
Include sizing options for the `timeline` component, i.e. allowing for the `<TimelineItem>` elements to have different sizes, similar to other components (e.g. [button](https://www.iviewui.com/components/button-en#Size), [switch](https://www.iviewui.com/components/switch-en#Size)).

[2017-09-18 07:21] suiyi8760 commented on #1597
不错，学习了

[2017-09-18 08:12] lauber00 opened #1914 "Poptip 中 Progress 工作不正常"
进度显示总是100%，垂直方向设置不生效。
示例如下：
https://codepen.io/lauber00/pen/wrKbvY?editors=1001

[2017-09-18 08:43] hjpyh-ybxrz commented on #1880
那有没有解决方案呢

[2017-09-18 09:02] ssibre commented on #1515
@waney Upload默认用的form-data提交，API接口里面不用参数，.Net里面使用 HttpContext.Current.Request.Files接收。翻了1天的baidu才研究明白。

[2017-09-18 09:41] zili2000 commented on #294
我也遇到类似问题了。楼上解决了吗？

[2017-09-18 09:47] tangsj opened #1915 "Select级联选择，第一次下拉选择正常，切换值后，选择显示的文本还是上一次的"
第一个选择框 选择后， 会改变Select2的选项，   选择select2时  显示文本不正确。
示例：
https://codepen.io/tangsj/pen/PJPryz

[2017-09-18 10:41] #704 closed

[2017-09-18 10:42] icarusion commented on #704
300bd66

[2017-09-18 11:00] SergioCrisostomo commented on #1540
Closing as dup of https://github.com/iview/iview/issues/1910

[2017-09-18 11:00] #1540 closed

[2017-09-18 11:01] SergioCrisostomo commented on #1910
@icarusion  if you also agree we could add this to a future version label.

[2017-09-18 11:36] icarusion commented on #1910
Ok, but this component has a lower priority

[2017-09-18 11:38] #1914 closed

[2017-09-18 14:33] VYuLinLin commented on #1724
好的，谢谢大神赐教

[2017-09-18 15:17] yanjingenious opened #1916 "按需引用能不是提供babel-plugin-component的方式"
现在这个方式实在不好用

[2017-09-18 18:41] SergioCrisostomo commented on #1916
@yanjingenious can you explain more the problem you have? Do you have some code/example?

[2017-09-19 01:04] zhuyifang opened #1917 "上传组件在关闭自动上传后相关的事件失效"
手动上传时以下事件失效
on-exceeded-size
on-format-error

[2017-09-19 01:47] hjpyh-ybxrz commented on #1717
这段代码解决了显示问题，但是还是期望组件自带参数控制半选

[2017-09-19 01:58] jackjson opened #1918 "Layout布局屏幕下方没有沾满"

[2017-09-19 02:11] yangdan8 opened #1919 "Modal 对话框确认按钮没有默认获得焦点回车无效"
https://jsfiddle.net/j0q12fsh/28/
确认按钮未获得焦点回车无效

[2017-09-19 02:51] PerttyZhan opened #1920 "Table 中，表头的render如何实现"
iView版本是2.3.2

根据iView文档中renderHeader，第一个参数是h，第二个是params，和render一样。但我测试了一下，发现renderHeader第一个参数是columns,第二个是index。

[2017-09-19 03:07] dean5277 opened #1921 "select 内容过长时，删除符号消失"
https://jsfiddle.net/1tu1cmjd/9/
之前地址没update。。。

这个应该不算BUG，算是一个该优化的需求，如果内容过长时，应该省略号代替后面内容。

[2017-09-19 03:40] dean5277 commented on #1227
看了文档半天，我才知道用input重新设置值。。。。太隐藏了。。。。

[2017-09-19 04:27] dean5277 commented on #1921
https://jsfiddle.net/1tu1cmjd/10/

把ivu-tag的固定高度删掉就好

[2017-09-19 06:25] SergioCrisostomo commented on #1921
@dean5277 could you add also a explanation in English so more people can read ad help with your issue?

Thank you!

[2017-09-19 06:26] #1063 closed

[2017-09-19 07:30] lockontan opened #1922 "级联选择器在trigger为hover的模式下时的Bug"
![e b r ikna btspoh e3](https://user-images.githubusercontent.com/16314619/30580455-221330ec-9d4f-11e7-9f9f-4b9db811ddc9.png)
当鼠标移动到 北京 这个一级选项时，会自动选择北京这个选项，导致菜单浮动框消失。

[2017-09-19 07:44] lockontan commented on #1922
https://codepen.io/lockontan/pen/JrGmjX
@iview-bot

[2017-09-19 08:11] zhuyifang opened #1923 "autofocus失效的问题"
在重新加载页面后，input的autofocus会失效；
需要在mounted方法中增加this.autofocus && this.focus()即可解决

[2017-09-19 08:34] ysneo commented on #1539
最新版还是有同样的问题

[2017-09-19 08:45] #812 closed

[2017-09-19 08:59] yunfengsay opened #1924 "table 中的expand 如何监听事件？ on 无效"
![image](https://user-images.githubusercontent.com/15527378/30584186-950f57a4-9d5b-11e7-9990-a5a343776545.png)

如图
要监听 on-expand 事件 但是这些写法都不生效
版本 "iview": "^2.1.0"； vue: 2.3.3

[2017-09-19 09:35] zazaluMonster commented on #1880
我也有遇到这个问题，不知道是不是自己写的时候出问题。

[2017-09-19 09:36] icarusion commented on #918
把 Vue 和 iView 更新后是可以的，注意 `key` 的用法。
https://codepen.io/Aresn/pen/QqyzZB

[2017-09-19 09:36] #918 closed

[2017-09-19 09:37] zazaluMonster commented on #1652
我也有这问题

[2017-09-19 09:40] Blackloser commented on #918
this.$nextTick(()=>{
     this.$refs.XXX.updateChildProps()
})
这样也是可以的 @icarusion

[2017-09-19 09:43] icarusion commented on #1652
![image](https://user-images.githubusercontent.com/5370542/30586207-cd890a02-9d61-11e7-8222-41618f6704b0.png)
The example you provide don't seem to be a problem.

[2017-09-19 09:43] #1652 closed

[2017-09-19 10:21] wufangjian commented on #421
开发中也遇到同样问题!  `show-elevator` 属性无效，求解~

[2017-09-19 11:53] Luffyying opened #1925 "使用分页组件Page时，如果数据total是零，是否有更好的处理样式。"

[2017-09-19 12:55] liweiyuVIE opened #1926 "头像AVATAR，和菜单MENU。一起使用不能很好兼容"
![qq 20170919202428](https://user-images.githubusercontent.com/20943221/30593367-e417bdd4-9d7c-11e7-9512-d8f55d22c1cf.png)

[2017-09-19 13:34] easyfrog opened #1927 "2.3.2 版本中, Grid 布局的 Col 元素会自动加padding"
2.3.2 版本中, Grid 布局的 Col 元素会自动加16px 的 padding-left 和 padding-right

![qq20170919-213320](https://user-images.githubusercontent.com/10724325/30594923-3c488f6a-9d82-11e7-9a00-b425e160c2a3.png)

如果就是这么设计的话. 如何才能整体的将 padding-left padding-right都设置为0px呢?

[2017-09-19 14:37] SergioCrisostomo commented on #1926
@liweiyuVIE can you create a example online with this problem?
Please use this https://codepen.io/anon/pen/KvJJdw and change it to reproduce the problem.

[2017-09-19 14:41] suiyi8760 opened #1928 "强烈建议导航菜单加入内嵌菜单功能"
相比分组菜单，内嵌菜单的应用面也很广泛，参照[https://ant.design/components/menu-cn/](https://ant.design/components/menu-cn/)，如果用collapse实现修改的地方比较多

[2017-09-19 15:38] webees opened #1929 "【建议】$Message.destroy() 作为创建$Message的一个参数便于自动销毁所有Message"
每次弹出Message的都需要手动执行$Message.destroy() 清除上一个Message，不然会有打了的Message重叠以及奇怪的Message动画效果。希望能有个开关，可以在弹出Message的时候是否自动清除上一个Message。

[2017-09-19 18:18] dspangenberg opened #1930 "Datepicker should close on blur"
After leaving a datepicker input field the datepicker should close

![image](https://user-images.githubusercontent.com/166466/30608113-9765b70c-9d77-11e7-80e7-8826f970bcdc.png)

Or is there a workaround?

[2017-09-19 19:05] SergioCrisostomo commented on #1930
@dspangenberg check this fiddle: https://jsfiddle.net/Sergio_fiddle/a7v7pm5h/

When I focus by clicking on the input it opens the date-picker.
When I click outside the date-picker it closes.

I just noticed that tab focus opens the picker, but tab-navigate away from the input does not.
Can you specify better your actions an what is not working?

[2017-09-19 19:22] SergioCrisostomo commented on #1923
@zhuyifang could you be more specific about your problem?

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-19 19:31] dspangenberg commented on #1930
@SergioCrisostomo It's exactly this behavior: "Tab focus opens the picker, but tab-navigate away from the input does not".

[2017-09-19 19:37] SergioCrisostomo commented on #1930
@dspangenberg ok, thanks. yeah, that's bug that needs to be fixed!

[2017-09-19 22:01] shiasn commented on #1571
I edited the config in the extend and seemed to solve it with your way
[code]
@zezic

[2017-09-20 02:04] mrerhuo opened #1932 "Modal加了滚动条后，select、Date、DatePick的选择框都往上偏移"
Modal加了滚动条后，select、Date、DatePick的选择框都往上偏移
https://codepen.io/anon/pen/ZXWXOd

[2017-09-20 02:06] zhdwwf commented on #1652
Can you provide your browser version?
I test it with chrome and firefox,the result is:
chrome 60
![image](https://user-images.githubusercontent.com/564279/30623591-1bab5206-9deb-11e7-8cf2-4a170b2d01e3.png)
firefox 55
![image](https://user-images.githubusercontent.com/564279/30623617-494f9d48-9deb-11e7-9b95-5653bc0717d6.png)

[2017-09-20 02:08] icarusion commented on #1932
使用 `transfer` 并且不建议做内部滚动

[2017-09-20 02:08] #1932 closed

[2017-09-20 02:08] xiaoliangsu commented on #1864
求问题主解决了么？我也遇到了一样的问题，想知道怎么解决的，谢谢

[2017-09-20 02:15] mrerhuo commented on #1932
@icarusion 不只是一个组件是这样，是select date datepick AutoComplete TimePicker  Cascader ColorPicker 反正modal带了滚动条，这些都滚动条下面的地方都会偏移。你喊做transfer直接要命嘛。

[2017-09-20 02:21] AC-YoY commented on #1932
我也碰到了一模一样的问题，非常头疼，加上transfer完美解决了

[2017-09-20 02:27] mrerhuo commented on #1932
@AC-YoY 怎么加？

[2017-09-20 02:29] wokill opened #1933 "Transfer 穿梭框 搜索栏 filter-method建议增加支持异步搜索"
iView 版本号

2.x

操作系统/浏览器 版本号

Chrome 60

Vue 版本号

2.4

问题现象，以及你期望的结果是怎样的?

使用自定义 filter-method 方法后进项过滤搜索项，因为数据量比较大，需要动态从服务器上搜索商品，此时会报请求错误，希望增加在搜索时可以远程搜索数据；或者增加搜索框相关事件方法。

[2017-09-20 02:31] AC-YoY commented on #1932
@mrerhuo 当作标签的属性 <select  transfer></select>

[2017-09-20 02:32] AC-YoY commented on #1932
@mrerhuo 当作标签的属性
[code]

[2017-09-20 02:34] mrerhuo commented on #1932
@AC-YoY 谢谢

[2017-09-20 02:50] zili2000 commented on #886
如果使用计算属性给data赋值，发现tree控件节点点击事件错误
https://jsfiddle.net/claychen/uct028aj/

[2017-09-20 02:50] dean5277 commented on #1921
@SergioCrisostomo

if option content is too long,the select text area  can not display all and the close icon spill over the gray area.

[2017-09-20 03:03] woleicom opened #1934 "$Modal的render方式是否可以改成是否覆盖header和footer呢，相当于是一个纯的遮罩层"
$Modal的render方式是否可以改成是否覆盖header和footer呢，相当于是一个纯的遮罩层

[2017-09-20 03:28] Shruan opened #1935 "关于Tabs组件的默认关闭事件"
<Tabs type="card" closable v-if="$store.state.topTab.length > 0" :value='$store.state.topTab.length-1' @on-tab-remove.prevent="handleTabRemove" @on-click='openTab' class="tab-style">
            <TabPane :label="item.name" v-for="item in $store.state.topTab"></TabPane>
          </Tabs>

我将tabs的closeable开启 添加上关闭标签的事件 但是关闭标签的事件为空并没有相关操作，但是操作标签上的X时却把标签关闭掉了  这个关闭要如何阻止

[2017-09-20 04:21] elviskudo opened #1936 "npm run dev"
Hi,
This is awesome product
and i wanna start develop with this, but i found error in npm run dev

YError: Too many arguments provided. Expected max 2 but received 3.

How can i fixed?
Thanks

[2017-09-20 04:51] tttttty opened #1937 "关于datePicker的datetime属性在ie11浏览器上初始值不显示time的问题？"
我查看了iview2.3.2版本已经修复datePicker在ie11初始值不显示的问题，但是bug没有修复完全，在type=‘datetime’情况下，初始值设置“2014-02-02 10:10:10”这种情况时，在ie上是不显示的，如果初始值设置成‘2014-02-02’，ie浏览器上默认是‘2014-02-02 08:00:00’；其他浏览器都ok。

[2017-09-20 05:41] SergioCrisostomo commented on #1936
@elviskudo could you try upgrading webpack to 3.6.0? Looks like this is a recent bug [and that will fix it](https://github.com/webpack/webpack-dev-server/issues/983#issuecomment-329224980).

If it works good, add it to `package.json` in `devDependencies` and send a pull request. Maybe the other `webpack-` dependencies could bump up also :)

Thanks for pointing it out!

[2017-09-20 05:43] SergioCrisostomo commented on #1937
@tttttty thank you for reporting this. Could you provide a example so we can test this faster?

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-20 06:05] tttttty commented on #1937
https://codepen.io/anon/pen/qPZxdb#anon-signup
请用ie浏览器打开。

[2017-09-20 06:18] #690 closed

[2017-09-20 06:21] amwihtfei opened #1938 "iview有sketch资源？psd也行"

[2017-09-20 06:35] icarusion commented on #1934
那你还不如直接写个遮罩层。。。

[2017-09-20 06:35] #1934 closed

[2017-09-20 06:35] icarusion commented on #1938
#304

[2017-09-20 06:35] #1938 closed

[2017-09-20 06:38] icarusion commented on #1935
#1800

[2017-09-20 06:38] #1935 closed

[2017-09-20 07:20] #1380 closed

[2017-09-20 07:20] OXOYO commented on #1808
需要初始化值的话，new Date 下，转成日期类型。

[2017-09-20 07:26] #1381 closed

[2017-09-20 07:28] #1382 closed

[2017-09-20 07:28] icarusion commented on #1383
Update to the latest version and try again.

[2017-09-20 07:28] #1383 closed

[2017-09-20 07:29] icarusion commented on #1401
#263

[2017-09-20 07:29] #1401 closed

[2017-09-20 07:29] icarusion commented on #1405
Update to the latest version and try again.

[2017-09-20 07:29] #1405 closed

[2017-09-20 07:30] icarusion commented on #1411
Update to the latest version and try again.

[2017-09-20 07:30] #1411 closed

[2017-09-20 07:30] #1421 closed

[2017-09-20 07:31] #1416 closed

[2017-09-20 07:41] icarusion commented on #1425
There is no such plan now.

[2017-09-20 07:41] #1425 closed

[2017-09-20 07:42] #1426 closed

[2017-09-20 07:43] icarusion commented on #1430
You can try to solve it according to the above answers.

[2017-09-20 07:43] #1430 closed

[2017-09-20 07:52] tttttty commented on #1937
https://codepen.io/tttttty/pen/veGRqq
这里是example，请使用ie浏览器打开。

[2017-09-20 08:07] icarusion commented on #1434
There is no good solution for the moment.

[2017-09-20 08:07] #1434 closed

[2017-09-20 08:07] elviskudo commented on #1936
thanks, but i found another error

events.js:182
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE 127.0.0.1:8081
    at Object._errnoException (util.js:1026:11)
    at _exceptionWithHostPort (util.js:1049:20)
    at Server.setupListenHandle [as _listen2] (net.js:1343:14)
    at listenInCluster (net.js:1391:12)
    at GetAddrInfoReqWrap.doListen [as callback] (net.js:150

[2017-09-20 08:08] icarusion commented on #1436
Update to the latest version and try again.

[2017-09-20 08:08] #1436 closed

[2017-09-20 08:08] icarusion commented on #1440
#690

[2017-09-20 08:08] #1440 closed

[2017-09-20 08:09] icarusion commented on #934
#690

[2017-09-20 08:09] #934 closed

[2017-09-20 08:11] SergioCrisostomo commented on #1936
@elviskudo I think that is because you have 2 servers running. Try closing all consoles and start just one server. Does the error persist?

[2017-09-20 08:14] icarusion commented on #1441
Please update to the latest version first. If you have any questions, then open another issue.

[2017-09-20 08:14] #1441 closed

[2017-09-20 08:17] #1529 closed

[2017-09-20 08:17] #1442 closed

[2017-09-20 08:18] #1445 closed

[2017-09-20 08:32] #1447 closed

[2017-09-20 08:33] #1448 closed

[2017-09-20 08:34] #1450 closed

[2017-09-20 08:34] #1451 closed

[2017-09-20 08:37] icarusion commented on #1453
You can bin outside of data to try again

[2017-09-20 08:37] #1453 closed

[2017-09-20 08:37] #1460 closed

[2017-09-20 08:43] icarusion commented on #1461
Use `v-model`

[2017-09-20 08:43] #1461 closed

[2017-09-20 08:44] #1462 closed

[2017-09-20 08:46] icarusion commented on #1464
There is no such plan now.

[2017-09-20 08:46] #1464 closed

[2017-09-20 11:22] Muchwat opened #1940 "How do we add multiple inputs on a modal?"

[2017-09-20 11:38] SergioCrisostomo commented on #1940
@Muchwat nice that you are using iview! Please post support questions like these in Stackoverflow. I keep an eye there.

This Github repository is for bug reports.

Cheers,
Sérgio

[2017-09-20 11:38] #1940 closed

[2017-09-20 11:44] Muchwat commented on #1940
ok

[2017-09-20 11:56] SergioCrisostomo commented on #1940
@Muchwat please use [the `iview-ui` tag](https://stackoverflow.com/questions/tagged/iview-ui). Btw check this https://jsfiddle.net/Sergio_fiddle/ckgjzrf5/, otherwise see you in Stackoverflow :)

[2017-09-20 12:02] elviskudo commented on #1936
so, must be in 8080?
other server is stopped now, but error still coming

[2017-09-20 12:03] Muchwat commented on #1940
Thank you Sergio

[2017-09-20 22:06] rlam3 opened #1942 "Anybody know how to integrate iview with nuxt?"
Anybody know how to ingegrate iview with nuxt?
I'm having a difficult time getting the modules to work. Would love to see an example of configuration and tutorial. Thanks!

[2017-09-20 22:47] zili2000 opened #1943 "Tree：如果使用computed给data赋值，发现tree控件节点点击事件错误"
Tree：如果使用计算属性给data赋值，发现tree控件节点点击事件错误，#886应该说的也是这个问题。
https://jsfiddle.net/claychen/uct028aj/

[2017-09-21 01:59] 617450941 opened #1944 "ColorPicker 怎么用table 的render函数输出"
ColorPicker  怎么用table 的render函数输出 使用

[2017-09-21 03:35] #1944 closed

[2017-09-21 03:51] hellomrbigshot opened #1945 "select中若选中的option过长出现左右滚动，option内容被截断无法正常显示"
示例：
http://jsbin.com/yiqufok/edit?html,js,output
当选中超过select宽度的选项时时，下拉栏中的该选项左右滚动显示不完全。被蓝色截断。

[2017-09-21 04:35] yangdan8 opened #1946 "Table的列为什么不能支持百分比宽度?"
https://jsfiddle.net/j0q12fsh/32/

[2017-09-21 05:30] SergioCrisostomo commented on #1945
related: https://github.com/iview/iview/issues/1921

[2017-09-21 05:33] yumengyuan0825 commented on #1743
@toniol 为什么我升级到了2.3.0 依然会出现这个问题。。

[2017-09-21 06:20] adu8419 opened #1947 "发现 栅格 bug"
[code]

[code]

设置为0  并没有dispay： none  也没有 增加 ivu-col-span-0  class
然后我 初始化就 在data中 设置为 0 也不行
只有这样写
[code]
这样才行 ！！！ 但是我是要传变量的 。

[2017-09-21 06:24] hellomrbigshot commented on #1945
@SergioCrisostomo no, these two questions are different, the related question is the select's display, but mine is the option's. In my example, when the longer option is selected, you click the select, that longer option displays in error in the options list. Sorry my English is poor and i hope you can understand.

[2017-09-21 06:25] adu8419 commented on #1947
我不得不用黑科技 解决
[code]

[2017-09-21 06:35] SergioCrisostomo commented on #1945
@hellomrbigshot ok, thanks! My mistake, sorry my chinese :)

[2017-09-21 07:09] #1930 closed

[2017-09-21 07:35] aamis520 commented on #1915
附加问题：有时候还会显示空白

[2017-09-21 07:38] NickBang opened #1948 "Table 组件 BUG"
table 组件中 columns 如果设置了 fixed : 'left'    or    fixed : 'right' ,render函数就会执行两次。如果注释，就正常执行一次。应该是 fixed导致页面重新渲染了。- -
如图
![u2nf7j e9mtd q s0 z633u](https://user-images.githubusercontent.com/20419087/30684209-e0d3e30c-9ee2-11e7-94b4-cdf814df6d8d.png)

[2017-09-21 07:48] #1936 closed

[2017-09-21 07:57] aamis520 commented on #1804
`<Modal
	        v-model="addTitleModal"
	        width="900"
	        title="添加表格表头"
	        @on-ok="setTable"
	        @on-cancel="cancelTable">

	        <Row>
	        	<Col span="12" offset="1">

			        <div style="padding: 20px 0;">
			        	<Row>
		        			<Col span="8" style="text-align: right;">
		        				请选择流程：
		        			</Col>
		        			<Col span="15" offset="1">

[2017-09-21 08:56] supermanLS opened #1949 "this.$Modal系列方法报错"
![image](https://user-images.githubusercontent.com/18274376/30686699-a95227aa-9eeb-11e7-995f-504ab861b860.png)
显示正常，但是render函数不能使用，样式会乱掉
![image](https://user-images.githubusercontent.com/18274376/30686748-cb4fc48e-9eeb-11e7-9b65-bdf4a4c31479.png)
![image](https://user-images.githubusercontent.com/18274376/30686761-d3f3340e-9eeb-11e7-915f-a20129572ab8.png)
如上图，input样式乱掉
日期选择器也有这个错误，但是可以正常使用，不知道为啥

[2017-09-21 09:29] supermanLS commented on #1949
@iview-bot 这是我的代码
![image](https://user-images.githubusercontent.com/18274376/30689028-5387dab6-9ef2-11e7-861d-0eb9aaa3b93a.png)
![image](https://user-images.githubusercontent.com/18274376/30689050-65f520e6-9ef2-11e7-8cc7-b9d142c5c698.png)

[2017-09-21 09:33] supermanLS commented on #1949
@iview-bot 我提交之前特意试过，老版本的iview我这段代码是没有报错的， 升级到最新的iview之后，就报错了

[2017-09-21 11:05] mrerhuo commented on #1560
@KIDJourney 解决了没？我用最新版本都有问题。

[2017-09-21 11:05] mrerhuo commented on #1560
@icarusion 新版本还是有这个问题。

[2017-09-21 11:06] aamis520 commented on #1528
sf:https://segmentfault.com/news

[2017-09-21 11:08] mrerhuo commented on #1560
@KIDJourney 加验证才有这个bug。不加验证没有这个bug.
@icarusion

[2017-09-21 11:45] nickliufc commented on #1090
@brandonccx 我也出现同样的问题，你的解决了吗？

你们都解决了吗？总是有各种问题

[2017-09-21 13:53] aleksanderd opened #1950 "Scope some styles"
Hi!

Thank you for good work!

I using vue/iview for a browser extension and there is a widget which running over any page loaded in a browser's tab. All ok, but there is some global styles which breaks original page markup :(

For example, https://github.com/iview/iview/blob/2.0/src/styles/common/base.less

What the best way to solve this?

I planned to override iview's style by replacing base.le

[2017-09-21 16:30] aizhimin opened #1951 "支持迁移vue2.0吗？"
如何迁移到vue2.0

[2017-09-21 20:10] SergioCrisostomo commented on #1949
Hi @supermanLS. I don't think the bot will answer you because its is just a simple robot :)

It would be very useful if you can provide a jsFiddle or codepen. Please make a example online that reproduces the problem you describe.

[2017-09-21 20:12] SergioCrisostomo commented on #1951
@aizhimin iview supports Vue 2.0, yes!

If you have questions about code migration please use [Gitter](https://gitter.im/iview/iview) or Stackoverflow. Please tag `iview-ui` if you want to get help with iview there.

[2017-09-21 20:12] #1951 closed

[2017-09-21 20:18] SergioCrisostomo commented on #1950
@aleksanderd you need to give permission to the user running webpack to the `/var/node_modules`  folder.

Please check this thread `https://github.com/bower/bower/issues/2262`

I don't think this is a iview bug, so I'm closing this here. But do check in Stackoverflow if this link ☝️ doesn't solve your problem.

[2017-09-21 20:18] #1950 closed

[2017-09-22 01:48] xiaoyu214 opened #1952 "Table第一次渲染会js定宽，动效滑动左侧菜单时，表格宽度不会自适应。"
Table第一次渲染会js定宽，通过js写效果滑动隐藏左侧菜单时，表格宽度依旧不变，而表格外的div却变大了。因此表格右侧会有几百像素空白的地方。Table宽度能否自适应容器？而不是第一次就定死了宽度。

[2017-09-22 01:50] icarusion commented on #1952
#690

[2017-09-22 01:50] #1952 closed

[2017-09-22 01:51] icarusion commented on #1949
Document sample is ok, so may be your problem, please check carefully, if not yet, please provide the online sample and reopen this issue :)

[2017-09-22 01:51] #1949 closed

[2017-09-22 02:26] Moriarty93 opened #1953 "form里面只有一个input，按下回车会自动提交"
官网里留下个input就可以触发，
加个隐藏Input或者加个onsubmit return false

[2017-09-22 02:27] #1953 closed

[2017-09-22 02:41] GwYL opened #1954 "Form表单prop“model”，Expected Object, got Array.但是："
但是我的model实际上就是Object：
组件：<Form :rules="ruleValidate" ref="formItem" :model="formItem" :label-width="100">
				<FormItem label="标题" prop="title">
					<Input v-model="formItem.title" autofocus></Input>
				</FormItem>
				<FormItem label="内容" prop="content">
					<Input v-model="formItem.content"></Input>
				</FormItem>
</Form>
data() {
 return {
   formItem: {
     title: '',
     content: ''
  }

[2017-09-22 02:42] #1954 closed

[2017-09-22 05:54] 15700353375 opened #1956 "DatePicker type= datetime Set the default date time, and when the input time changes, the focus time will be lost to the original set time."

[2017-09-22 07:06] SergioCrisostomo commented on #1956
@15700353375 can you provide a jsFiddle or codepen reproducing the problem?

[2017-09-22 07:29] #433 closed

[2017-09-22 08:49] shenke119 opened #1957 "Tag 组件border 问题"
tag默认时有1px 的border 有color时border为0，所以当点击按钮切换color时有明显偏移抖动.
[https://fiddle.jshell.net/shenke119/y0yg79p0/1/](url)
点击111那个按钮 222的按钮移位

[2017-09-22 09:17] elviskudo opened #1958 "form cannot send"
i added form in my page but i find error like this

[Vue warn]: Invalid prop: custom validator check failed for prop "type".

thanks

[2017-09-22 09:19] ArvinQi opened #1959 "Affix标签，覆盖页面主题"
Affix组件生成的div没必要采用窗口宽度吧，这样我在左侧固定一个菜单，然后中间内容部分就会被这个100%宽度的div覆盖掉，中间内容变得不开选中，所以建议不要是百分百宽度，直接读取它下面div的宽度就可以了吧
示例：[https://codepen.io/Jaylon/project/editor/ZOPjKm](https://codepen.io/Jaylon/project/editor/ZOPjKm)

[2017-09-22 09:34] Rudy24 commented on #1645
@LucaLJX 我的也是动态生成Menu，然后再设置active，open，接口请求是放在created里面，得出的值是有效的，不过Menu还是没有展开

组件---》
<Menu :accordion="true" :theme="'dark'" :active-name="activeMenu" :open-names="openName" width="auto">

方法---》
created() {
    //获取用户信息
    this.getUserInfo();
    this.activeMenu = this.getActiveMenu();
    this.openName = this.getOpenName();
  }

[2017-09-22 09:34] Rudy24 commented on #1645
@LucaLJX 我的也是动态生成Menu，然后再设置active，open，接口请求是放在created里面，得出的值是有效的，不过Menu还是没有展开

组件---》
<Menu :accordion="true" :theme="'dark'" :active-name="activeMenu" :open-names="openName" width="auto">

方法---》
created() {
//获取用户信息
this.getUserInfo();
this.activeMenu = this.getActiveMenu();
this.openName = this.getOpenName();
}

[2017-09-22 09:35] Rudy24 commented on #1645
@LucaLJX 我的也是动态生成Menu，然后再设置active，open，接口请求是放在created里面，得出的值是有效的，不过Menu还是没有展开

组件---》
Menu :accordion="true" :theme="'dark'" :active-name="activeMenu" :open-names="openName" width="auto"
方法---》
created() {
//获取用户信息
this.getUserInfo();
this.activeMenu = this.getActiveMenu();
this.openName = this.getOpenName();
}

[2017-09-22 09:36] Rudy24 commented on #370
@ckryo   我的也是动态生成Menu，然后再设置active，open，接口请求是放在created里面，得出的值是有效的，不过Menu还是没有展开

组件---》
Menu :accordion="true" :theme="'dark'" :active-name="activeMenu" :open-names="openName" width="auto"
方法---》
created() {
//获取用户信息
this.getUserInfo();
this.activeMenu = this.getActiveMenu();
this.openName = this.getOpenName();
}

[2017-09-22 14:14] #1958 closed

[2017-09-23 00:40] liuqiangzh163 opened #1960 "Table 控件 在列多的情况下出现高度计算错误（底部有空白）"
Table 控件 在列多的情况下出现高度计算错误（底部有空白）

具体请看：http://115.28.8.188/Test/Test/TableTest.html

[2017-09-23 00:43] liuqiangzh163 commented on #1960
列越多 空白部分越高

[2017-09-23 01:23] #1960 closed

[2017-09-23 02:05] diego-lipinski-de-castro opened #1961 "Col Span 0"
Sorry for the bad Issue report, just a quick thing

If I set :span:"0" in a <col> it doesnt set the class ivu-col-span-0, which is what I was looking for, is this expected? the ivu-col-span-0 set display to none, which is kinda expected when you're settings to span 0

[2017-09-23 02:41] zhdwwf commented on #1960
@liuqiangzh163 看上去是你给tabel设置了height的原因，body部分高度与table的不一致
![image](https://user-images.githubusercontent.com/564279/30769474-a6462dc0-a04b-11e7-93e8-79a5cc4b5165.png)

[2017-09-23 03:00] liuqiangzh163 commented on #1960
@zhdwwf  我是这样使用控件的【        <i-table :width="InstructionSheet.width" border :height="InstructionSheet.height" :data="InstructionSheet.TableData" :columns="InstructionSheet.TableColumns" stripe ></i-table>
】 然后没有设置其他，  body部分高度应该是控件自动计算的，但不确定为什么会计算成这样，所有提交到这里 看看大家有没有碰到，怎样解决的

[2017-09-23 03:03] asd8510678 opened #1962 "tree的展开按钮点击区域太小"
太小点展开比较吃力，建议放大点单击的区域

[2017-09-23 03:06] liuqiangzh163 commented on #1960
![Uploading image.png…]()

[](url)

[2017-09-23 03:20] yangdan8 opened #1963 "js改变accordion模式的Menu的open-names后页面并非只展开一个子菜单"
https://jsfiddle.net/j0q12fsh/33/

![qq 20171010092337](https://user-images.githubusercontent.com/16515026/31365373-4669d6f4-ad9d-11e7-8530-2ba588c8d17d.png)

[2017-09-23 03:22] yangdan8 opened #1964 "js改变Menu的open-names后为何要再手动执行一次updateOpened页面才生效?"
https://jsfiddle.net/j0q12fsh/34/

[2017-09-23 04:09] liuqiangzh163 commented on #1960
好像会影响好几个地方的计算，目前我使用该方法来重新计算他 ，临时解决
1.给Table 加了一个ID
`<i-table id=“table1” :width="InstructionSheet.width" border :height="InstructionSheet.height" :data="InstructionSheet.TableData" :columns="InstructionSheet.TableColumns" stripe ></i-table`
2.添加了一个延时处理去重新设置高度
`setTimeout(function () {
       var iveTheight = VueData.InstructionSheet.height - $("#table1 .ivu-table-header").height();
       var iveB

[2017-09-23 06:16] jiafeilu commented on #1709
@yangdan8  同样遇到这个问题，你的解决了吗

[2017-09-23 06:39] SergioCrisostomo commented on #1961
Hi @diego-lipinski-de-castro, please setup a codepen or jsFiddle with a example.
Note that `:span:"0"` is invalid sintax, it should be `:span="0"`

[2017-09-23 07:05] dean5277 opened #1965 "Table render Input on-blur method is invalid"
https://jsfiddle.net/1tu1cmjd/12/

是我使用方式有问题吗？

[2017-09-23 07:31] xpin1509 opened #1966 "table sort排序问题"
on-sort-change触发时，箭头按钮的已经改变，如何手动改变按钮的改变

[2017-09-23 08:53] SergioCrisostomo commented on #1965
@dean5277 the iview event is called `on-blur` so you should use `'on-blur': function() {`like this:  https://jsfiddle.net/Sergio_fiddle/1tu1cmjd/14/

[2017-09-23 08:53] #1965 closed

[2017-09-23 09:04] aKaigege opened #1967 "官网文档 点击code 下方的按钮 拉长div 这个代码在哪呢？"

[2017-09-23 09:37] chavyleung opened #1968 "【建议】表单回车提交"
目前只能监听input的回车事件来提交表单（当然前提焦点得在input里）
如果焦点不在input就没法回车提交了

举个场景：登录
输完账号、密码，勾选“记住密码”，这样就没法回车提交了

jQuery有个方法可以监听某个dom内的键盘事件（前提焦点也要dom内）
表单能否也提供个类似的事件？

[2017-09-23 09:47] HOTAO opened #1969 "Rate 颜色的的问题"
Rate 没有提供设置 颜色的操作..
目前的场景是 需要 蓝色的小星星..

[2017-09-23 16:54] diego-lipinski-de-castro commented on #1961
Hello, yeah here it is, https://codepen.io/maxorhd/pen/OxbVKz

Note that, the <i-menu-item> tag isnt rendering properly in the pen but thats not the problem, the problem is that, when I toggle, it sets the span to 0, and instead of applying the class "ivu-col-span-0" (that sets display to none) it leaves with just "ivu-col" class.

Is this an expected behavier? Because I think it makes more sense

[2017-09-23 17:55] diego-lipinski-de-castro opened #1970 "Directive for menu tag"
Is it possible to create a directive for the Menu tag to say when i want the menu to be a navegation (router) or no? I dont always need a menu for navigation purposes, and it's quite frustating to rework around this

[2017-09-23 18:22] sainf commented on #1942
Hi.

I'm using with nuxt and it works very well.

Most of the info that you need is already where in the issue, but I'll try to resume.

`yarn add iview
`

Create a /plugins/iview.js
[code]

in nuxt.config.js
...
[code]
...

And then you need the css...
For this you have some options:

Import in your nuxt main css like (asset/css/main.css)
@import '../../node_modules/iview/dist/styles/iview.css";

[2017-09-23 18:55] sainf opened #1971 "value.getTime in Form validation with DatePicker and NUXT"
Hi.

This error occurs in validation of the DatePicker, it return the error: value.getTime is not a function

Note: This error only appears when the page is server loaded, if is loaded in client the validation work's fine!

The code is a new nuxt with basic template and only added the Form, DatePicker and validation.

[code]

[2017-09-24 05:44] gefangshuai commented on #1945
what?

[2017-09-24 05:49] tangsj commented on #1915
找到原因了，    options　key设置问题， 改成一个唯一的id 就好了
https://codepen.io/tangsj/pen/PJPryz

[2017-09-24 05:49] #1915 closed

[2017-09-24 06:38] SergioCrisostomo commented on #1971
@sainf (Oi Carlos!)

do you have a repository we can test? Would be nice to have a smooth integration with Nuxt.

[2017-09-24 06:47] icarusion commented on #1968
I think this is not a good idea.

[2017-09-24 06:47] #1968 closed

[2017-09-24 06:48] #1967 closed

[2017-09-24 07:34] BiggerKai opened #1972 "在RadioGroup里使用Select"
<RadioGroup  vertical style="width: 100%">
            <Radio label="1">
              <span>按小时</span>
              <Select size="small"  v-model="hour" style="width: 80px">
                <Option v-for="item in hours" :value="item.value" :key="item.value">{{ item.label }}</Option>
              </Select>
            </Radio>
</RadioGroup>
就是在radiogroup里使用select组件的时候，点击select的下拉项就瞬间消失了

[2017-09-24 07:38] #1972 closed

[2017-09-24 09:25] wangxiao commented on #55
@icarusion Hi 能否补充一下更详细的贡献过程在 [README.md](https://github.com/iview/iview/blob/2.0/README.md) 里面么？例如，如果贡献，需要执行什么，怎么运行测试用例，用哪个命令打包之类的。

[2017-09-24 09:28] icarusion commented on #55
@wangxiao Hi, more info can be found here https://www.iviewui.com/docs/guide/standard-en and pass `npm run test`.

[2017-09-24 09:43] wangxiao commented on #55
@icarusion  thx, but the guide did not say how to do those things, for example, do i need to run `npm run dev` for developing, and how to update the iVew doc, and blablabla...

I really hope you can supplement those details, that how to contribute.

[2017-09-24 09:47] icarusion commented on #55
More commands can view the `package.json`, and the doc code is here https://github.com/iview/iview-doc. However, it is not mandatory to update the documentation and unit tests. Thank you!

[2017-09-24 09:57] wangxiao commented on #55
eh... ok... but i think it maybe not enough friendly for contributor.  I think we can reference [LeanCloud JavaScript SDK](https://github.com/leancloud/javascript-sdk/blob/master/README.md) , maybe it is better.

[2017-09-24 10:04] sainf commented on #1971
Hi.

Sure: https://github.com/sainf/nuxt-iview-bug

thanks

[2017-09-24 10:38] icarusion commented on #55
we'll add more details

[2017-09-24 12:45] wangxiao commented on #55
I think we need change the `master`  branch to the `2.0`  branch, the developing code is used to  storing in the master branch.

[2017-09-25 01:19] pakhco opened #1973 "Table能不能具备一个分组的功能"

[2017-09-25 01:19] #1973 closed

[2017-09-25 01:44] wangtifang opened #1974 "table是否有树形表格，作为后台ui，应该具有类似easyui的treegrid组件嘛"
table是否有树形表格，作为后台ui，应该具有类似easyui的treegrid组件嘛

[2017-09-25 01:51] gaecfov opened #1975 "Feature-Table是否考虑增加自定义显示列及列宽手动调整？"
自定义列显示：
参考AntDesigner规范中的示例显示额外的按钮或者在Header中增加自定义显示列，点击时列出所有列可以勾选那些显示，确定时设置column的display并触发一个on-column-reorder事件
列宽手动调整：
在header的brode上可以左右拖动调整列宽，拖动完成触发on-column-resize事件
另外对于column是否考虑增加type（number/string/boolean/date等），可以根据类型生成默认的filter-menu，number-InputNumber，boolean-CheckBox，date-DatePicker，string-Input这种？

[2017-09-25 02:21] imfengzi commented on #1974
这也是我想建议添加的

[2017-09-25 02:22] dean5277 commented on #1965
THX

[2017-09-25 02:41] wangtifang commented on #1974
恩，后台ui框架，用到的地方很多呀

[2017-09-25 02:48] weihongyu12 opened #1976 "Form组件里的Input，无法正确绑定on-enter事件"
iView 版本号
2.2.1

操作系统/浏览器 版本号
Windows/Chrome 61

Vue 版本号
2.4.2

能够复现问题的在线示例（重要）
[code]

复现步骤
直接在键盘上按Enter，不会触发绑定事件，而会触发原生的表单的submit事件

问题现象，以及你期望的结果是怎样的？
1. 按Enter时，不触发form的submit事件
2. 为`Form`增加`on-submit`事件

你估计可能的原因是什么（选填）？
1. 按Enter时，事件冒泡了

[2017-09-25 02:57] #1976 closed

[2017-09-25 02:58] icarusion commented on #1969
手动修改样式

[2017-09-25 02:58] #1969 closed

[2017-09-25 03:22] DeepenLau commented on #1682
一个月了，希望有人答复一下，谢谢

[2017-09-25 03:22] yzs2011 opened #1977 "select下拉无法显示选中数据"
这个没法用在线实例重现，我先描述清楚问题
我的下拉框数据是 从父组件往下传递进来的 props
`
父组件传递数据到子组件
<TabPane label="父组件" name="test">
          <test :selectRenderData="selectRenderData"></test>
        </TabPane>

 子组件接收并且显示
 props: ['selectRenderData'],

<FormItem prop="renderName" label="测试">
            <Select v-model="formQuery.renderName" class="cmcc-select">
              <Option v-for="item in selectRenderData" :value="item.u

[2017-09-25 05:26] shihuifeng opened #1978 "AutoComplete触发搜索是否可以考虑支持delay属性"
如题

[2017-09-25 05:27] SergioCrisostomo commented on #1560
@mrerhuo please use `new Date()` as initial value. https://jsfiddle.net/Sergio_fiddle/owns3jah/5/

[2017-09-25 07:23] Neo-J commented on #1513
写一个自定义组件，双击变成Input，然后通过render渲染到table的col中，监听修改事件同步修改table的data就可以了

[2017-09-25 07:25] ylq167 opened #1979 "可否提供组件的设计规范文件下载？"
可否提供组件的设计规范文件下载？

[2017-09-25 07:50] zhuma opened #1980 "建议为上传组件增加上传数量限制属性"

[2017-09-25 09:28] icksky opened #1981 "[Feature Request] Cascader 级联选择设为 change-on-select 时，搜索并选择的结果问题"
## 问题描述
级联选择(Cascader ) `change-on-select` 为 `true` 时， 搜索结果希望也能够仅选择某一个层级的结果。
比如示例中，搜索 `福建省`，搜索选中后为3个层级的结果（eg: `福建省/福州市/鼓楼区`），但是我希望点选的时候只选中 `福建省`；
比如，搜索 `宁波市`，希望只选择到 `浙江省/宁波市`。
## 在线示例：
https://codepen.io/anon/pen/ZXBZmy

## 其他
或者有别的解决方法么？Thanks！

[2017-09-25 10:18] 15118000091 opened #1982 "Tab组件嵌入Modal时，默认激活的Tab下划线没有显示"
# 问题描述
Tab组件嵌入Modal时，默认激活的Tab下划线没有显示。

[2017-09-25 10:22] #1982 closed

[2017-09-25 10:47] 15118000091 commented on #1982
thanks， i have found the solution!  #1846

[2017-09-25 13:18] webproblem commented on #1977
把父组件的`<test :selectRenderData="selectRenderData"></test>` 改成 `<test :select-render-data="selectRenderData"></test>` 就可以了，这是属于vuejs的规范。
[
![image](https://user-images.githubusercontent.com/20440496/30810244-04691dbc-a237-11e7-9bd2-1f1c5b06acf3.png)
](url)

[2017-09-25 13:39] vikramparihar opened #1983 "how to set default lang english for every component."
I am trying to use iview calendar but calander  showing in chines language.

[2017-09-25 14:00] SergioCrisostomo commented on #1983
[code]

@vikramparihar in the future, such questions are welcome in Stackoverflow with the tag `iview-ui`, this repo is for bugs and features.

[2017-09-25 14:00] #1983 closed

[2017-09-25 16:15] rlam3 opened #1984 "Trying to build iView with NuxtJS. But it doesn't allow in pipeline..."
[code]

Any Idea why this is happening and how to integrate iView with NuxtJS properly? Thanks!

[2017-09-25 18:04] rlam3 commented on #1942
@sainf Thanks. I'm having difficulty in getting this to build in bitbucket pipelines... any ideas on why I'm getting the following error?

[code]

[2017-09-25 21:18] sainf commented on #1942
@rlam3 I'm new to bitbucket, but here's an repo that I'm using to test a bug.
bit: https://bitbucket.org/sainf/iview-nuxt
git: https://github.com/sainf/nuxt-iview-bug

[2017-09-25 21:33] iSunRise opened #1985 "Table component: Constantly getting resizer error on Chrome"
Hi guys,
Thank you for great product!
Unfortunately I'm getting issue every time I use the Table component, the issue looks like:
[code]
I found that this message is generated by "element-resize-detector" and you use it [in table component](https://github.com/iview/iview/blob/2.0/src/components/table/table.vue#L733) without any init params. Error appears on last Chrome (61.0.3163.100), Firefox wor

[2017-09-26 03:02] yzs2011 commented on #1977
@非常感谢，我试试，不过刚才测试了，同样的代码，今天可以了，不过为了安全起见，我试试你的方法

[2017-09-26 03:04] icksky commented on #1981
### 目前解决方案

复制 `cascader` 到项目中，然后修改并单独引入，覆盖之前的组件
以下为修改内容：
[code]

[2017-09-26 03:13] Sinexs commented on #1864
我已开始也是这个错误，安装了less-loader就好了
`npm install --save-dev less-loader less`

[2017-09-26 03:27] weihongyu12 commented on #1976
我在官方文档和issue都没能找到相关的资料，可以在这里给我一些参考资料吗？

[2017-09-26 03:34] angrytoro commented on #1946
期待支持百分比宽度

[2017-09-26 04:06] melon commented on #633
在Form组件上增加 @submit.native.prevent="handleSubmit()"， 再在组件内部增加一个<input type="submit" v-show="false">即可回车触发form的submit

[2017-09-26 05:02] fumeiyu opened #1987 "timeline 不能使用在CDN 下面"
CDN下不能正常运行
timelineitem 不能被识别

[2017-09-26 05:20] SergioCrisostomo commented on #1987
Can you provide a example with jsFiddle or codepen?

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-26 06:05] belongwqz opened #1988 "select控件显示错误"
html：
[code]
js：
[code]
文档里的结果：
![image](https://user-images.githubusercontent.com/6919651/30844829-5984618a-a2c3-11e7-8d4b-d80dcca851d4.png)
但实际上显示结果为：
![image](https://user-images.githubusercontent.com/6919651/30844911-b63ebe66-a2c3-11e7-83f2-aabe8ee19a5d.png)

[2017-09-26 06:15] SergioCrisostomo commented on #1988
@belongwqz please provide a example in jsFiddle or codepen.

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-26 06:18] belongwqz commented on #1988
我的失误，用django时，{{和}}被转义掉了，改为如下已OK：
[code]

[2017-09-26 06:18] #1988 closed

[2017-09-26 06:36] lzb543041962 opened #1989 "iview中的table调用 exportCsv() 方法在ie9下没有排列"
你好，我在使用iview中的table调用 exportCsv() 方法时发现ie9下导出的csv用excel打开，会丢失排列。
用的是官网实例：https://www.iviewui.com/#/components/table
![image](https://user-images.githubusercontent.com/11659727/30845874-e9977eac-a2c7-11e7-963b-9eb7aa599cc8.png)
请问这是因为什么原因，有没有什么解决方法？

[2017-09-26 06:36] xiaoxin0818 opened #1990 "【建议】Select、Dropdown、DatePicker等浮层placement自适应"
在使用的时候，发现iview有浮层操作的组件，如Select、Dropdown、DatePicker、TimePicker等有浮层交互的组件，浮层朝向不能自适应，当组件在容器边界时展开，浮层会出现溢出容器的情况，这种交互本应该是自适应根据当前视窗位置，自适应placement朝向，比如element的浮层的组件都会有自适应处理。
作为一个ui组件库，这类浮层组件应该提供自适应的浮层，而不是只是提供了placement配置参数让使用者自行处理。

[2017-09-26 07:00] icarusion commented on #1985
thanks for feedback, we'll check.

[2017-09-26 07:59] pollux2015 commented on #1631
请问"iview": "^2.4.0"支持双向绑定??
向绑定的数组里面PUSH没有问题,
点击TAB关闭按钮也没有问题,
通过其他方法移除数组某个值后, tab没有消失

[2017-09-26 08:02] pollux2015 commented on #1493
同样发现此问题

[2017-09-26 08:33] ly525 commented on #1989
@lzb543041962 丢失排列？还是丢失排序？还是丢失列？？

[2017-09-26 08:39] lzb543041962 commented on #1989
@ly525 行没问题，只剩下一列，里面是整行的数据。
![image](https://user-images.githubusercontent.com/11659727/30850759-241aed82-a2d9-11e7-8747-ae093898b08a.png)
源码里采用的好像是另存为的形式。

[2017-09-26 09:33] qq986063761 opened #1991 "【建议】：table 固定列滚动优化"
现在好像鼠标放在table固定列上滚动，似乎不会整体内容滚动，因为设置了overflow：hidden；我看到react 的ant框架中table这个部分似乎处理的还不错，感觉表格有固定列后，鼠标在固定列上滚动应该也生效可能会比较好，因为需求中如果固定列的宽度比较大的时候，大块区域中都不能滚动应该会被测试提bug

[2017-09-26 09:39] chaseEternity opened #1992 "Page分页组件在ie10及ie9报错问题"
![image](https://user-images.githubusercontent.com/32295244/30853356-2c694120-a2e1-11e7-8695-27a414e3f44d.png)
在实际项目中报错，后来直接进ivew官网进行测试，发现ivew官网的例子也是报Error in directive transfer-dom inserted hook: "TypeError: 无法获取未定义或 null 引用的属性“transfer”"类似的错误
环境：
系统：win10
浏览器：ie11
测试环境：ie11模式下的ie10和ie9

[2017-09-26 10:12] pollux2015 commented on #1493
https://jsfiddle.net/pollux2017/ehyy9vo5/?utm_source=website&utm_medium=embed&utm_campaign=ehyy9vo5

[2017-09-26 10:36] easyfrog opened #1993 "Tree组件不能更新(重渲染)结点(Node)的问题"
按例子创建了一个Tree组件.没有问题.
但问题是创建之后. 我使用代码 . 向 baseData中的一个节点中 加入children并添加了几个结点.. 但界面中的Tree组件 没有任何变化, 只有再使用鼠标点击那个节点的时候. 才会更新(重渲染).

请问这是Bug吗? 还是有什么解决方法?

[2017-09-26 11:27] Yansor commented on #1640
@Baoyx007 最终解决了吗?

[2017-09-26 12:29] SergioCrisostomo commented on #1971
@sainf  thanks for the demo, it really helped understand the problem.

So the challenge here is that Nuxt serialises the Dates, and `DatePicker` gets a _String_ as input value. The DatePicker can survive that but the validator cannot.

I [sent a fix suggestion](https://github.com/iview/iview/pull/1994) for this that we need to test. Please test it also.

Another possible fix is locally calling a c

[2017-09-26 15:07] rlam3 commented on #1942
@sainf Thanks!

[2017-09-26 16:30] sainf opened #1995 "DatePicker and TimePicker TypeError with invalid input"
Hi.

This bug can be see in the official pages:
https://www.iviewui.com/components/time-picker-en
and
https://www.iviewui.com/components/date-picker-en

If you click on an empty date/time and just insert some chars (like: ss), and the press "Tab" or click out of the input we have an:

TypeError: Cannot read property 'length' of undefined

And in NUXT it breaks the process.

[2017-09-26 16:56] sainf commented on #1971
@SergioCrisostomo Thanks for the commit, just tested and it works perfectly.
But giving the values in mounted doesn't works...

Thanks for all!

Note:
TimePicker Validation and NUXT work perfectly
Unfortunately with all this test and find out a new bug with DatePicker/TimePicker that breaks NUXT #1995

[2017-09-26 19:08] rlam3 opened #1996 "[Feature Request] Would love to see integration of lost-grid"
Would love to see integration of lost-grid instead of bootstrap way of grid. It allows for more control.

https://github.com/peterramsing/lost

[2017-09-26 22:07] SergioCrisostomo commented on #1937
@tttttty  tested your code now and found 2 problems:

 - `data(){` shorthand function syntax in object key that IE11 does not like
 - a bug in IE11 because of `Array.prototype.find` which IE11 does not have and babel preset `es2015` that iview uses doesn't polyfill

Can you please test this code https://jsfiddle.net/Sergio_fiddle/jpavpv3c/ and report if you still find the error you mentioned?

[2017-09-27 01:47] Shruan opened #1998 "在线演示功能"
在使用ivew组件实例的时候都没有办法直接编辑及测试，挺麻烦的
希望iview官网在组件后面能新增一个icon，能快速链接到组件实例上，方便测试和使用

[2017-09-27 01:48] Shruan commented on #1998
![image](https://user-images.githubusercontent.com/28869029/30892017-ead5f044-a2fb-11e7-9430-bb0303b682f6.png)
在饿了么UI的官网上貌似就有这样的功能，可以参考一下

[2017-09-27 02:24] Baoyx007 commented on #1640
没有, 可以看下这个 issue #1717

[2017-09-27 04:29] mcc108 commented on #1700
这样问题怎么解决？@icarusion

[2017-09-27 05:52] Teddy-Zhu commented on #1090
when can we support vue-i18n@7.x
@icarusion

[2017-09-27 06:36] beileixinqing opened #2001 "steps进度条status加了没起作用，如果是动态绑定的，加了管用但是报错"
报错：
vue.esm.js:476[Vue warn]: Invalid prop: custom validator check failed for prop "status".

[2017-09-27 06:48] #1971 closed

[2017-09-27 07:02] #1809 closed

[2017-09-27 07:05] #1937 closed

[2017-09-27 07:10] #1872 closed

[2017-09-27 07:10] #1995 closed

[2017-09-27 07:19] raozhidan opened #2003 "tabs中的tabpane通过v-if动态控制显示与隐藏的问题"
通过v-if设置tabpane隐藏，页面第一次进入没有问题，不显示，第二次进入设置未true，显示，第三次进入，设置为false，就没有隐藏了，这是怎么回事啊？

[2017-09-27 07:28] viewweiwu opened #2004 "AutoComplate 首次输入不弹窗"
AutoComplate 首次输入如果查询是是异步的，需要再输入一个字符或者再次 focus 才会出现筛选框。
在线示例：https://codepen.io/viewweiwu/pen/rGyYEB?editors=1010

[2017-09-27 07:51] SergioCrisostomo commented on #1871
@alex374 can you provide a jsFiddle or codepen reproducing the problem?

[2017-09-27 08:15] ContyChen opened #2005 "有没有计划添加类似easyui combogrid的组件？"
有没有计划添加类似easyui combogrid的组件？

[2017-09-27 08:54] bitqiang commented on #1993
tree 感觉bug还是比较多的。。其实你可以尝试用v-if销毁组件。可能会好用些

[2017-09-27 08:56] fumeiyu commented on #1987
已创建
https://codepen.io/anon/pen/RLpMNW?editors=1111
但是显示不了 时间轴
参考的内容
https://www.iviewui.com/components/timeline

[2017-09-27 08:57] alex374 commented on #1871
@SergioCrisostomo , I fix this after re-compiled my project. Sorry about the wrong comment.

[2017-09-27 08:57] bitqiang commented on #1962
可以尝试修改css。
[code]
其次是给点击文字的方法。修改为点击文字也勾选住节点。

[2017-09-27 08:58] icarusion commented on #1987
![image](https://user-images.githubusercontent.com/5370542/30904605-0e5048f8-a338-11e7-9d6a-c16f693d25e7.png)

[2017-09-27 08:58] #1987 closed

[2017-09-27 09:00] #2005 closed

[2017-09-27 09:03] #390 closed

[2017-09-27 09:03] #663 closed

[2017-09-27 09:03] #1796 closed

[2017-09-27 09:04] #1805 closed

[2017-09-27 09:04] #1808 closed

[2017-09-27 09:04] #1849 closed

[2017-09-27 09:05] #1871 closed

[2017-09-27 09:07] raozhidan commented on #2003
Tabs.jtnc-sfjtnc-detail(type="card")
      TabPane(label="登记申请")
        Form(ref="form" :model="model" :labelWidth="110" :rules="rules" )
      TabPane(label="初审" v-if="cstab")

 data() {
    return {
     cstab:false,
}
}
 methods: {
  show(id,type) {
  if(type==='add'){
        this.cstab=false;
      }else if(type==='edit'){
        this.cstab=false;
      }else if(type==='deal'){
        this

[2017-09-27 09:07] icarusion commented on #1895
Hello, this online demo is wrong. Please kindly provide an example to reopen the issue.

[2017-09-27 09:07] #1895 closed

[2017-09-27 09:08] #1905 closed

[2017-09-27 09:08] #1920 closed

[2017-09-27 09:16] BengBu-YueZhang commented on #1980
仔细看例子，里面有钩子可以判断

[2017-09-27 09:16] BengBu-YueZhang commented on #1980
不要问弱智问题

[2017-09-27 09:43] Mustang-666 opened #2006 "Cascader filterable on-change"
Cascader在filterable为true，搜索选择的结果on-change回调selectedData 为空

[2017-09-27 10:14] #1924 closed

[2017-09-27 11:39] fumeiyu commented on #1987
Thanks ,解决了

[2017-09-27 12:17] xupengrun commented on #1918
我也遇到这个问题,

[2017-09-27 13:10] CassianoViana opened #2008 "TabPane: Content with Select, and Datepickers hidden"
I have a form with a DatePicker inside Form into a TabPane.
As you can see the bottom of the DatePicker is hidden by the foreground.
The same occurs with select (I have the options 1,2,3 in the example).

![screenshot from 2017-09-27 09-31-57](https://user-images.githubusercontent.com/6260991/30913541-f82f9c7a-a366-11e7-9492-33e920d52645.png)

![screenshot from 2017-09-27 09-37-11](https://user-im

[2017-09-27 13:12] CassianoViana opened #2009 "TabPane: Go to next tab' input by pressing tab key."
I have two tabs (A, B):

![screenshot from 2017-09-27 09-54-21](https://user-images.githubusercontent.com/6260991/30914592-9b8760c6-a36a-11e7-8a4f-9c547f2f74e0.png)

When i hit tab key (the first A's input is focused), then the B's input is gain the focus.
The TabPane title disapear:

![screenshot from 2017-09-27 09-54-48](https://user-images.githubusercontent.com/6260991/30914634-be47378a-a36a-11

[2017-09-27 13:16] SergioCrisostomo commented on #1745
Not sure this is a bug... @icarusion what do you think?
Should `on-change` fire after the `v-model` is updated?

[2017-09-27 13:20] SergioCrisostomo commented on #1466
I think this is same as fixed in https://github.com/iview/iview/pull/2002.
If not please provide example and reopen.

[2017-09-27 13:20] #1466 closed

[2017-09-27 13:34] SergioCrisostomo commented on #1503
@Jaction can you please provide a example so we can test this problem?

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-27 13:46] SergioCrisostomo commented on #1714
@dingsk the DatePicker has received many fixes. Please check again with the current code on master.

If your problem still exists please add a exemple so we can check. Thanks

使用下面的在线链接可以快速创建示例
https://codepen.io/anon/pen/KvJJdw

[2017-09-27 13:46] #1714 closed

[2017-09-27 13:50] SergioCrisostomo commented on #2009
Oi @CassianoViana! Can you please create a codepen to reproduce the problem?

Use this as starting point: https://codepen.io/anon/pen/KvJJdw

[2017-09-27 13:59] SergioCrisostomo commented on #1984
@rlam3 `iView` should be lowercase. Please try with `iview`.

Closing as dup of https://github.com/iview/iview/issues/1942

[2017-09-27 13:59] #1984 closed

[2017-09-27 14:47] SergioCrisostomo commented on #2008
@CassianoViana please provide a codepen that reproduces your problem.
(https://codepen.io/anon/pen/KvJJdw)

[2017-09-27 14:53] iSunRise commented on #1985
Can I somewhow help you with it?

[2017-09-27 17:53] SergioCrisostomo commented on #1918
Can you please add a example of the problem?

使用下面的在线链接可以快速创建示例
https://codepen.io/pen/WZpqGZ

[2017-09-27 20:44] rlam3 commented on #1942
Also I'd like to also know if there is a way to integrate iview-loader with nuxtjs

https://www.iviewui.com/docs/guide/iview-loader-en

@sainf Any chance you have used this too? Or have you just stuck with plugins only? Thanks!

[2017-09-27 21:02] rlam3 opened #2011 "[Help] How to properly implement iview with vue-notification?"
How do we properly implement iview with vue-notification in a NuxtJS app?
I'm looking for a simple way to trigger a `notice` upon a index page on first visit.

Thanks! Really appreciate your help!

Reference: https://www.iviewui.com/components/notice-en

[2017-09-28 00:28] asd8510678 commented on #1962
单击事件是绑定在icon图标里的 所以单单放大图标大小能解决  但是图标改大了看起来就怪怪的

[2017-09-28 01:50] icarusion commented on #1942
@rlam3 iview-loader work with webpack, so i think it worked, but i have no test.

[2017-09-28 02:07] yangdan8 opened #2012 "js代码打包为严格模式后报错batchSize,topLevel,bottomLevel未定义"
![qq 20170925115412](https://user-images.githubusercontent.com/16515026/30946148-cb454a06-a434-11e7-8d2a-aede7584e7a6.png)

以上3个变量未定义就直接使用,请确认

[2017-09-28 02:37] lauber00 opened #2014 "[Feature Request]Input password类型，右侧增加eye，点击可以显示/隐藏password内容"
如题。

[2017-09-28 02:42] yzs2011 commented on #1977
在本地可以 在服务不可以 显示选中的下拉内容

[2017-09-28 03:25] yangdan8 opened #2015 "Form无法执行验证"
https://jsfiddle.net/j0q12fsh/37/

[2017-09-28 03:33] sampanxin opened #2016 "关于select 失焦验证"
在使用 select（可搜索） 和input  控件，  input  失焦就验证；  但是select   一定要change后才能验证； 这样表单验证不一致；查了 select源码  handleBlur   确实没有；  是否可以考虑 添加呢？ 如果不能，能说下为什么吗？

[2017-09-28 03:38] #2015 closed

[2017-09-28 03:38] yangdan8 commented on #2015
自己写错prop位置了

[2017-09-28 03:46] dabizichali opened #2017 "tag为毛没有点击事件"
而且渲染时还把标签内的标签过滤了，太坑了

[2017-09-28 03:47] #2017 closed

[2017-09-28 05:41] #2016 closed

[2017-09-28 08:01] sainf commented on #1942
It's easy, you answer is in https://nuxtjs.org/faq/extend-webpack.

Here's a full nuxt.config.js with iview and iview-loader (tested)

[code]

[2017-09-28 08:55] sharpfeel commented on #1599
这是因为在transfer-dom.js中使用了不兼容ie11以下的dataset属性，添加以下代码可兼容ie8+浏览器。

[code]

[2017-09-28 09:15] lcx960324 commented on #2014
iView 目前不提供移动端支持。该功能在 PC 端不太常见，所以目前不考虑提供。有需求的话可以通过点击切换 Input 的 type 的方式自行实现。

[2017-09-28 09:21] lcx960324 commented on #2011
Sorry but I don't understand what the question is about. Is there any problem using iView's `Notice` in Nuxt.js ?

[2017-09-28 09:49] NightFarmer commented on #1856
我也遇见了 闹心  不知楼主是否解决  望告知  感谢

[2017-09-28 10:15] wangyifen opened #2019 "transfer 建议新增checkbox change时的回调函数"
需求：
选中数据源的checkbox，自动出现在targetKeys中，通过checkbox的change事件，来回穿梭两边数据。

api只提供了on-change的回调，要点击左移右移按钮，多了一个步骤。
所以 希望能新增checkbox change时的回调函数

[2017-09-28 10:18] xiwadai opened #2020 "iview 的select组件中，在和v-model绑定时，展示其value值，绑定对应的id提交后台"
1.这是让用户看到的
![image](https://user-images.githubusercontent.com/24467843/30961439-c9bfdc52-a478-11e7-83f5-8838379c3d13.png)

2.提交后台的是其对应的id
![image](https://user-images.githubusercontent.com/24467843/30961503-f92beecc-a478-11e7-8a7a-e1f84b376a66.png)

3.代码
![image](https://user-images.githubusercontent.com/24467843/30961628-5d419664-a479-11e7-8904-e2afed6a16fa.png)

4.期望解决：展示给用户的是value，怎样提交后台的是id,

[2017-09-28 12:40] philipyao commented on #1700
同样遇到这个问题，怎么解决的？@xcodebin

[2017-09-28 13:41] rlam3 commented on #1942
@sainf Thanks!
Is there a difference between eslint-loader and iview-loader and why we would pick one over the other and not have both??

[2017-09-28 14:06] sainf commented on #1942
Sorry @rlam3 but you must google more.
I think the main question is solved.

[2017-09-28 14:09] icarusion commented on #1980
@BengBu-YueZhang 回答就好，请不要言语攻击，毕竟每个人的技术水平不一样，社区还是保证和谐的：）
@zhuma 也请描述清楚你的问题。

[2017-09-28 14:22] lcx960324 commented on #2020
https://www.iviewui.com/components/select
可以参考 Select 的第一个示例，在 Option 中自定义展示的内容，然后把 value 赋值为想要传递的值。

[2017-09-28 15:04] ly525 commented on #1989
@lzb543041962 你说是一行一行地显示数据，而不是按照逗号分隔是吗？
这样出现的原因是你需要设置你的excel的分隔符为逗号。参见 #1460

[2017-09-28 15:45] SergioCrisostomo commented on #1989
@lzb543041962 please provide a live example for this.

使用下面的在线链接可以快速创建示例
https://codepen.io/pen/WZpqGZ

[2017-09-28 16:04] rlam3 commented on #2011
@lcx960324 I'm trying to implement vue-notification with iview component notice on index page load in a NuxtJS App. Any tutorial on how to do this? Thanks!

[2017-09-28 16:08] CassianoViana commented on #2008
Thanks @SergioCrisostomo I reproduce here (https://codepen.io/anon/pen/VMbBoj)

[2017-09-28 18:48] SergioCrisostomo commented on #2008
If we remove `overflow: hidden;` from `.ivu-tabs` it works good: https://codepen.io/sergiocrisostomo/pen/RLVvzX

@icarusion do you see any problem with that change?

[2017-09-29 00:51] zhenlei520 opened #2022 "IView-Cli打包路径问题"
利用IView-Cli生成的工具打包地址怎么弄 打包后地址全部乱了，怎么配置路径？

[2017-09-29 00:58] alvin198761 commented on #1545
问下这问题解决掉了没有啊，我想买刚刚开始，不要让我推了,这个功能很严重啊，我表单验证失败，居然给我自动关闭了，苦逼啊

[2017-09-29 00:59] sadenwang opened #2023 "建议可补充一些控件"
小小的建议，iview的控件已经很多了，但是还不够丰富和深入，建议参考一下http://www.uileader.com/quickui/system/main/main.jsp
,虽然感觉U做的不如IVIEW，但是控件种类和使用的定制化方面考虑的很全面实用，作为菜鸡，贡献不了代码，只能寄希望于大神了

[2017-09-29 01:11] alvin198761 commented on #1545
有没有别的替代方案啊，这个成了一个大问题了，

[2017-09-29 01:36] 954053260 commented on #2023
<i-table :columns="columns" :data="data.records" :loading="true"></i-table>
我发现table组件这样使用，loading加载不出来

[2017-09-29 02:54] lauber00 commented on #2014
@lcx960324 好的，多谢！

[2017-09-29 04:00] gitzhangfugui commented on #1992
@chaseEternity 这个是用到这个指令应该都有问题transfer-dom，我已经提交过一个了，ie兼容问题，还没解决....

[2017-09-29 04:22] gitzhangfugui opened #2024 "Menu菜单的z-index与Dropdown下拉菜单的z-index冲突"
# 版本：iview 2.4
###  原因menu菜单与dropdown使用的同一个样式.ivu-select-dropdown，造成冲突。查阅文档发现，最近修改过menu的z-index #823 。建议规划整理一下z-index，以保证其他不出现问题。

谢谢官方一直对iview的支持。希望iview越来越好。

![qq 20170929120856](https://user-images.githubusercontent.com/30425581/31000614-808673ec-a50f-11e7-9514-68f34586a22d.png)

[2017-09-29 05:03] zujung opened #2025 "关于Table组件数据无法与父组件同步的问题"
您好！Table组件所绑定的数据无法与父组件同步。是否考虑使用props来绑定objData？

[2017-09-29 05:17] #2025 closed

[2017-09-29 05:44] tvolitt opened #2026 "InputNumber当precision为0时，无法精确为整数"
源码223行：
if (this.precision) val = Number(Number(val).toFixed(this.precision));
是否应该加上对this.precision === 0的判断？
如：if (this.precision === 0 || this.precision) val = Number(Number(val).toFixed(this.precision));

[2017-09-29 06:46] SergioCrisostomo commented on #2023
Thank you!

[2017-09-29 06:46] #2023 closed

[2017-09-29 07:24] abcdGJJ opened #2028 "[Bug Report] select中的option label动态加载时，select默认值没有显示label中的值"
## 问题描述

select组件，默认值和option下面的label值都是动态设定的。设定完成后，select样式显示已选定，但是没有出现动态设定的label值

## 在线示例

https://codepen.io/abcdGJJ/pen/qPjbpa

[2017-09-29 07:59] liangshangyu opened #2030 "三级菜单怎么支持啊"

[2017-09-29 07:59] liangshangyu commented on #2030
有没有什么办法支持三级菜单

[2017-09-29 09:03] #2026 closed

[2017-09-29 09:12] dean5277 opened #2031 "iview 2.4 Table adaptive width is not supported"
#690

https://jsfiddle.net/1tu1cmjd/16/

Column need to support min width

[2017-09-29 09:51] wuwensheng1992 opened #2032 "Modal启用loading后确定按钮如何手动释放"
在Modal做新增、修改的操作，启用loading状态。
点击确定后要是表单校验不通过，则确定按钮无法手动释放，不能再次点击。

[2017-09-29 12:12] SergioCrisostomo commented on #2026
@tvolitt why did you close the issue?
I sent a fix for it, but its not merged yet :) maybe better to keep it open until its in master.

[2017-09-30 01:43] angusjiang commented on #92
@icarusion  抖动的问题解决了，我这里model 弹框过大的时候，关闭时，抖动更明显的，关闭时的动画能流畅些吗

[2017-09-30 02:17] DanceSmile opened #2033 "Dropdown 在非template下面调用没有样式"

[2017-09-30 02:40] Sasha-XS commented on #1713
同问，可否提供取消上传，或者在on-progress文件上传时的钩子中多返回一个xhr对象

[2017-09-30 02:44] BengBu-YueZhang commented on #1922
= =

[2017-09-30 02:47] BengBu-YueZhang commented on #1597
Thanks

[2017-09-30 02:47] BengBu-YueZhang commented on #1922
@lockontan

[2017-09-30 04:59] AILINGANGEL opened #2034 "Table表格的loading"
尝试设置table的loading属性，并没有表格加载的效果~

[2017-09-30 05:01] #2034 closed

[2017-09-30 06:22] DanceSmile opened #2035 "modal 在非template 下也没有对应的调用方式么？"

[2017-09-30 06:49] zazaluMonster commented on #2035
https://www.iviewui.com/components/modal#Modal_instance

[2017-09-30 06:57] zazaluMonster commented on #2030
https://github.com/iview/iview/pull/1742

[2017-09-30 07:18] SergioCrisostomo commented on #2033
@DanceSmile can you please provide a example so we can see the problem you describe?

使用下面的在线链接可以快速创建示例
https://codepen.io/pen/WZpqGZ

[2017-09-30 07:20] SergioCrisostomo commented on #2035
@DanceSmile can you please provide a example so we can see the problem you describe?

使用下面的在线链接可以快速创建示例
https://codepen.io/pen/WZpqGZ

[2017-09-30 07:22] SergioCrisostomo commented on #1713
@yuanqu1208  can you please provide a example so we can see the problem you describe?

使用下面的在线链接可以快速创建示例
https://codepen.io/pen/WZpqGZ

[2017-09-30 07:24] SergioCrisostomo commented on #1597
@jumpdog could you provide a example for this?
Is it something that should be better in iview's code? would e great to get a Pull Request with a fix, or some notes in the docs on how to avoid this problem.

Thanks for sharing

[2017-09-30 07:40] bogerv commented on #1293
![question](https://user-images.githubusercontent.com/22518653/31043835-9032824a-a5f5-11e7-94e0-d2ac0717f066.gif)
同样的问题, 除非重新加载页面

[2017-09-30 07:42] xubowenjx commented on #2022
你指的乱是怎么？
默认打包输出配置是这样的
[code]
如果你不想带有hash值就去掉，其他文件的打包输出类型
[code]

[2017-09-30 11:21] webrocom commented on #1763
<Panel v-for="bank_update in banks" :key="bank_update.id" v-bind:name="bank_update.id">

Its woks

[2017-09-30 12:51] webproblem opened #2037 "checkbox组件支持排序"
添加checkbox组件支持按顺序返回value值。
目前的checkbox组件在CheckboxGroup组合下，得到勾选的值是按照勾选时的顺序排列的，比如有A，B，C，D几个多选框，可能勾选的顺序是B->A->C->D，返回的value值就是["B","D","C","A"]，但是在一些应用场景下需要得到的是按照多选框的顺序来排列的value值，比如考试系统的题目选项等。

[2017-09-30 13:25] SergioCrisostomo commented on #2037
related: https://github.com/iview/iview/pull/2021

[2017-09-30 13:45] SergioCrisostomo commented on #55
Hi all!

I've been woking and contributing for iview lately and happy to be part developers using iView.
I will continue helping where needed.

@icarusion just added jsFiddle demos to all components in the website 🎉 🎉

[2017-10-01 01:35] crazyxhz opened #2039 "modal 的 instance 调用方式如何支持点击mask 关闭？"
看了下文档：https://www.iviewui.com/components/modal-en#Modal_instance
文档中没有找到相关接口

[2017-10-01 01:39] yangdan8 commented on #2039
mask-closable

[2017-10-01 01:59] crazyxhz commented on #2039
@yangdan8 这是是组件方式调用可以使用的配置，通过 this.$Modal.info(config) 这样调用这个属性无效，后来我注册了body的 click 事件通过全局函数移除了：
[code]

[2017-10-01 07:32] xecrom opened #2040 "form-item表单验证BUG"
由于vue的组件更新策略，导致form内的form-item在删除时，并不会触发组件的destroyed方法，导致表单验证有BUG。如下：
https://jsfiddle.net/xecrom/yyrzhm46/1/

我的临时处理方式是，在form-item 外面套一层div,暂时解决

[2017-10-01 13:31] ZhuLiangT opened #2041 "vue-cli打生产包font文件位置出错"
使用vue-cli webpack模板打生产包是font文件位置出错，需要手动修改文件位置

[2017-10-02 02:49] abcdGJJ commented on #2032
刚好遇到过这个问题，我的解决方案是
[code]

[2017-10-02 06:42] HejinYo commented on #1880
我也遇到这个问题了，话说iview的tree组件功能也太少了，用的人不多么？

[2017-10-02 08:50] jackzhcai commented on #1976
https://github.com/iview/iview/pull/1837

[2017-10-03 02:47] zsux commented on #898
updated(){
      this.$nextTick(() => {
        this.$refs.top_menu.updateOpened();
        this.$refs.top_menu.updateActiveName()
      });
    },

[2017-10-05 08:09] TonyLuo commented on #144
在版本2.4.0里，设置placement="top"，没有改变pageSize时，pageSize选项位置显示正常，
![image](https://user-images.githubusercontent.com/3250305/31216702-2be691ae-a97a-11e7-98fd-3b9f7591d0c3.png)
当把pageSize改变后，页面数据增多时，pageSize选项位置显示不正常。
![image](https://user-images.githubusercontent.com/3250305/31216820-85b48b78-a97a-11e7-972f-b7f8479266c5.png)

<Page :total="100" :current="1"
              @on-change="changePage"

[2017-10-05 15:55] TonyLuo commented on #759
@icarusion 当切换pageSize时，只监听on-change会有会有两种情况：
1.  currentPage != 1, 这是on-change会触发，这时没有问题。
2. 如果currentPage == 1时， on-change不会触发，这时候pageSize无论怎么变化，都不会重新刷新数据。

建议不管currentPage 是否等于1 都触发on-change

[2017-10-06 04:22] ishidai commented on #1158
label-width就是个笑话

[2017-10-06 15:28] vegan0206 opened #2042 "nuxt做服务器渲染时，form表单渲染丢失首行"
1. 通过路由点击到一个页面时，表单显示正常。但是刷新页面，表单的首行就会莫名丢失。所有的页面都是这样。如果不做服务器渲染则显示正常。
2. 通过浏览器中查看请求返回回来的doc，里面是正常渲染的。但是在页面上加载完成后，首行就丢失了。
3. 对比图。
刷新前：
![image](https://user-images.githubusercontent.com/19909190/31285344-9f05c06e-aaed-11e7-898a-a3af0b037291.png)
刷新后：
![image](https://user-images.githubusercontent.com/19909190/31285308-8ebcbb4a-aaed-11e7-9968-1317bbca6c1d.png)

[2017-10-07 05:11] andyhu commented on #1412
Is there any way to support fully functional `nuxt-link`? It's not just a simple `a` tag, but there's also some functionality which is defined in `router-link`.

[2017-10-07 06:40] andyhu commented on #626
@icarusion 编程式导航是什么意思？

[2017-10-07 06:56] SergioCrisostomo commented on #2042
@vegan0206 can you make a example we can test? do you have a Github repository we can test?

[2017-10-07 07:25] webees commented on #1881
我想说这个所谓的优化给我带来了bug，我就需要覆盖式的比如我这有个场景，一打开一个弹窗就会有个加载message，这个时候你操作一些东西可能有其他message，而不会销毁这个加载message，这个弹窗叫做充值（需要不断轮询充值结果，所以有个一直转圈的message告诉用户正常检查充值结果，而一些操作错误也需要显示出来）。这里希望有些开关来控制是否覆盖还是只是显示一次。

[2017-10-07 11:33] mkhanal opened #2044 "support mobile usage with touch/swipe events"
Currently with components like carousel and scroll, iview does not support touch/swipe events.
This is a huge hurdle in using it for a mobile-first platform. This is even more relevant as more and more development is moving away from native to PWA s.

[2017-10-07 11:51] BengBu-YueZhang commented on #2037
你可以自己排序，不是框架的问题

[2017-10-07 19:38] SergioCrisostomo commented on #2044
@mkhanal good point, specially taking into account PWAs.
This could be a long term goal and people like you and me would help identify and fix the needed issues.

@icarusion can we add it to the wish list and improve where needed?

[2017-10-08 06:04] andyhu commented on #1412
I've refactored `BreadcrumbItem` a bit so it could work better with something like `nuxt.js` or `router-link`. I'm not sure if it worths it, but is it possible to modify the original code so the parameters can be more aligned with those standard libraries for better integration?
[code]

[2017-10-08 07:21] vegan0206 commented on #2042
@SergioCrisostomo I put the code synchronization in GIT: [https://github.com/vegan0206/yunhai](url)。This is right when I run npm run dev, but this problem occurs with the npm run generate. The accessible web site for generate deployment is [http://116.255.129.212/user/register/](url)

[2017-10-08 09:22] SergioCrisostomo commented on #1693
@jeremysnake could you provide a example for this behaviour please?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-09 04:00] killergxm commented on #505
@icarusion how many types of the transition-names,There is no description in the document

[2017-10-09 04:02] icarusion commented on #2037
https://github.com/iview/iview/pull/2021#issuecomment-335063240

[2017-10-09 04:02] #2037 closed

[2017-10-09 05:09] #2041 closed

[2017-10-09 05:10] icarusion commented on #2039
$Modal 不支持

[2017-10-09 05:10] #2039 closed

[2017-10-09 05:11] #2031 closed

[2017-10-09 05:11] #2033 closed

[2017-10-09 05:12] #2035 closed

[2017-10-09 05:12] #2022 closed

[2017-10-09 05:13] icarusion commented on #2014
You can do it by yourself

[2017-10-09 05:13] #2014 closed

[2017-10-09 05:14] icarusion commented on #2011
using `this.$Notice` when mounted

[2017-10-09 05:14] #2011 closed

[2017-10-09 06:26] icarusion commented on #2044
I am not very recommend using iView on mobile. Many of iView's designs are not compatible with mobile. It is not like [Quasar Framework](http://quasar-framework.org/).

For click events, I recommend using [fastclick](https://github.com/ftlabs/fastclick).

[2017-10-09 07:54] TonyLuo opened #2048 "page show-sizer位置显示错误"
在版本2.4.0里，设置placement="top"，没有改变pageSize时，pageSize选项位置显示正常，
![image](https://user-images.githubusercontent.com/3250305/31216702-2be691ae-a97a-11e7-98fd-3b9f7591d0c3.png)
当把pageSize改变后，页面数据增多时，pageSize选项位置显示不正常。如果页面数据比较多，比如说40条的时候，还得往上滚动页面去找下拉选项。不加placement="top"，页面数据多的时候,选项的位置显示都不正确。
![image](https://user-images.githubusercontent.com/3250305/31216820-85b48b78-a97a-11e7-972f-b7f8479266c5.png)

[cod

[2017-10-09 08:11] TonyLuo commented on #2048
通过加slot="footer" 暂时解决了
[code]

[2017-10-09 08:11] #2048 closed

[2017-10-09 08:47] wangweida opened #2049 "tabs从中间删除会错乱的问题 提了好长时间也没人答 有复现demo"
http://jsbin.com/bihiliwuho/edit?html,js,console,output

1. 先点两下添加
2. 删除标签页2
3. 再点下增加

[2017-10-09 09:22] yangdan8 opened #2050 "transfer=true与body{width:100%;}会导致日期弹窗宽度不正常"
https://jsfiddle.net/j0q12fsh/39/
![qq 20171009172143](https://user-images.githubusercontent.com/16515026/31331791-595d329c-ad16-11e7-99dd-1aecc261b777.png)

[2017-10-09 09:30] #2049 closed

[2017-10-09 09:48] wangweida commented on #2049
不明白哪描述不清楚了，在线的bug的demo也有，复现总共也就3步。
知道做开源不易，但是也不用一直关issue吧。

[2017-10-09 09:50] icarusion commented on #2049
你先更新到最新版再试试吧。

[2017-10-09 10:50] gh81997167 opened #2051 "Cascader的on-change需要传入第三或者更多参入如何做？"
Cascader的on-change默认返回value, selectedData，但是我的页面设计是 N个Cascader做一个批量添加配件列表的功能，希望给on-change传入第三个参数来指定对应列表项目的值，请问该如何实现？
比如传入第三参数index
on-change(value, selectedData,index)

[2017-10-09 11:04] markflyfly opened #2052 "layout布局使用异常"
1.iview和vue版本
![image](https://user-images.githubusercontent.com/15846359/31335310-9663b3ba-ad24-11e7-932c-cbff7456c8ea.png)
2.错误提示
![image](https://user-images.githubusercontent.com/15846359/31335329-aae2777c-ad24-11e7-835b-4b634d017183.png)
3.代码结构【基本与示例代码相同】
![image](https://user-images.githubusercontent.com/15846359/31335345-b940a19a-ad24-11e7-83d0-57e8f3148399.png)

[2017-10-09 11:22] icarusion commented on #2052
[https://www.iviewui.com/docs/guide/start#组件使用规范](https://www.iviewui.com/docs/guide/start#组件使用规范)

[2017-10-09 11:22] #2052 closed

[2017-10-09 14:23] markflyfly commented on #2052
@icarusion 必须要在webpack环境下使用吗，我是使用script标签引入的

[2017-10-09 22:28] lenxeon opened #2053 "Modal 中的 Dropdown 加了transfer 后的问题"
演示地址
https://codepen.io/lenxeon/pen/QqryXy

加了transfer 后的结果
![wechatimg1724](https://user-images.githubusercontent.com/251825/31361021-cba06856-ad16-11e7-9b9d-dfb284794e3a.jpeg)
不加了transfer 会有滚动问题
<img width="817" alt="wx20171010-062648 2x" src="https://user-images.githubusercontent.com/251825/31361156-87772a88-ad17-11e7-9e75-8f47a946e6d3.png">

[2017-10-10 01:00] jiazehua opened #2054 "请问使用iview-cli时，自定义文件的路径应该如何设置？"
请问使用iview-cli时
自定义文件的路径应该如何设置？
比如通用的css文件， 以及图片文件夹，这些文件该放到哪个文件夹中？
是否需要设置其他文件配置？

[2017-10-10 01:02] #2054 closed

[2017-10-10 02:17] gitzhangfugui commented on #1599
@sharpfeel 这个问题是解决了，但是transfer把位置移错了怎么解决，只要有使用了transfer指令，对于其他没有使用transfer指令的显示也错位了
![default](https://user-images.githubusercontent.com/30425581/31366520-00c9805c-ada4-11e7-8f66-50a3fd8c423c.png)

![default](https://user-images.githubusercontent.com/30425581/31366537-1700c722-ada4-11e7-9da5-eb287d4c57e7.png)

[2017-10-10 02:25] BengBu-YueZhang opened #2055 "多选日期组件的临时解决方案"
iView目前没有多选的功能

[2017-10-10 02:58] sandysong opened #2056 "DatePicker组件的宽度问题"
在栅格中使用DatePicker组件时，组件的宽度总是不能填满整个区块，而是最大宽度只有固定的166px，与Input组件共同使用时无法对齐显得很难看。

如果删除掉.ivu-date-picker的display:inline-block可以解决这个问题，但是不清楚会不会引起其他问题。

示例可以看这里：https://jsfiddle.net/6mL7t2rb/

[2017-10-10 03:21] sampanxin commented on #1753
这个问题有解决吗?  现在更新2.4.0 还是有这个问题

[2017-10-10 03:34] BengBu-YueZhang commented on #2055
我目前的解决方案是自己按照iview的样式，自己写了一个有多选功能的日期组件，不是在iview基础上改的。
首先声明我是菜b，所以代码写得很烂，请各位不要介意

[2017-10-10 03:34] BengBu-YueZhang commented on #2055
<template>
  <div class="multiselect-time-wrapper">
    <div class="time-input">
      <Input :icon="iconType" placeholder="选择日期" style="width: 200px" v-model="times" ref="input"
      @mouseover.native="mouseOver"
      @mouseout.native="mouseout"
      @on-focus="isShowTimeMenu = true"
      @on-blur="timesBlur"
      @on-click="clearInput"></Input>
    </div>
    <transition name="multiselect">

[2017-10-10 03:39] BengBu-YueZhang commented on #2055
[多选日期组件](https://github.com/BengBu-YueZhang/Check-the-date)

[2017-10-10 03:53] gh81997167 commented on #2051
已经解决！@on-change="(value,selectedData)=>{setOption(value, selectedData,index)}"

[2017-10-10 03:55] zhuma commented on #1980
请问表单中多个上传组件，分别可以上传不同数量的文件，您怎么实现

[2017-10-10 04:01] gitzhangfugui opened #2057 "ie10中有滚动条下transfer指令的相关问题"
早前ie10控制台报错
`[Vue warn]: Error in directive transfer-dom inserted hook: "TypeError: 无法获取未定义或 null 引用的属性“transfer”"`
（note：使用了transfer指令都会报错），经检查以及查找资料，得知是ie10不支持dateset导致（见图）
![default](https://user-images.githubusercontent.com/30425581/31368637-a03b2890-adb1-11e7-824b-49cc6c9801be.png)
采用网友提供的方法 #1599 sharpfeel 的解决方案
`
//兼容 transfer-dom.js中 使用了 dataset 的问题

if (window.HTMLElement) {
    if (Objec

[2017-10-10 04:41] yangdan8 commented on #2012
![777777777](https://user-images.githubusercontent.com/16515026/31369633-55644a98-adb8-11e7-9339-5155ed70c46e.png)

[2017-10-10 05:48] callmewhy commented on #944
这确实是个问题，为啥 close 了？

[2017-10-10 05:50] lenxeon commented on #1537
@icarusion 请问我这种情况呢？https://codepen.io/lenxeon/pen/QqryXy

[2017-10-10 06:37] BengBu-YueZhang commented on #2055
有bug，请提

[2017-10-10 06:54] xusenlin commented on #1792
我也遇到你的这种情况，不知道解决了没有

[2017-10-10 07:06] SergioCrisostomo commented on #2055
@BengBu-YueZhang thank you for making work that can help others!

(related: https://github.com/iview/iview/issues/1324)

[2017-10-10 07:43] Zaveon commented on #1993
功能太少了

[2017-10-10 08:39] hangzhouwjh opened #2060 "InputNumber无法被表单验证规则验证"
![qq 20171010164226](https://user-images.githubusercontent.com/19630100/31377274-106bd768-adda-11e7-97eb-d6e87038f89d.png)
![qq 20171010164235](https://user-images.githubusercontent.com/19630100/31377275-10a26ec2-adda-11e7-8ef0-22d1d30d5ffa.png)
![qq 20171010164245](https://user-images.githubusercontent.com/19630100/31377278-10ec689c-adda-11e7-9fb6-679cf6a4d569.png)

[2017-10-10 08:44] hangzhouwjh commented on #1701
值设置成null就是空的了

[2017-10-10 09:28] YJZ-S opened #2061 "Table events 中是否有“多选模式下取消所有项时触发‘’事件？"
![image](https://user-images.githubusercontent.com/26481272/31379231-4781acf4-ade0-11e7-97fa-0e9b03a29741.png)

除了这个
 methods: {
            handleSelectAll (status) {
                this.$refs.selection.selectAll(status);
            }
  }

[2017-10-10 09:33] #2061 closed

[2017-10-10 10:17] xiwadai opened #2062 "iview table组件中，可以对单独某一个单元格进行添加事件吗？"
在table组件中，某一行的某一列的一个单元格内返回两条以上的展示数据，可以对每一条绑定一个点击事件吗？

[2017-10-10 11:04] zhangyaoFkr commented on #557
+1

[2017-10-11 02:43] dean5277 opened #2063 "Can modal instance support mask-closable?"
Can modal instance support mask-closable?

this.$Modal.info({
	title: '能支持遮罩关闭吗',
	content:' 能支持遮罩关闭吗'

 });

[2017-10-11 02:44] #2063 closed

[2017-10-11 02:48] dean5277 commented on #2063
feature request

[2017-10-11 03:00] hangzhouwjh commented on #2060
https://jsfiddle.net/29nnjygo/5/

[2017-10-11 03:31] tvolitt commented on #2060
![_20171011112723](https://user-images.githubusercontent.com/18397319/31420986-58c83400-ae77-11e7-8abb-32c816a6e4c0.png)

[2017-10-11 03:51] gosongs commented on #1136
这个issue为啥关掉了，现在支持左右滑动了吗？

[2017-10-11 03:53] hangzhouwjh commented on #2060
多谢 tvolitt  知道咋回事了，原本想一个输入框多个验证规则，好像type都要写上的！

[2017-10-11 03:56] rchlz opened #2064 "Radio的value为何要改为label呢?"
2.0.0-rc.2的更新日志有一条：
Radio value 改为了 label，使用 v-model，废弃 checked。

为什么要将Radio的value改为label呢？

实际需要以下的这种情况，本来sex我是用0和1标识的，前端展现为男女，可这时sex取到的值也是男女
`<RadioGroup v-model="sex">
    <Radio label="男" value="1"></Radio>
    <Radio label="女" value="0"></Radio>
</RadioGroup>`

[2017-10-11 04:20] shenopkss opened #2065 "CheckboxGroup v-model 绑定了label属性，建议改成绑定value，大部分使用场景是label用作外显，value用作逻辑处理"
CheckboxGroup v-model 绑定了label属性，建议改成绑定value，大部分使用场景是label用作外显，value用作逻辑处理
感谢

[2017-10-11 04:35] gitzhangfugui opened #2066 "bug，select多选情况下，选择值后，更改v-model双向绑定数组，多选标签没有清空"
可以看到，v-model值已清空了，但是标签对应的selectedMultiple还没有清空
![default](https://user-images.githubusercontent.com/30425581/31422488-950c4e98-ae80-11e7-928c-9ac75d1bcfbd.png)

[2017-10-11 04:44] tvolitt commented on #2060
@hangzhouwjh
type不写默认为'string'
这里是因为通过input-number组件输入的值为数字类型，所以无法通过type为'string'的验证

[2017-10-11 04:52] mkhanal commented on #2044
@icarusion : Does this mean iView is supposed to be used only for desktop sites (that don't open on mobiles)? Since it is responsive, I'd assume it would also be fit for tablets and mobiles (not as apps, but on browsers). And if it, we should honour the interaction patterns for those devices.

[2017-10-11 04:53] #2060 closed

[2017-10-11 05:31] yangdan8 commented on #1745
https://jsfiddle.net/j0q12fsh/40/

[2017-10-11 05:37] yangdan8 commented on #1729
#2050

[2017-10-11 05:37] #1729 closed

[2017-10-11 05:53] gosongs commented on #1031
@xkcoding http://element.eleme.io/#/zh-CN/component/tabs

[2017-10-11 06:13] jerexyz commented on #1730
同样碰到了这个问题

[2017-10-11 06:16] jerexyz opened #2067 "Date-picker的 type="daterange"时，默认展示当前月和下一个月，期望可以设置"
Date-picker的 type="daterange"时，默认展示当前月和下一个月，期望可以设置，这样对于一些报表，对于历史时间的筛选使用起来会更加友好

[2017-10-11 07:31] IIInsomnia opened #2068 "走马灯的循环好low"

[2017-10-11 07:32] #2068 closed

[2017-10-11 07:34] hanfengcan commented on #118
@rijn 可否给个例子，我在render加了tooltip后，效果不理想

[code]

[2017-10-11 11:36] zkcode commented on #1148
that is a good idea

[2017-10-11 11:39] pirony commented on #2042
Hi @vegan0206 ,
did you find a fix? Or at least what can cause the issue?
thanks

[2017-10-11 13:08] vegan0206 commented on #2042
@pirony I did a lot of trying, but none of them succeeded. After my page was loaded, the form was missing the first line. Now, where is the reason for trying to find the problem?

[2017-10-11 20:13] SergioCrisostomo commented on #1880
@Gscdae, @hckhanh, @zazaluMonster , @hjpyh-ybxrz

can some of you explain in english so I can help fix this? I can see the Codepen but not sure what I should be looking for. What browser did you test?

[2017-10-12 01:14] icarusion commented on #1880
thanks @SergioCrisostomo , i tested and it seems to be a problem. It will shake when initializing, you can refresh page multiple times.
After you re-write Tree component, I can also continue to improve it. : )

[2017-10-12 01:34] #2050 closed

[2017-10-12 02:06] qiaoer2017 opened #2070 "文档 https://www.iviewui.com/components/upload 这个页面上“自定义上传列表”案例在Safari上显示异常"
<img width="216" alt="2017-10-12 10 04 50" src="https://user-images.githubusercontent.com/17977613/31475688-cf274dda-af34-11e7-96f4-33ba56b5fc67.png">

设置vertical-align:top就可以了。

[2017-10-12 02:49] huangsav opened #2071 "TypeScript声明文档"
是否可以添加官方的TypeScript声明文档

[2017-10-12 07:11] zhouboluo opened #2072 "侧边栏组件"
有些UI库有侧边栏组件，官方可以考虑下。

[2017-10-12 07:48] youthour opened #2073 "autoComplete 或者 select组件能不能实现 输入框 与下面的 结果框长度不一样"
autoComplete 或者 select组件能不能实现， 下拉的框 车上面的输入框长度不一样。
比如 搜索输入框 长度为200px,下面结果框 可以 自己设置长度，如400px,在很多表格应用中非常需要，

[2017-10-12 08:08] ceshi20160607 opened #2074 "select 下拉选择框，增加可控的高度，超出后滚动"

[2017-10-12 08:15] lauber00 opened #2075 "[Feature Request] Modal 建议增加关闭回调（不是点击取消的回调）"
建议增加Modal关闭时的Event，不是点击取消时的Event，因为Modal框内部可能没有取消按钮，或者当Modal中是Tabs时，取消按钮不在当前的Tab中。谢谢。

[2017-10-12 08:19] aaaxing opened #2076 "page分页"
如何将分页动态设置为第一页

[2017-10-12 08:31] #2075 closed

[2017-10-12 08:31] lauber00 commented on #2075
试了一下，用on-cancel就可以。

[2017-10-12 09:01] butong-dev commented on #1206
iview 版本号 2.3.2， 操作系统 Windows 7/chrome 61,IE 11 下面出现该问题，操作系统 macOS Sierra/chrome 61, safari 10 均可以正常显示滚动条

[2017-10-12 09:07] bigtrouble commented on #1964
Menu 部分感觉确实弄的有点 low.
看原码 还有一个  updateOpenKeys  方法， 文档中没有说明.

[2017-10-12 09:23] GwYL opened #2077 "page分页翻到最后一页出现inifinity"
![image](https://user-images.githubusercontent.com/25656592/31488988-f7a91a12-af71-11e7-97f6-834e4e8a4333.png)
有的页面有，有的页面没有，求大神帮帮忙解决下。。

[2017-10-12 11:33] #2076 closed

[2017-10-12 11:33] #2074 closed

[2017-10-12 11:34] icarusion commented on #2072
暂无此计划。

[2017-10-12 11:34] #2072 closed

[2017-10-12 11:35] #2064 closed

[2017-10-12 12:26] szhgoldeneye opened #2078 "关于table的过滤事件"
table是否可以增加filter-change事件，我在过滤数据后想将第一行数据高亮

[2017-10-12 13:29] GwYL commented on #2077
我是这样写的:
<template>
<div>
  <Table :columns="columns" :data="data" class="top-row"></Table>
  <Page :total="pageInfo.totalEntities" :page-size="pageInfo.totalEntityNum" :current="currentPage" show-elevator show-total @on-change="changePage"></Page>
  </div>
</template>
有的界面翻到最后一页会出现infinity，然而有的界面又没有。

[2017-10-13 04:29] yzm0080 opened #2080 "Tabe的columns render中的按钮点击会触发Table的on-row-click"
Table的某列中render了几个Button，同时指定了Table的on-row-click事件，但是点击Button会同时触发Button的onClick和Table的on-row-click。

[2017-10-13 05:07] pskishere opened #2081 "选择器组件 中会自动插入undefined"
https://jsfiddle.net/yyrzhm46/

[2017-10-13 05:33] sadenwang commented on #2081
额，我刚刚升级到vue2.4.1也遇到这问题了

[2017-10-13 05:58] beileixinqing commented on #1949
I have the exact same problem，and datepick components also have the problem.Now I‘m very anxious.

[2017-10-13 06:04] gengchao123 commented on #907
**请问el-form，这个问题怎么解决，初学vue**

[2017-10-13 06:12] gengchao123 commented on #907
[code]
请问el-form，这个问题怎么解决，初学vue

[2017-10-13 06:14] icarusion commented on #907
@gengchao123 哥们，这里是 iView ，你问错地方了

[2017-10-13 06:22] gengchao123 commented on #907
@icarusion 换汤不换药，都是基于VUE,大神告知，谢谢啊啊啊

[2017-10-13 06:27] BengBu-YueZhang commented on #1545
我也是

[2017-10-13 07:08] grapewheel commented on #2081
急！新版本我重编译了node_modules后也遇到了

[2017-10-13 07:34] grey-zeng opened #2083 "tabs中的tab-pane无法自动同步"
示例 http://jsbin.com/posasatibi/edit?html,js,output

有个需求是能**动态**更改tabs中的tab-pane列表，但是发现tabs无法自动的同步tab-pane的变更。

初始状态显示两个tab：
![image](https://user-images.githubusercontent.com/10265042/31534992-c6ffb474-b02b-11e7-9553-51fe73ba40bc.png)

点击关闭按钮后，a应该隐藏，但a还是显示：
![image](https://user-images.githubusercontent.com/10265042/31535036-0301389e-b02c-11e7-93c6-40739688a58e.png)

目前我的解决方法是：`this.$nextTick(thi

[2017-10-13 07:38] alvin198761 commented on #1545
楼上的,我被逼换回element ui 了,哎,..耽误我几天时间

[2017-10-13 07:51] Yyyyp commented on #2081
更新后也遇到了这个

[2017-10-13 07:52] sadenwang commented on #2081
我把vue和iview退回了版本，仍然有这个错，而且还有别的问题，啊啊啊啊啊啊啊

[2017-10-13 07:58] chavyleung opened #2084 "vue 2.5 复合型输入框 出现undefined问题 - 有重现地址"
升级vue 2.5后出现，2.4没问题。
重现地址：https://codepen.io/chavyleung/pen/eGLNqR

[2017-10-13 08:12] erniu commented on #2081
你们试试把Vue的版本回滚到2.5以前吧，经测试只有Vue2.5才会重现这个问题

[2017-10-13 08:12] pollux2015 commented on #2081
我也遇到同样问题

[2017-10-13 08:12] icarusion commented on #2081
已知了，更新到 Vue 2.5 后的问题，下周将发布新版本解决，暂时先不要升级。

[2017-10-13 08:17] 634750802 commented on #2084
https://github.com/vuejs/vue/commit/1f84dd1c2488d12ef144d4b548b0e80647f9403c vue的bug，已经修复了

[2017-10-13 08:30] SergioCrisostomo commented on #2081
This is a bug in Vue.js, not iView.

related https://github.com/iview/iview/issues/2084

[2017-10-13 08:42] Yyyyp commented on #2081
vue和vue-template-compiler 都使用2.4.1版本的，暂时可以规避这个bug```

[2017-10-13 09:07] dean5277 opened #2085 "MENU open-names不支持异步修改吗？"
https://jsfiddle.net/1tu1cmjd/18/

以后会支持吗？

[2017-10-13 09:15] dean5277 commented on #2085
要用updateOpened才可以更新吗？
文档没仔细说明用法

[2017-10-13 09:35] #2085 closed

[2017-10-13 09:50] sadenwang commented on #2081
我发现不管退到哪个版本都还是这个问题，不知道怎么回事，已经退到 vue2.2.2，iview2.0.0，vue-template-compiler2.2.4，我最早正常页面的版本，没升级包，现在不升级重新下载包，就会遇到这个问题

[2017-10-13 10:00] h1orz opened #2086 "当需要动态维护FormItem时，改变表单项位置后，rules未能同步更新[官网Demo可重现]"
以官网[Demo](https://www.iviewui.com/components/form#动态增减表单项)为例：
Git的链接好像打不好中文锚点，复制链接可访问：
[code]

![tim20171013175738](https://user-images.githubusercontent.com/18734825/31541045-074686b6-b040-11e7-8078-f6231fe8f800.png)
在触发第二项错误提示后，删除第一项。
错误提示并没有更新为第一项，而是继续保持在了第二项上，此时应更新错误提示到第一项。
项目中遇到了同样的问题，验证官方Demo后得出一致结论。

[2017-10-13 14:13] ZhuLiangT opened #2087 "关于标签页中使用下拉框，下拉超出的部分无法显示"
在标签页组件中，使用下拉列表组件，超出的下拉部分将无法显示

[2017-10-13 14:19] icarusion commented on #2084
Vue 2.5.1 has released

[2017-10-13 14:19] #2084 closed

[2017-10-13 14:20] icarusion commented on #2081
Vue 2.5.1 has released.

[2017-10-13 14:22] #2081 closed

[2017-10-13 14:35] icarusion commented on #2087
Use `transfer` prop

[2017-10-13 14:35] #2087 closed

[2017-10-13 15:38] ouyangkongtong opened #2088 "Table render Button click 无效"
hi @iview-bot
下面的代码是根据布局模板嵌套，还原的

下面代码：http://runjs.cn/code 可以在这里这些

[code]

[2017-10-14 00:59] webproblem opened #2089 "Transfer穿梭框组件全选问题"
在穿梭框加了搜索功能之后，存在这样的问题，搜索关键字，然后点击全选按钮，出现了所有的数据都勾选了的情况而不是只是勾选中了搜索后的结果。
![image](https://user-images.githubusercontent.com/20440496/31571002-e421922e-b0bd-11e7-9024-ea67aa5e5ec0.png)

[2017-10-14 06:55] h1orz commented on #2086
经过不断尝试，最终得出使用不同form将动态表单项和静态表单项分开的方法绕过去了。
本质上还是$ref.form对象中存储的rules未能和变化的form项同步，希望官方重视。

[2017-10-14 17:23] luguoeryi opened #2092 "select 默认 ’undefined‘ bug 并且样式错位"
``<Select style="width:200px">
        <Option value="beijing">北京市</Option>
        <Option value="shanghai" disabled>上海市</Option>
        <Option value="shenzhen">深圳市</Option>
    </Select>

[2017-10-14 17:26] ouyangkongtong opened #2093 "怎么禁止 tabs 切换"
当不满足切换条件，怎么禁止 tabs 切换

[2017-10-14 19:35] SergioCrisostomo commented on #2092
Duplicate of https://github.com/iview/iview/issues/2084

[2017-10-14 19:35] #2092 closed

[2017-10-15 04:42] asd8510678 opened #2094 "建议Tree增加可拖动树"
其他框架基本都有这个功能，最好可以实现拖动树排序、拖动树到某节点下面，并提供拖动事件。

[2017-10-15 07:04] StasB93R opened #2095 "different colors (new feature)"
Hey, what i want to say is more of a suggestion of a new feature rather than an issue.
Would be nice to be able to control colors for each component. Like for navigation components, its not enough to have just 3 colors and if u want to change it, you have to go inside of repo and add new colors manually.  Another thing would be good is to be able to resize the borders, like to round them or sharpe

[2017-10-15 07:55] kiddkyd1412 opened #2096 "关于Table控件各种UI问题，第二弹"
https://jsfiddle.net/op9x99ar/1/

关于宽度不足，表头肥大，列丢失等问题，demo里已经写了详细描述。

-------------
这个问题之前也问过，但是你说你试过没问题，我就纳闷了。
请使用这个新的demo网站再试一遍。

另外其他朋友如果打开demo网站，能看到bug的话，希望打个call。难道只是我的chrome有问题？

[2017-10-15 13:46] viewweiwu opened #2098 "Select 控件 multiple bug"
当存在两个 Select 控件
一个是 multiple，一个非 multiple
切换到非 multiple 时，label 不该被显示。
切来切去现象很奇怪...
在线示例： [https://codepen.io/viewweiwu/pen/JrmWLP?editors=1010](url)

[2017-10-16 00:35] zhdwwf commented on #2096
chrome 61版本下存在问题，如果窗口resize后，列丢失问题会正常
![image](https://user-images.githubusercontent.com/564279/31590995-ebdcceb2-b24c-11e7-934d-0ac490d38043.png)

[2017-10-16 02:31] qfgyd2004 opened #2099 "Table Column render 中不能调用methods中的方法。"
key: "failCount",
                title: "调用链",
                width: 120,
                render(h, params) {
                    console.log(context);
                    return (
                        <a onClick={(params)=>{this.callLine(params)}}>测试</a>)
                }
上边的callLine获取不到

[2017-10-16 03:40] dear-lizhihua opened #2100 "无法动态删除 tab-panel"
只能动态新增 tab-panel，无法动态删除 tab-panel
示例
https://jsfiddle.net/hbyLnbbn/1/

[2017-10-16 03:45] YuuyaRin opened #2101 "希望iview的table可以支持多级表头"
希望iview的table可以支持多级表头
比如几个子表头上方有一个总的分类表头
不知道用现有的iview的table有没有办法实现

[2017-10-16 04:10] lixiaobin-bjhl commented on #597
这一点，我觉得有些过度设计了，loading在这里莫名其妙，关闭modal这样的操作，能让开发者自己控制么，与loading裹在一起，不符合开发习惯。

[2017-10-16 04:16] melon commented on #2101
同急需该功能，请求支持

[2017-10-16 04:41] 359257840 opened #2102 "table设置fixed后，滚动列表后出现行错位"
![image](https://user-images.githubusercontent.com/11308580/31595568-4a7f55f8-b26f-11e7-98d9-6ddd2072955d.png)

[2017-10-16 05:46] hank2718 opened #2103 "Dropdown组件连续点击多次，会报错"
报错信息
![image](https://user-images.githubusercontent.com/7368299/31596965-63609514-b20b-11e7-98c5-eca1e3bbc356.png)

[2017-10-16 05:49] hank2718 commented on #2103
代码：
        <Dropdown trigger="click">
          <a href="javascript:void(0)">
            <Icon :type="item.icon"></Icon>{{ item.label }}
          </a>
          <DropdownMenu slot="list" v-if="item.children">
            <DropdownItem v-for="sub in item.children" :key="sub.value" @click.native="changeStar(item)">{{ sub.label }}</DropdownItem>
          </DropdownMenu>
        </Dropdown>

[2017-10-16 05:51] hank2718 commented on #2103
官网例子也有个问题  连续点击多次弹出菜单位置会变
![image](https://user-images.githubusercontent.com/7368299/31597080-17d6ed5e-b20c-11e7-900e-ec576bb70a5c.png)
![image](https://user-images.githubusercontent.com/7368299/31597090-213eecf2-b20c-11e7-961d-e0b9887e3513.png)

[2017-10-16 06:15] VYuLinLin commented on #1874
我也遇到这个问题，把scoped去掉，官网css改为下面这样就可以了：
<style lang="less">
    .vertical-center-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        .modal{
            top: 0;
        }
    }
</style>

[2017-10-16 07:16] javady opened #2104 "[Bug Report] 在Modal中使用Form表单,Form表单中有select组件造成下拉样式错乱"
iView 版本号

2.4.0

操作系统/浏览器 版本号

Chrome 版本 61.0.3163.100（正式版本)

Vue 版本号

2.4.2

能够复现问题的在线示例（bug 相关不提供在线示例将直接 close
在线示例:https://jsfiddle.net/rad7rL2u/

问题现象，以及你期望的结果是怎样的?
之前的issues提到过[#1099](https://github.com/iview/iview/issues/1099),
是老版本没有这样的问题?还是修复过了在新版本又重现了?

[2017-10-16 07:29] EasonYou commented on #1839
@icarusion 为何$Modal不可支持自定义style 类名等Modal支持的属性呢？

[2017-10-16 08:28] mcc108 commented on #1700
@icarusion @SergioCrisostomo

[2017-10-16 08:43] anyongchao opened #2105 "checkboxGroup 发现的两个问题问题"
CheckboxGroup v-model 绑定了label属性，建议改成绑定value，大部分使用场景是label用作外显，value用作逻辑处理
上面这个问题，我看到又人已经提过了，但是没有回应，
第二个问题：
当checkboxGroup有其中一个或者多个为disabled选项的时候，在做全选的时候将把不能选中的去掉。否则在有disabled选项的时候，全选就会有bug

[2017-10-16 10:16] swit1983 opened #2106 "TREE有BUG,动态加载树indeterminate状态显示有问题"
[code]

[2017-10-16 10:26] iamzhangjinpeng commented on #1985
![image](https://user-images.githubusercontent.com/13995613/31607596-87407b18-b29f-11e7-8b07-5a61d51824e0.png)

I have the same problem in ivew@2.4.0, but it work well in iview@2.3.2

[2017-10-16 10:31] yiwuyu commented on #1310
@icarusion iview是否支持多级表格?

[2017-10-16 11:30] SergioCrisostomo commented on #2106
@swit1983 I sent a PR to fix some things in Tree (https://github.com/iview/iview/pull/2090).

I think your async problem is fixed there. If you can please test that code.

All the best,
Sérgio

[2017-10-16 11:56] angelzou commented on #2096
![image](https://user-images.githubusercontent.com/3369173/31610577-1ea04af0-b2ab-11e7-803c-49f6d73ccf79.png)
因为这里将最后一个列的col的宽度设置为父级了scrollerbar的宽度导致的，我将table-head.vue文件中的第四行，true改为false就好了。iview成员看看怎么改。
![image](https://user-images.githubusercontent.com/3369173/31610786-f684cdf6-b2ab-11e7-97b8-ea5718f1b719.png)

[2017-10-16 12:03] SergioCrisostomo opened #2107 "Normalize arguments in :on-change callbacks"
Normalize the event callback for `Input` and `InputNumber`.

Currently
 - `Input` passes `event` in callback
 - `InputNumber` passes `value` in callback

In the future we should normalize this and both will use `(event, value)` in the callback

[2017-10-16 12:15] icarusion opened #2108 "Add beforeXXX and afterXXX event"
Some components like `Tab`, `Modal` can add prop `beforeClose` and return a Promise.
Some like `Checkbox`, `Switch` can add `beforeChange`.

[2017-10-16 12:55] RyomaZheng opened #2109 "csv有bug"
当table数据里面有空格或者英文逗号的时候，导出来的数据会变了，求A神修一哈

[2017-10-16 13:06] SergioCrisostomo commented on #2109
@RyomaZheng can you please add a example to your problem?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-16 13:36] lauber00 opened #2110 "Page 组件与 Table 组件合并"
现在Page组件和Table组件的使用比较麻烦，建议把Page组件合并到Table组件里面，可以传入pageSize、total、currentPage等值实现表格的分页。
谢谢。

[2017-10-16 14:44] RyomaZheng commented on #2109
![image](https://user-images.githubusercontent.com/31764370/31618093-8f258282-b2c3-11e7-9f9a-8abb73bfd1fc.png)
![image](https://user-images.githubusercontent.com/31764370/31618105-97ef3606-b2c3-11e7-9ced-4dc8ce3edc86.png)

[2017-10-16 14:59] SergioCrisostomo commented on #2109
@RyomaZheng can you share that table data so we can understand the problem better?

[2017-10-16 15:19] RyomaZheng commented on #2109
columns1: [{
          title: '姓名',
          key: 'name'
        }, {
          title: '年龄',
          key: 'age'
        }, {
          title: '地址',
          key: 'address'
        }],
        data1: [{
          name: '王小明',
          age: 18,
          address: '北京市朝\n阳区芍药居'
        }, {
          name: '张小刚',
          age: 25,
          address: '北京市海,淀区西二旗'
        }, {
          name: '李小

[2017-10-16 15:20] RyomaZheng commented on #2109
如果数据是这样的话，导出csv是有问题的=-=

[2017-10-16 15:26] SergioCrisostomo commented on #2109
@RyomaZheng thank you!
https://jsfiddle.net/Sergio_fiddle/4h20xswk/

[2017-10-17 01:23] swit1983 commented on #1767
自己加了个方法
[code]

[2017-10-17 02:13] RubbishWood opened #2111 "Table组件中使用on-row-click方法无法获取index参数"
RT，在使用点击行事件时不知道怎么获取选中行的行数或者参数

[2017-10-17 02:28] neohuan176 opened #2112 "可收起展开的侧边导航"
布局那里：可收起的侧边导航栏，收起的时候，如果有二级菜单，再打开，二级菜单的布局混乱。希望可以解决一下。

[2017-10-17 02:34] QingShuiNn opened #2113 "on-open-change根据说明方法不能触发。"

[2017-10-17 03:52] icarusion commented on #1750
fixed in 2.5.0

[2017-10-17 03:52] #1750 closed

[2017-10-17 05:58] swit1983 commented on #2106
改了一下源代码可行,node管理自己的indeterminate ，tree不再管理，去掉了data监听。没细测
[code]

[2017-10-17 05:58] #2106 closed

[2017-10-17 06:25] SergioCrisostomo commented on #2113
Please provide a example of your problem.

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-17 06:27] SergioCrisostomo commented on #2112
@neohuan176 could you provide a example of the behaviour your have?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-17 07:01] skyame commented on #2086
遇到的问题一样

[2017-10-17 08:27] zhougangnj opened #2115 "[Feature Request] tag标签可选择"
[Feature Request] tag标签可选择，类似于
https://ant.design/components/tag-cn/
Tag.CheckableTag 功能

[2017-10-17 09:29] fightingm commented on #197
spin组件好像也有这个问题，解决方案建议在data中添加一个timer，show方法中判断
show () {
            if(this.timer) {
                clearTimeout(this.timer);
            }
            spin.visible = true;
        },
remove (cb) {
            spin.visible = false;
            this.timer = setTimeout(function() {
                spin.$parent.$destroy();
                document.body.removeChild(document.getElementsByClassName('i

[2017-10-17 09:37] Mrxainsenhuang opened #2116 "upload 有bug上传图片各种出现问题"

[2017-10-17 10:50] daiyanze opened #2117 "建议：希望能够提供Select和Cascader的dropdown样式API"
目前下拉菜单的最小宽度为100px，在使用日语文字作为菜单项目的时候出现“文字覆盖尖头符号”的问题，
建议把下拉菜单的样式API（比如，icon(箭头图标) width 什么的）也抛出来
![2017-10-17 19 32 25](https://user-images.githubusercontent.com/14920529/31660912-f24eaad6-b373-11e7-9ea9-794c96bea295.png)

谢谢

[2017-10-17 11:22] zytim opened #2118 "[Feature Request] <Input> spellcheck 无法关闭"
Input应可配置拼写检查，现在是默认打开

[2017-10-17 11:22] gitzhangfugui commented on #2066
@iview-bot
Sorry.
This is the bug code.
[Url](https://jsfiddle.net/47d78e8b/3/)

[2017-10-17 11:35] icarusion opened #2119 "[Bug Report] when use v-model in DatePicker, the value will be displayed `false`"
here is demo:
 https://jsfiddle.net/2qdgdt7f/
when use `v-model` in DatePicker, the value will be false at initialization time.

[2017-10-17 13:53] SergioCrisostomo commented on #2118
@zytim if you can would be great to send a pull request for this.

[2017-10-17 14:02] yanghubin commented on #1487
+1

[2017-10-18 00:52] #2119 closed

[2017-10-18 00:56] #2116 closed

[2017-10-18 02:01] Teemwu commented on #1638
同样遇到这个问题：[https://codepen.io/nooby/pen/vJqeGX?editors=1010](url)

[2017-10-18 02:38] 188007803 opened #2121 "4个建议"
1、能不能在源码中给v-for 都加上 key，或者给一个key的prop，让用户将key传进去，不然有时会出错。
我简单查了一下，源码中至少有十几处都需要加 key。
![vfor](https://user-images.githubusercontent.com/10063364/31697907-f1858bf0-b3ec-11e7-9e7d-1bcc9def3e32.png)

2、AutoComplete 组件在我打汉字的时候，每敲一个键就开始搜索了，这不对，因为我敲五笔，在汉字打出来之前，搜索敲入的字母毫无意义，而Select组件的搜索就没有这样的问题。

3、级联选择器，能否加上多选功能，就像Select组件支持多选一样，这个很有用的，目前我是看iview的源码自己实现了一个，但还是官方支持最好。
![gif](https://user-images.githubuserc

[2017-10-18 03:33] fooke1 commented on #2066
我也遇到同样的问题，不知怎样解决的？

[2017-10-18 03:37] gitzhangfugui commented on #2066
@fooke1 this.$refs.select.selectedMultiple = [] 暂时可以手动清空该数组

[2017-10-18 04:35] fooke1 commented on #2066
谢谢了。有用。

[2017-10-18 05:18] SergioCrisostomo commented on #2121
@188007803 hi! Can you provide examples for these issues?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-18 06:27] maysoft opened #2122 "360安全浏览器极速模式下datepicker type=daterange 时 无法选择"
360安全浏览器9.1.0.356  极速模式 内核版本：55
无论是daterange 还是datetimerange 都无法选择范围，官网例子也是，切换edge浏览器正常

[2017-10-18 07:04] SergioCrisostomo commented on #2122
@maysoft can you provide a example of the problem?

 使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-18 08:01] pandora-y opened #2123 "[bug] Modal组件没有onOpen事件，我认为不科学"
我有一个界面，有2个按钮，一个按钮点击打开新增图片界面。一个按钮点击，打开查询图片界面。

没有onOpen事件，我进入主界面，就加载了dialog窗口里的查询方法。

而且新增图片后，我还需要手动调用查询界面的查询方法。

[2017-10-18 08:46] SergioCrisostomo commented on #2123
Can you provide a example of the problem?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-18 08:48] daiyanze commented on #2115
刚刚推上去一个branch，基本能达到antd那样的效果。

[2017-10-18 09:07] zlwtp opened #2125 "date-picker校验为必填的时候校验失败后，再次添写后失焦不会校验"
当点了提交后，校验失败再填写失焦后校验失败不消失
例子
https://jsfiddle.net/tonyWe/56uovjo8/6/

[2017-10-18 10:10] ChiHai-Chuck opened #2127 "Table组件的on-select-all事件触发问题"
https://jsfiddle.net/vr4L24j0/

Table组件有一个on-select-all事件，用于在多选模式下，点击全选按钮时触发，可是这个事件只有在点击全选是全中全部的时候才会触发，取消全部选中时却不会触发。
我觉得应该提供一个点击全选按钮是取消全部选中时的事件，或者只要点击全选按钮就触发on-select-all事件。

[2017-10-18 10:14] lgl1993 opened #2128 "Tree动态修改Data的children时，视图中children的父级不能及时更新选中状态，必须进行点击之后才会再次渲染。"

[2017-10-18 14:06] qzmly100 opened #2129 "iview range 不支持移动滑动？"
可以修改源码吗？

[2017-10-18 14:37] henjue commented on #931
iview中还没有添加合并单元格功能。。。。。

[2017-10-18 15:44] SergioCrisostomo commented on #2128
Hi @lgl1993!
I'm not sure I understand your problem. Can you provide a example?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

Please try also https://github.com/iview/iview/pull/2090 and see if that fix solves your problem.

[2017-10-18 15:46] SergioCrisostomo commented on #2129
@qzmly100 can you provide a example of the problem? (Google translate makes your question unclear to me not Chinese speaker)

[2017-10-18 21:54] rlam3 opened #2130 "How to we make sure Table is responsive?"
How to we make sure Table is responsive?
It is currently set with px but is it possible that it can shrink along with the screen size for mobile devices? Thanks!

[2017-10-19 00:07] daiyanze commented on #2129
@qzmly100 你Fork到自己的仓库里，然后就可以修改了。如果有什么好的想法和功能，发个pull request过来就行。

[2017-10-19 01:22] MrNsfocus opened #2131 "iview 官方网站上的code区代码高亮怎么实现的？"

[2017-10-19 02:04] TrendAlan commented on #1043
代码拔出来了，例子在这里了 https://jsfiddle.net/oep9bnuq/

[2017-10-19 02:04] TrendAlan commented on #782
例子在这里：https://jsfiddle.net/oep9bnuq/

[2017-10-19 02:33] 188007803 opened #2132 "建议tag组件，允许自定义颜色，默认只有5个颜色，不够用。"

[2017-10-19 03:15] hjw0968 commented on #2122
chrome 57 也是无法选择,更新前正常

[2017-10-19 03:34] Licoy opened #2133 "树形控件Tree建议增加节点右键属性"
给每个节点设置右键属性，弹出小菜单然后可以“删除节点”，“增加子节点”，并且其title可以自定义。

[2017-10-19 03:37] Licoy commented on #2110
为什么要合并呢？我认为单独组合是比较灵活方便的

[2017-10-19 04:39] lauber00 commented on #2110
@Licoy 因为做项目的时候，有很多地方都用到了Table组件，每次都要写一遍分页、翻页的逻辑，有很多重复的代码。建议Page组件灵活的独立存在，但是Table组件中加入分页的功能，避免写很多重复代码。

[2017-10-19 05:06] SergioCrisostomo commented on #2131
@MrNsfocus [check highlightjs here ](https://github.com/iview/iview-doc/blob/master/package.json#L21) and https://github.com/iview/iview-doc/blob/97d48683a0b09b01170a161f9dfd0d61cea536c1/src/components/code.vue#L104-L109.

If you need more help I suggest you check StackOverflow.

[2017-10-19 05:06] #2131 closed

[2017-10-19 06:31] tt0226 opened #2134 "Select"
Select  下拉选择 会多个undefied

[2017-10-19 06:34] daiyanze commented on #2134
估计是你数据里有个undefined。debug一下，应该能找到

[2017-10-19 06:47] spencer-live commented on #440
+1 希望能增加size属性tiny/small/large/full, 想真自定义再说

[2017-10-19 06:57] NothinkingGao opened #2135 "新增的scroll控件滚动到底部或顶部时无法触发加载事件"
打开iview官网就有，本地也有
![default](https://user-images.githubusercontent.com/3362951/31758000-330b5a40-b4de-11e7-97dc-f7e1f339140e.png)

[2017-10-19 07:15] tt0226 commented on #2134
好的谢谢

[2017-10-19 07:19] SoyMeng commented on #2110
@lauber00 这个建议自己来创建一个组件，官方只提供基础功能是没问题的

[2017-10-19 07:22] tt0226 commented on #2134
没有，完全把iview 重新试了下 还是在
![image](https://user-images.githubusercontent.com/21094920/31758760-56cc3e7e-b4e1-11e7-9f0f-90e09de33f33.png)

[2017-10-19 07:26] SergioCrisostomo commented on #2135
@NothinkingGao thank you for reporting this. What browser are you using?

[2017-10-19 07:33] SoyMeng commented on #2135
chrome 62.0.3202.62
访问官网[https://www.iviewui.com/components/scroll](https://www.iviewui.com/components/scroll)
无法看到效果

[2017-10-19 07:35] daiyanze commented on #2134
能把代码发上来让我帮你看看吗

[2017-10-19 07:39] daiyanze commented on #2135
的确，火狐浏览器上有这个问题。。。

[2017-10-19 07:44] tt0226 commented on #2134
![image](https://user-images.githubusercontent.com/21094920/31759522-3ef90658-b4e4-11e7-8adc-b3c0c8d31e0c.png)
用的就是官网的一样的代码

[2017-10-19 07:49] zsedcbm commented on #2122
试一下将vue版本改为 2.4.4 ,我更换版本后可用,具体bug不知道怎么调试.

[2017-10-19 07:51] maysoft commented on #2122
"dependencies": {
    "axios": "^0.15.3",
    "clipboard": "^1.5.12",
    "countup": "^1.8.2",
    "echarts": "^3.7.2",
    "html2canvas": "^0.5.0-beta4",
    "iview": "^2.5.0-beta.1",
    "js-cookie": "^2.1.3",
    "rasterizehtml": "^1.2.4",
    "simplemde": "^1.11.2",
    "sortablejs": "^1.6.1",
    "tinymce": "^4.7.1",
    "vue": "^2.5.2",
    "vue-i18n": "^5.0.3",
    "vue-router": "^2.8.1",

[2017-10-19 07:51] maysoft commented on #2122
我是2.5.2的 还是无法选择

[2017-10-19 08:08] zsedcbm commented on #2122
我的意思是改成2.4 版本的
2.5版本的无法选择.
你更换一下试试看

[2017-10-19 08:24] NothinkingGao commented on #2135
@SergioCrisostomo firefox,the question same with chrome

[2017-10-19 08:37] daiyanze commented on #2134
我测试了一下，结果很正常。所以我一直在怀疑你的数据可能存在问题，尤其途中可能不小心发生变化或者sysName不存在等等。你debug一下value="jszx"的item数据里面是否有sysName这个prop。
你那个index如果不用的话可以不用写在里面，先看看把index去掉之后会不会好点。

[2017-10-19 08:45] SergioCrisostomo commented on #2135
Thank you guys! The `event` was missing. Added a PR for it now.

[2017-10-19 08:45] tt0226 commented on #2134
谢谢你  不过 我把数据写成死的还是有  ，哈哈
![image](https://user-images.githubusercontent.com/21094920/31762123-d331ff48-b4ec-11e7-8ce3-acae63814b59.png)
![image](https://user-images.githubusercontent.com/21094920/31762160-ee45f83e-b4ec-11e7-859c-825ac089566d.png)

[2017-10-19 08:46] gijo-varghese opened #2137 "Scroll not working properly"
The scroll component (https://www.iviewui.com/components/scroll-en) isn't detecting the `:on-reach-bottom` properly. After loading everything, when I scroll down, nothing happens (I've reached the end). Only if I try to scroll again the event triggers. Same thing happens for "on-reach-top"

https://jsfiddle.net/06dz0jye/

[2017-10-19 08:48] sosxyf opened #2138 "导出表格中文为乱码，在Chrome浏览器上"

[2017-10-19 08:57] NothinkingGao commented on #2135
@SergioCrisostomo  thank you

[2017-10-19 08:58] tt0226 commented on #2134
有的电脑就没问题

[2017-10-19 09:00] MrNsfocus commented on #2131
thank you

[2017-10-19 09:02] rendq opened #2139 "full-screen-loading的功能"
iView目前的LoadingBar还不能满足许多需求，是否能增加full-screen-loading的功能，这样能保证加载的过程中，用户不能去操作页面上的组件，最大程度地保证数据能够一致。

[2017-10-19 09:03] MrNsfocus opened #2140 "Card的标签在router-view的时候回闪现undefined？"

[2017-10-19 09:09] ihuguowei commented on #2139
这简单的需求自己实现好了。

[2017-10-19 09:18] SergioCrisostomo commented on #2138
@sosxyf can you provide a example of your problem?

 使用下面的在线链接可以快速创建示例
 https://jsfiddle.net/yyrzhm46/

[2017-10-19 09:20] daiyanze commented on #2134
天气不好，那台电脑可能要罢工

[2017-10-19 09:22] tt0226 commented on #2134
哈哈

[2017-10-19 09:27] SergioCrisostomo commented on #2137
@gijo-varghese happy hear you are using the scroll component!

The idea with `:on-reach-bottom` is not to fire immediately. The idea is to fire only when we scroll past the bottom, and it makes the stretch/rubber effect.

Do I understand correct that you would like the event to fire immediately when you reach the edge? I think we could add that, I see use case for that also.

[2017-10-19 09:52] CharlesSong opened #2141 "求ivew的Axure原件"
求ivew的Axure原件

[2017-10-19 09:54] tt0226 commented on #2134
解决了  吧node_modules  删了 重新install 一下

[2017-10-19 09:55] tt0226 commented on #2092
undefined 问题   直接把node_modules  删了  重新install 下  就好了

[2017-10-19 10:18] icarusion commented on #2122
@maysoft 升级到61吧，问了一圈没人用55的。

[2017-10-19 10:20] maysoft commented on #2122
360浏览器最新版只到55。。。

[2017-10-19 10:23] icarusion commented on #1899
#1148

[2017-10-19 10:23] #1899 closed

[2017-10-19 10:23] icarusion commented on #2141
#1148

[2017-10-19 10:23] #2141 closed

[2017-10-19 10:24] icarusion commented on #2139
`Spin` 组件有 `$Spin` 的用法

[2017-10-19 10:24] #2139 closed

[2017-10-19 10:26] rendq commented on #2139
@icarusion 有线程的demo么？参考下！

[2017-10-19 10:32] rendq commented on #2139
@ihuguowei 主要考虑到代码规范问题，尽量用公共组件。

[2017-10-19 10:35] rendq commented on #2139
@icarusion 刚才看了2.4.0里面支持$Spin,我从2.0升级上来会不会有兼容性问题。

[2017-10-19 10:38] icarusion commented on #2129
@qzmly100 iView 的组件暂时不会对移动端事件做处理，它的定位还是在 PC 上。

[2017-10-19 10:38] #2129 closed

[2017-10-19 10:39] icarusion commented on #2134
update Vue to `2.5.2`

[2017-10-19 10:39] #2134 closed

[2017-10-19 10:41] icarusion commented on #2123
You can watch `value` of Modal component.

[2017-10-19 10:41] #2123 closed

[2017-10-19 10:42] icarusion commented on #2112
Layout 只是建议，具体要自己去写。

[2017-10-19 10:42] #2112 closed

[2017-10-19 10:43] icarusion commented on #2110
暂无此计划。

[2017-10-19 10:43] #2110 closed

[2017-10-19 10:45] #2135 closed

[2017-10-19 11:51] hgcoder commented on #1575
if (isNaN(val) ){
        val = 1
        var timer = setTimeout(function() {
          document.getElementsByClassName('ivu-page-simple-pager')[0].childNodes[0].value = 1
        }, 10)
      }
      var numRe = /^[0-9]+.?[0-9]*$/;
      if (!val || !numRe.test(val)){
        this.$Message.warning('页码输入有误！');
        return
      }

[2017-10-19 12:12] 2lei commented on #1575
@hgcoder 老哥，markdown啊，这不清真！！

[2017-10-20 01:19] yangdan8 opened #2142 "table组件的多行表头,可拖动列宽和可编辑需求"
请参考第三方插件
http://doc.huangsw.com/vue-easytable/app.html#/table

[2017-10-20 01:23] icarusion opened #2143 "谁在使用 / iView Users"
如果您和您的的公司或组织正在使用 iView，非常感谢您的支持，希望可以在这里留下您的公司信息。您的回复将成为维护者、社区用户和观望者的信心来源。
回复格式示例如下：
[code]

----------
We appreciate you support if you or your organization is using iView. You are welcome to leave replies about your organization here, which could became the confidence of maintainers, communication and undecided watchers.
Recommended reply format:
[code]

[2017-10-20 01:53] niugm commented on #2143
公司或组织：内容宝
链接：http://cm.51neirong.com

前端使用iview整体重构

[2017-10-20 02:29] Licoy commented on #2143
公司或组织：憧憬点滴记忆
Wdog开源框架前端采用iView：https://github.com/watchdog-framework/watchdog-framework / https://github.com/watchdog-framework/watchdog-framework-web
Github个人主页：https://licoy.github.io
憧憬博客：https://www.licoy.cn

`Hello, open source`
希望大家能够善待开源世界的每一个产品。

[2017-10-20 02:43] hangzhouwjh opened #2144 "this.$Modal.confirm(config)在render的on事件中报错！"
https://jsfiddle.net/yyrzhm46/33/

[2017-10-20 03:00] paytham commented on #2143
公司或组织：琴伴
链接：http://www.iqinban.com

后台管理使用iview重构

[2017-10-20 03:03] vvayne120 opened #2145 "Scroll component not working properly in firefox"
I copied demo in https://www.iviewui.com/components/scroll and tested it in Chrome, Firefox and Edge.
Chrome and Edge are fine but Firefox not working. My Firefox version is 56.0.1 (64 bit).

[2017-10-20 03:05] icarusion commented on #2145
Fixed already. https://github.com/iview/iview/pull/2136

[2017-10-20 03:05] #2145 closed

[2017-10-20 03:09] jack008 commented on #2143
公司或组织：北京乐乎城市青年社区
链接：http://www.lefull.cn
项目说明：公司房源管理sass系统全部使用iView重构

[2017-10-20 03:21] Sasha-XS opened #2146 "date"

[2017-10-20 03:21] #2146 closed

[2017-10-20 03:25] charlesgao commented on #2143
公司或组织：苏州小鸟企业管理
链接：N.A
项目说明：sass管理系统

[2017-10-20 03:36] asxu commented on #2143
公司或组织：d-s.ltd
链接：DSupply（未上线）
项目说明：开发中，来占个坑。

[2017-10-20 03:37] gijo-varghese commented on #2137
@SergioCrisostomo  Thanks for your quick response!

I'm building a chat application where admin can see the list of users on his website and chat with them. So it will have a list of users and messages. When admin scrolls down the user's list, the new users should be appended. Similarly for Messages, initially 10-15 messages will be displayed. When he scrolls up, rest will be added.

Right now I c

[2017-10-20 03:47] #1803 closed

[2017-10-20 03:47] #2109 closed

[2017-10-20 03:54] qq986063761 commented on #2122
我认为这个问题确实比较严重，官网本身vue和iview版本是匹配的在360急速也有这个选中不是很不灵活的bug

[2017-10-20 03:55] gijo-varghese opened #2147 "Customize Theme Not Working"
I was trying to customize the variables of iview using this guide: https://www.iviewui.com/docs/guide/theme-en (by overriding variables). I've followed the steps correctly, but it's giving me an error:
[code]

Right now I'm using the 'By Tool' method. It's working fine. But the first method is easy to work with.

Again, thanks a lot for such an amazing library :+1:

[2017-10-20 04:07] maysoft commented on #2122
那现在没有办法了，vue说是iview问题，iview说让你升内核版本，可360浏览器最新版本内核只到55，不知道其他国内浏览器内核是多少，但是目前来看360浏览器在国内用户还是不少的，为了能正常使用，现在只能按你说的降低vue版本到2.4.4了。

[2017-10-20 04:10] qq378488249 opened #2148 "问下vue项目怎么停止运行或者切换项目？小白求指教"
问下vue项目怎么停止运行或者切换项目？小白求指教

[2017-10-20 04:14] chavyleung opened #2149 "small Input icon position incorrectly in FormItem"
Input size="small" icon="ios-search"
如果放在FormItem内，Icon会错位

[code]

重现地址：https://codepen.io/chavyleung/pen/ZXPQYQ

[2017-10-20 04:20] chavyleung commented on #2149
临时解决：
[code]

[2017-10-20 04:31] luoruiqing opened #2150 "表格对象 @on-expand 方法返回的对象没有__ob__对象"
表格对象  @on-expand 方法会返回俩个参数 一个row(行对象) 一个status(表示扩展开关状态).
但这个row对象是没有__ob__对象的 所以我不能获得数据的双向绑定,例如我要表格内新增一行的情况,数据不能更新上去.
场景: 扩展插件内添加一个文本框用来修改任意一个字段的内容
实际情况: 表格展现的数据确实会根据变化而修改,但是当我通过on-expand 指向的方法来获得更新后的数据时候,该对象就会脱离绑定,而且返回的对象值是插入时候的初始值,并不会返回发生改变后的对象,这样我也不能通过循环data9 来找到这个对象.即便这个对象是我在有变量引用的情况下,也不会发生变化.
![image](https://user-images.githubusercontent.com/10202760/31805196-9a632330-b524-11e7-9b9f-e40b120

[2017-10-20 05:47] daiyanze commented on #2144
感觉你这个问题应该是API使用的时候没注意细节造成的。这里的this指针指向的是window对象，所以会有undefined错误。（ps：table里的那个input也会报错）

[code]

[2017-10-20 05:50] daiyanze commented on #2148
在终端里按`Ctrl + C`可以结束程序运行。

[2017-10-20 05:52] Baoyx007 commented on #2143
公司或组织：拍拍信
链接：http://www.ppcredit.com/
项目说明：后台系统使用iview

[2017-10-20 06:17] k-dylan commented on #2143
公司或组织：纳尔科技
链接：http://www.neol.cc/
项目说明：后台系统使用iview

[2017-10-20 06:20] #2148 closed

[2017-10-20 06:25] jifengdehao commented on #2143
公司或组织：广州菜城科技有限公司
链接：
项目说明：后台系统使用iview(正在开发中）

[2017-10-20 06:28] z736830300 opened #2151 "为什么表格没有单元格的单击双击事件"

[2017-10-20 06:34] Ele-Cat commented on #2147
I try to use the other issues's answer, but it's still not working, and I have to use theme tool to modification the theme.

[2017-10-20 06:45] icarusion commented on #2147
Did you setting `less` in your webpack options?

[2017-10-20 06:46] icarusion commented on #2147
You can watch this setting https://github.com/iview/iview-project/blob/2.0/webpack.base.config.js

[2017-10-20 06:50] pqj728614884 commented on #2143
公司:北京华晚投资公司
链接：未上线开发中
项目说明：CRM系统开发
![image](https://user-images.githubusercontent.com/24542299/31808505-032d7790-b5a6-11e7-804f-e32241936e04.png)

[2017-10-20 07:01] Ele-Cat commented on #2147
I can write 'less grammar' in my project, but I can't use [@import '~iview/src/styles/index.less';], when I import this in my project, boom. My head also boom. And I saw your setting just now, tell the truth,I can't understand it.

[2017-10-20 07:04] icarusion commented on #2147
maybe you can use `iview-project` instead :)

[2017-10-20 07:05] MrNsfocus opened #2152 "vue2.9.1 Select 出现undefined 样式错位？"
![tmp5f9d9b75](https://user-images.githubusercontent.com/7379009/31808979-43e2d670-b5a8-11e7-9139-5f62dd71b517.png)
![tmp5858de5e](https://user-images.githubusercontent.com/7379009/31808952-16c0e704-b5a8-11e7-96ac-38ae272c43a6.png)
![tmp09ef50db](https://user-images.githubusercontent.com/7379009/31808955-1a8e4d54-b5a8-11e7-8761-427998a7c78c.png)

[2017-10-20 07:09] #2152 closed

[2017-10-20 07:13] hangzhouwjh commented on #2144
https://jsfiddle.net/yyrzhm46/39/      @daiyanze  感谢提点  已解决

[2017-10-20 07:13] #2144 closed

[2017-10-20 07:18] webees commented on #2143
公司：pubu.me
链接：pubu.me
项目说明：已上线
基于自己写的vue多入口环境开发
![_20171020151537](https://user-images.githubusercontent.com/5155291/31809306-b396c11a-b5a9-11e7-97cc-9924b14ff994.png)
![_20171020151616](https://user-images.githubusercontent.com/5155291/31809307-b3cff458-b5a9-11e7-860d-94e0b694d4f4.png)

[2017-10-20 07:29] xu455255849 opened #2153 "Menu 的on-open-change不生效"
这个事件有没有什么前置条件，文档里没看到有前提，  @click.native 绑定事件生效

[2017-10-20 07:34] weiyuan0609 opened #2154 "If can form a cell to merge, most propbably is very good"

[2017-10-20 07:42] SergioCrisostomo commented on #2154
@weiyuan0609 can you explain more? Is this a bug or a feature request?

 使用下面的在线链接可以快速创建示例
 https://jsfiddle.net/yyrzhm46/

[2017-10-20 07:51] #2149 closed

[2017-10-20 07:51] #1503 closed

[2017-10-20 07:52] #1918 closed

[2017-10-20 07:52] #1923 closed

[2017-10-20 07:52] #1927 closed

[2017-10-20 07:53] #1956 closed

[2017-10-20 07:54] zzzwp commented on #2143
公司或组织：福建极推
链接：N.A.
项目说明：客户平台，目前正在研发中

[2017-10-20 07:57] JingkaiTang opened #2155 "bug确认 Table中fixed列带外部组件渲染时导致跑满CPU"
- 相关版本：
  - "iview": "^2.5.1",
  - "vue": "^2.5.2",
  - "vue-router": "^3.0.1"
  - Google Chrome 61.0.3163.79
- [示例代码](https://gist.github.com/JingkaiTang/77df812d754614150e1d9dcfcb1c8ad6) 学校网络比较糟糕，用了Gist
- 说明
  - 需要在表格中按照不同的数据渲染出不同操作列
  - 将操作列单独抽象成一个组件ButtonGroup
  - 当操作列设置属性`fixed`为`right`并且在操作列前还存在其它列时 当前页面的Chrome进程会跑满整个CPU核
- Key Words
  - iview Table with custom rendered column of another com

[2017-10-20 07:58] #1989 closed

[2017-10-20 07:58] #2001 closed

[2017-10-20 07:59] #2003 closed

[2017-10-20 08:00] xu455255849 commented on #2153
..。In China  open  this website  is very  slow...ok~i  use the @click.native  to do this

[2017-10-20 08:01] icarusion commented on #2008
Sorry to reply now, many components using dropdown like `Select`, `DatePicker`,`Cascader`.. can set `transfer` property, you can find more details on doc.

[2017-10-20 08:01] #2008 closed

[2017-10-20 08:06] gijo-varghese commented on #2147
@icarusion tried that webpack config file. Its giving me the following errors:

[code]

[2017-10-20 08:06] weiyuan0609 commented on #2154
Not a bug, The same as the question ( https://github.com/iview/iview/issues/931),  Is that all right now?

[2017-10-20 08:28] op-captain commented on #2089
遇到了同样的问题，我们测试员，刚刚测出来了！麻烦解决下！

[2017-10-20 08:30] frnkhng commented on #2143
公司或组织：品骏快递
链接：http://www.pjbest.com/
项目说明：快递系统

[2017-10-20 08:56] #2066 closed

[2017-10-20 09:09] hwc901205 opened #2157 "Input 输入框中复合型输入框里面只能放一个span标签，再放其他标签不能在一行显示"

[2017-10-20 09:16] icarusion commented on #2009
This feature is not currently supported.

[2017-10-20 09:16] #2009 closed

[2017-10-20 09:16] #2077 closed

[2017-10-20 09:17] #2113 closed

[2017-10-20 09:25] chenshuai30 commented on #2143
公司或组织：UU跑腿
链接：
项目说明: 后台使用的iveiw

[2017-10-20 09:40] icarusion commented on #1031
#2156

[2017-10-20 09:40] #1031 closed

[2017-10-20 09:45] #2093 closed

[2017-10-20 09:57] SnowWinterMaye commented on #1990
这个需要他们升级 popper的版本

[2017-10-20 10:33] pipiluhua commented on #2143
公司或组织：武汉地大信息工程
链接：N.A.
项目说明: 业务应用系统正在开发中

[2017-10-20 11:51] hjw0968 commented on #2143
公司或组织：福建玄机易创
链接：N.A.
项目说明: 开发客户端,进度30%

![qq 20171020194949](https://user-images.githubusercontent.com/22829164/31819604-f9bb2390-b5cf-11e7-8654-7736b737964e.png)

[2017-10-20 12:17] allochi commented on #2143
We are building our database backend interface with iView here in IDMC http://www.internal-displacement.org/, it's still work in progress and it won't be a public application, but we love iView here.

[2017-10-20 12:18] chenli1989 commented on #2143
公司或组织：厦门彩虹狗科技有限公司
链接：N.A
项目说明：sass管理系统

[2017-10-20 12:25] ouyangkongtong commented on #2093
没有向外提供 events，点击一下直接进入 TabPane

[2017-10-20 12:32] cn2oo8 commented on #2143
we use iview for crm system build.
jd.com a small department developer

[2017-10-20 13:49] xtlsoft commented on #2143
公司或组织：xtlsoft, CloudSky
链接：https://github.com/xtlsoft https://github.com/ourCloudSky

Love the design of iView, love Vue.

[2017-10-20 14:33] SergioCrisostomo commented on #2157
@hwc901205 can you provide a example of the problem?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-21 01:10] genyez opened #2158 "我也在用"
## 广州薄观公司
在用来玩

[2017-10-21 01:10] #2158 closed

[2017-10-21 01:11] genyez commented on #2143
广州公司

[2017-10-21 02:52] SLSJL commented on #2143
公司或组织：集思数源
链接：www.gis-data.cn
项目说明：信息管理系统，目前正在研发中

[2017-10-21 06:30] huodaye commented on #2143
公司或组织：陕西佰客易游网络科技有限公司
链接：
项目说明：SASS管理系统开发中, ERP系统正在设计

[2017-10-21 08:47] incourage opened #2159 "Select组件点击弹出下拉列表后..."
可否判断当value的值为空时( 即下拉列表为空 )，显示 :not-found-text=" " 的内容;

[2017-10-21 17:50] xovel commented on #2143
公司或组织：湖南联羿科技有限公司
链接：N.A
项目说明：中小学教育管理系统后台，iView重构中【与ElemenUI重构同时进行】

[2017-10-22 03:45] TonyLuo opened #2160 "Modal 1里面再调用Modal2， modal2会被modal1遮挡"
Modal 1里面再调用Modal2， modal2会被modal1遮挡着不出现
https://jsfiddle.net/yyrzhm46/41/

[2017-10-22 06:09] galvez commented on #2143
Company: FLAGCX
Link: http://flag.cx

Major ad agency in Brazil.

Company: STORED
Link: http://stored.com.br

One of the largest e-commerce SAAS providers in Brazil.

[2017-10-22 13:09] dengqianyi commented on #2143
公司或组织：海口先钧网络科技有限公司
链接：N.A
项目说明：中非农业管理后台，iView开发中

[2017-10-23 00:53] yangdan8 opened #2161 "官网挂了,请尽快恢复"
https://www.iviewui.com/

[2017-10-23 00:58] icarusion commented on #2161
fixed

[2017-10-23 00:58] #2161 closed

[2017-10-23 01:29] panxch commented on #1974
建议速度添加树表格，在web中能用到的地方很多

[2017-10-23 01:34] panxch opened #2162 "Tree属性BUG"
Tree：如果使用watch给data赋值，发现tree控件节点点击事件错误

[2017-10-23 02:07] icarusion opened #2163 "the date panel will not display the correct month"
After #2097 , some locale month will not display the correct month, maybe `[m]`  begin at `0`, not `1`, but i am not sure.:

![image](https://user-images.githubusercontent.com/5370542/31869351-fdae5424-b76c-11e7-880b-7be847447f01.png)

[2017-10-23 02:09] lbb2446 commented on #2143
公司或组织：力石股份科技有限公司
链接：N.A
项目说明：内部可视化操作应用，地图应用

[2017-10-23 02:22] icarusion opened #2164 "The date type displays inconsistency in type of daterange"
You can view https://jsfiddle.net/Aresn/zpw27xyr/

In the left Date demo, when you select a time, the displayed date `value1` will be a `date` object.

[2017-10-23 02:44] zhaotoday opened #2165 "Spin 的一个坑"
https://github.com/iview/iview/blob/2.0/src/components/spin/spin.js#L45
这里设了定时器，会造成一些问题，比如：
我对 Ajax 请求做了统一处理，请求开始时 show spin，结束时 hide spin，如果有多个连续或者并行的请求，会有问题。
目前，我处理两个连续请求的方法是：第 1 个请求完成后，等待 500 ms 再进行第 2 个：
https://github.com/zhaotoday/iview/blob/master/src/app/Articles/List/index.vue#L152
iView 是否可以对这种场景做下优化？

[2017-10-23 02:50] icarusion commented on #2165
建议你自己优化业务逻辑。

[2017-10-23 02:50] #2165 closed

[2017-10-23 02:54] zhaotoday commented on #2165
@icarusion
好的，谢谢哈，我自己再优化下。

[2017-10-23 02:55] xusenlin commented on #2143
公司:贵州泰豪易象万维数字文化有限公司
链接：[http://mingde.esowav.com](http://mingde.esowav.com)
项目说明：一个教育系统，正在开发中。后台，前台都使用iview开发的单页应用。非常感谢iview带来了这么棒的ui工具。
![file](http://xusenlin.com/usr/uploads/2017/10/836509128.png)
![file](http://xusenlin.com/usr/uploads/2017/10/87258495.png)
![file](http://xusenlin.com/usr/uploads/2017/10/626729307.png)
![file](http://xusenlin.com/usr/uploads/2017/10/332217161.png)
![file](http

[2017-10-23 03:06] tangsj commented on #2143
公司或组织：回家拉
链接：N.A
项目说明：物业管理平台（开发中）

[2017-10-23 03:54] icarusion opened #2166 "Questions about the new Tree component collection"
About #2090 , i tested and found some questions:
- about `indeterminate`, do you think it need to automatically detect its value when you initialize it (or when the data is modified)?[discussion]
- when change some data, the Tree won't be updated, look following demo:
https://jsfiddle.net/Aresn/7wnysqbL/
this demo used iView version `2.5.1`, need to change to #2090 to restore the problem. When cli

[2017-10-23 05:08] cilla123 commented on #2143
公司或组织：聚众客
链接：http://www.juzhongke.com
项目说明：一个电商和餐饮平台，餐饮平台在使用

[2017-10-23 05:35] guigui730 commented on #1131
使用 @on-click

[2017-10-23 05:51] SergioCrisostomo commented on #2162
@panxch can you create a example of the problem?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-23 06:00] SergioCrisostomo commented on #2166
@icarusion:

 - about `indeterminate`: I think its better code to take decision and show how check/uncheck works. Otherwise check/uncheck behaves like select.
What do you think?

 - about jsFiddle example I was copying the nodes so we could change the tree from outside, but I sent a commit to restore/fix that now.

[2017-10-23 06:01] Veitor commented on #2143
公司或组织：常州航加网络科技有限公司（化龙巷）
链接：[http://www.hangjiayun.com](http://www.hangjiayun.com)
项目说明：用于公司内部后台数据监控系统以及其他内部后台系统
![qq 20171023135937](https://user-images.githubusercontent.com/7483890/31874217-a4f3a062-b7fa-11e7-89d2-8ce7c643b69b.jpg)

[2017-10-23 06:12] #1700 closed

[2017-10-23 06:21] vini123 commented on #2143
组织：美丽秀
链接：https://www.mlxiu.com/
准备使用iview了

[2017-10-23 06:40] icarusion commented on #2166
I think `indeterminate` should be responsive, and it will automatically change based on the `checked` state of `data`.

[2017-10-23 06:50] yangdan8 commented on #2102
这个问题提了很久了,一直没有解决

[2017-10-23 07:03] jerexyz commented on #830
add transfer  worked for me

[2017-10-23 07:10] xjccc opened #2167 "Table组件，在windows上面，出现table一直计算宽度，宽度一直增加?"
我是在html中引用了
<link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
 <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
 <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>

使用i-table
<i-table height="520" style="margin: 0 auto;border-collapse: collapse;white-space: 0;" border :columns="columnData" :

[2017-10-23 07:26] gcvin commented on #2143
公司：猪八戒
链接：http://boss.zbj.com
项目说明：后台管理

[2017-10-23 07:35] dajohnny opened #2168 "modal什么时候增加 拖拽功能？"
如题！

[2017-10-23 07:36] tyuqing commented on #2032
我的解决办法是通过ref属性选中modal 然后把modal的buttonLoading设为false
`
const _modal = this.$refs.modal1;
_modal.buttonLoading = false
`

[2017-10-23 07:43] jefferyE commented on #2143
公司：万家云
链接：https://login.365hrbp.com
项目说明，前端使用iview重构

[2017-10-23 07:46] jefferyE commented on #2143
公司：万家云
链接：https://login.365hrbp.com
项目说明，前端使用iview重构
![image](https://user-images.githubusercontent.com/23614775/31877506-56a72398-b809-11e7-9af6-1f114d1fcb9e.png)

[2017-10-23 07:49] jefferyE commented on #2143
公司：万家云
链接：https://login.365hrbp.com
项目说明，前端使用iview重构

[2017-10-23 07:51] #2032 closed

[2017-10-23 08:16] #2167 closed

[2017-10-23 08:17] icarusion commented on #2168
#263

[2017-10-23 08:17] #2168 closed

[2017-10-23 08:18] icarusion commented on #2160
Modal 放置位置不对。

[2017-10-23 08:18] #2160 closed

[2017-10-23 08:32] xiongdada233 commented on #2133
希望tree添加右键事件

[2017-10-23 08:57] panxch opened #2169 "Modal中使用CheckboxGroup问题"
Modal中使用CheckboxGroup选中无法使用双向数据绑定问题
示例代码：https://jsfiddle.net/keeLr3sq/

[2017-10-23 08:58] zhougangnj commented on #2160
楼主的这种场景还是有的，如第2对话框在另外的一个组件里，这个组件又只能放到第1对话框里面
这种情况不知道应该怎么处理，目前我们遇到这种情况，只能把组件拆出来做或者用全局对话框

[2017-10-23 08:58] guangde commented on #2143
公司：天玑科技
链接：开发中
项目说明：私有云平台管理

[2017-10-23 09:05] icarusion commented on #2169
你的示例有问题，及时不放在 Modal 里也不行。

[2017-10-23 09:05] #2169 closed

[2017-10-23 09:14] TonyLuo commented on #2160
Modal嵌套的场景不是很常见吗？比如说，在打开的Modal里，再打开一个modal去显示显示图片，这样图片就被第一个modal挡住了

[2017-10-23 09:20] icarusion commented on #2115
#2124

[2017-10-23 09:20] #2115 closed

[2017-10-23 09:21] icarusion commented on #2160
Modal 放置要同级，后面的会覆盖签名, like
[code]

[2017-10-23 09:22] #2163 closed

[2017-10-23 09:33] asd8510678 commented on #2160
同样遇到这样的问题

[2017-10-23 09:35] #2111 closed

[2017-10-23 09:37] icarusion commented on #2105
1. 文档写的很清楚，不多解释了。
2. iView 本身并没有全选的功能，逻辑是业务控制的。

[2017-10-23 09:37] #2105 closed

[2017-10-23 09:38] icarusion commented on #2104
Use `transfer`, and read doc **carefully**.

[2017-10-23 09:38] #2104 closed

[2017-10-23 09:39] SergioCrisostomo commented on #2166
@icarusion if I understand correct you prefer Tree to start without calculating `indeterminate` state and just do that when user changes some checked box. Is it correct?

[2017-10-23 09:42] icarusion commented on #2166
I think `indeterminate` should be controlled by iView not users, so it should automatically respond whether you are initializing or changing the data, i think.

[2017-10-23 10:26] #2100 closed

[2017-10-23 10:28] #2099 closed

[2017-10-23 10:30] icarusion commented on #2095
As a set of front-end UI specifications, iView has its own features, mainly using primary color in color usage.

[2017-10-23 10:30] #2095 closed

[2017-10-23 10:31] #2088 closed

[2017-10-23 10:31] icarusion commented on #2083
fixed in #2100

[2017-10-23 10:31] #2083 closed

[2017-10-23 10:37] icarusion commented on #2080
Please read Vue doc carefully.
[code]

[2017-10-23 10:37] #2080 closed

[2017-10-23 10:52] hefengxian commented on #2147
Hi everyone, I think i found solution, this error because of `iview` has omitted `.less` extension. so we can change webpack config, please locate `webpack.base.conf.js` then found line
[code]
and add `.less` then compile will success.

[2017-10-23 11:01] #2078 closed

[2017-10-23 11:42] YuuyaRin opened #2173 "Table组件，多选和折叠效果同时使用BUG，折叠会清空已选中的行"
使用Table组件，使用type: 'selection'，并render了expand后，触发expand的展开和收起，都会清空Table已选中行的checkBox
不知是我使用不当还是有这个bug，望解答or修复
非常感谢~~~
加油~~

[2017-10-23 12:14] daiyanze commented on #2133
添加右键事件会覆盖BOM原有API，可以考虑在项目上绑定双击菜单或者在项目右侧追加下拉菜单。

[2017-10-23 13:19] veaba commented on #1977
dev：一切正常就不说了
build情况下：select 的option 在data 中设置为初始值为空的话，会造成select 无法选中值的bug

解决办法：如果select 的opion 是拉取api的话，就必须在data里面设定初始值，否则无法选中或者选中默认值为空，为认为是build 的配置上造成的某些代码结果的变化引起。

如果你的api拉取的option列表如下：
[code]
那么，初始值就必须这样设置，否则build 之后，默认值丢失，或者下拉选中不显示，但实际功能不影响，今天好几个小时排查，蛋疼。
[code]

[2017-10-23 13:23] #2070 closed

[2017-10-23 13:30] veaba commented on #2143
公司或组织：安恒
链接：暂不发，项目在更迭中。
说明：后台管理系统彻底重写，iveiw 真的非常棒的ui框架，非常有效率的保证开发稳步进行，且文档也及其的完善，效率至少50%以上乃至100%，不吹，真的享受框架带来的好处！前端两个人开发，15天开发，配合测试调试bug 和优化，又一个月，现在貌似准备上线了。

[2017-10-23 13:31] icarusion commented on #2053
你的demo问题
https://jsfiddle.net/Aresn/0xsagwt1/

[2017-10-23 13:31] #2053 closed

[2017-10-23 13:32] #2055 closed

[2017-10-23 13:32] #2030 closed

[2017-10-23 13:33] #2012 closed

[2017-10-23 14:25] Ele-Cat commented on #2147
@hefengxian Hi, Brother, is there has git address can refer to?thx

[2017-10-23 15:08] #1922 closed

[2017-10-23 15:32] shauvet commented on #1202
求教楼主upload组件如何添加七牛的token的？谢谢

[2017-10-23 20:23] SergioCrisostomo commented on #2143
Company or Organization: ProReNata AB (Sweden)
Link: https://www.prorenata.se/

[2017-10-24 00:58] roc-young opened #2174 "Table组件导致浏览器刷新按钮闪烁"
有Table组件的页面加载时，浏览器的刷新按钮和网页title图标会闪烁，表格越多闪烁越多，当页面有多个表格严重影响用户体验。

[2017-10-24 01:04] icarusion commented on #2174
https://www.iviewui.com/components/table 打开 iView 文档呢

[2017-10-24 01:06] roc-young commented on #2174
打开文档不闪，但iview-admin会闪

[2017-10-24 01:09] icarusion commented on #2174
那你去 iview-admin 提交 issue 吧。

[2017-10-24 01:09] #2174 closed

[2017-10-24 01:10] roc-young commented on #2174
已提交

[2017-10-24 01:22] #2164 closed

[2017-10-24 01:48] hefengxian commented on #2147
@Ele-Cat I build a test repository for you, I'm use vue-cli initialize the project. you can clone the repository then follow the readme.md to test it.

I was modified this line [webpack.base.conf.js#L23](https://github.com/hefengxian/iview-test/blob/master/build/webpack.base.conf.js#L23). then I'm change the primary color to `#58b956` and i got this
![image](https://user-images.githubusercontent.c

[2017-10-24 01:55] chavyleung opened #2175 "Step步骤 直接使用默认插槽无法显示步骤信息"
[code]

重现地址：https://codepen.io/chavyleung/pen/boyxxz

[2017-10-24 01:58] Ele-Cat commented on #2147
@hefengxian wow, it's works well, thx so much, wish you all the best with your work, thx again.

[2017-10-24 02:31] icarusion commented on #2125
https://github.com/iview/iview/blob/7053de4e78bb0cbf6371ec0969c4523b91f5e92b/src/components/input/input.vue#L193-L195

DatePicker 不支持 blur，只能用 change

[2017-10-24 02:31] #2125 closed

[2017-10-24 02:35] luogan210 opened #2176 "Menu的click事件不会冒泡"
如题，使用Poptip时，点击外面poptip的弹出框会消失，但是点击Menu的时候不会，注册一个document的click事件，点击Menu的时候，document的click事件并不会出发，Menu的item是不是禁止冒泡了？

[2017-10-24 02:41] hefengxian commented on #2147
@Ele-Cat :smirk:

[2017-10-24 02:45] Ele-Cat commented on #2147
@hefengxian 吓，被发现了[冷汗脸]

[2017-10-24 02:56] sanmen359 commented on #2143
公司：上海维度
链接：开发中
项目说明：后台管理

[2017-10-24 02:59] gijo-varghese commented on #2147
@hefengxian Thanks a lot. Its now working. Adding 'less' to webpack didn't solve the problem. I was using the vue-cli to create the project. Here is the solution:

1) Import the less file to `main.js` as per the documentation
2) Add `.less` to the extensions in `webpack.base.conf.js`
3) Install less loader using: `npm install --save-dev less-loader less`

[2017-10-24 03:08] maysoft opened #2177 "RadioGroup 互斥绑定问题"
<RadioGroup v-model="userInfo.IsLock" >
                              <Radio  :value="0" label="正常"></Radio>
                              <Radio :value="1" label="禁用"></Radio>
 </RadioGroup>

userInfo.IsLock 返回的0和1 为什么这样绑定不行呢 没有一个选中的

[2017-10-24 03:08] #2147 closed

[2017-10-24 03:08] maysoft commented on #2177
`   <RadioGroup v-model="userInfo.IsLock" >
                              <Radio  :value="0" label="正常"></Radio>
                              <Radio :value="1" label="禁用"></Radio>
                          </RadioGroup>`

[2017-10-24 03:15] jacksuc opened #2178 "怎么没有开发移动端的"
怎么没有开发移动端的？
以后会不会考虑这方面的。

[2017-10-24 03:17] tkggusraqk opened #2179 "iview项目 clone下来修改组件不支持=()=>import()语法"
clone iview项目，修改/添加组件，用 const Index = () => import('./components/Index') 异步引用组件时，编译报错：
ERROR in ./node_modules/babel-loader/lib!./node_modules/vue-loader/lib/selector.js?type=script&index=0&bustCache!./examples/app.vue
Module build failed: SyntaxError: D:/WorkProject/weuivue/examples/app.vue: Unexpected token (31:20)

  29 | //
  30 |

     |                     ^
  32 |
  33 | module.exports = {

[2017-10-24 03:17] icarusion commented on #2178
暂不考虑。

[2017-10-24 03:17] #2178 closed

[2017-10-24 05:55] xjccc commented on #2167
layout布局后。
`<div class="layout-content">
        <div class="ad-left-slider"></div>
        <div class="header-select">
          <div class="table-data">
            <i-table height="520" style="border-collapse: collapse;white-space: 0;" border :columns="columnData" :data="tableData" @on-selection-change="tableSelectChange"></i-table>
          </div>
        </div>
</div>`
想要layout-content实现左右布局

[2017-10-24 06:28] zhangruhong commented on #2143
公司：天地华宇
链接：开发中
项目说明：后台管理

[2017-10-24 06:32] SergioCrisostomo commented on #2179
@tkggusraqk do you have a example github repository with this problem?

[2017-10-24 07:44] #1897 closed

[2017-10-24 07:44] #1943 closed

[2017-10-24 07:44] #1993 closed

[2017-10-24 07:44] #791 closed

[2017-10-24 07:44] #1597 closed

[2017-10-24 07:44] #1693 closed

[2017-10-24 07:44] #1717 closed

[2017-10-24 07:44] #1767 closed

[2017-10-24 07:44] #1776 closed

[2017-10-24 07:47] SergioCrisostomo commented on #2166
fixed in https://github.com/iview/iview/pull/2090

[2017-10-24 07:47] #2166 closed

[2017-10-24 08:02] YikaJ commented on #597
需要先 false loading 再 true loading 才可以重置按钮状态，确实稍微觉得有点不符合开发者思维的使用。把 loading 状态的控制权交还给开发者，这个才比较好。

当然，想手动控制的，都可以用 slot="footer" 自己去重新写一个。

[2017-10-24 08:16] xifengxx opened #2180 "Form表单元素中的Label标签如何自定义样式"
Form表单元素中的Label标签如何自定义样式？
[code]
如上代码，需要对label标签设置单独样式
[code]
通过上面的方式设置后，在前台无效。

[2017-10-24 08:18] #1689 closed

[2017-10-24 08:19] #1483 closed

[2017-10-24 08:20] #1333 closed

[2017-10-24 08:20] #1362 closed

[2017-10-24 08:20] #1784 closed

[2017-10-24 08:20] #2133 closed

[2017-10-24 08:32] yaakua commented on #2143
公司或组织：上海西樵软件 小二智能客服产品
链接：http://www.xiaoerkefu.com
![dingtalk20171024163117](https://user-images.githubusercontent.com/1543846/31932394-da6b7a28-b86b-11e7-995a-7be4e50bbfc2.png)
![dingtalk20171024162934](https://user-images.githubusercontent.com/1543846/31932395-daa5374a-b86b-11e7-8d1e-0c5a36b8d927.png)

[2017-10-24 08:48] #2128 closed

[2017-10-24 09:05] icarusion commented on #1962
下一个版本中已修复

[2017-10-24 09:05] #1962 closed

[2017-10-24 09:06] dean5277 commented on #2143
公司：爱商在线
链接：ERP系统

开发中

![image](https://user-images.githubusercontent.com/1802631/31934082-a8516382-b8dd-11e7-91d4-376ee4872982.png)

[2017-10-24 09:16] cuizhangxiao commented on #1666
我想去掉left值应该在哪里操作？没找到位置

[2017-10-24 09:17] daiyanze commented on #2179
感觉一个ui的库正常情况下应该用不上异步组件吧😄
试试用babel的插件来看看能不能解决
[参考下vue-router的懒加载](https://router.vuejs.org/zh-cn/advanced/lazy-loading.html)

[2017-10-24 09:19] daiyanze commented on #2177
这时候需要用label来绑定数据
[code]

[2017-10-24 09:22] maysoft commented on #2177
好的 谢谢

[2017-10-24 09:25] #2177 closed

[2017-10-24 09:29] daiyanze commented on #2180
感觉可以不用iview提供的form label
自己在input上加一个自制label

举个例子
[code]

[2017-10-24 09:32] daiyanze commented on #2062
能否画个图举个例子

[2017-10-24 09:43] ThreeFat commented on #2143
公司或组织: 湖南万为智能机器人
链接: 开发中
项目说明: 智能机器人后台管理控制系统
![1508838150 1](https://user-images.githubusercontent.com/23555755/31935964-bdbcc64e-b8e2-11e7-9888-d846e4da65d1.jpg)

[2017-10-24 09:46] wakeupmycat opened #2182 "有人研究过脑图吗"

[2017-10-24 09:50] llccing commented on #1083
[vue文档](https://vuejs.org/v2/guide/render-function.html#ad)

[2017-10-24 09:52] #2182 closed

[2017-10-24 09:53] maysoft opened #2183 "input 能不能添加个清空功能"
类似于date-picker 右边的圆X图标 点一下就清空文本了

[2017-10-24 09:54] icarusion commented on #2183
`icon`

[2017-10-24 09:54] #2183 closed

[2017-10-24 10:14] TonyLuo commented on #2160
Modal嵌套的场景还是比较常见的。
modal都要同级，这样会限制了组件的封装，有些组件要暴露调用modal的接口，违反了低耦合高内聚的设计原则。
比如@zhougangnj 提到的例子，本来modal应该是组件B内部调用的，但要把组件B的modal抽取出来，放到组件A里才能满足Modal 放置要同级的要求

[2017-10-24 12:28] asd8510678 commented on #2160
楼上说的对，我本来封装好的组件 用solt 来扩展，因为这个问题，我得把弹出框放外层，再写一次相关代码。。。

[2017-10-24 14:38] otaku1951 commented on #1293
@icarusion 问题别关了，我也遇到分页如 @bogerv 说的了，你发的那个链接是因为你刷新页面重新设置vue.config.lang了，除了这个就没辙了么？555555555555

[2017-10-24 15:16] wangtifang commented on #2143
公司或组织: 红岭云科技股份有限公司
链接: 开发中
项目说明: 监控平台 党建平台后台ui

[2017-10-24 16:18] cuitianze commented on #2143
公司或组织：滴滴出行
链接：http://www.didichuxing.com
项目：后台管理

[2017-10-24 18:53] SergioCrisostomo commented on #1293
Please provide a example so we can see the problem.

[2017-10-25 01:17] icarusion commented on #1293
谁没事一直点切换语言啊，选完长期就不会变了，所以刷新并没有什么问题。

[2017-10-25 01:50] 0604hx opened #2186 "【钉钉】升级到2.5+版本后 DatePicker 的 daterange 模式无法正常工作"
## 问题描述

之前用 `2.3.2` 版本，使用 DatePicker 在 Chrome、钉钉（代码与浏览器是一致的，只是在钉钉内置浏览器打开） 下都正常使用，我的代码如下：

[code]

今天升级到了 `2.5.1` ，浏览器正常，钉钉下就出现无法选择日期的问题
![2017-10-25_09-42-25](https://user-images.githubusercontent.com/3523216/31976305-4e84b14c-b969-11e7-95e9-d1a95489c600.gif)

## 可能原因

应该是 `daterange` 模式在钉钉环境下，点击事件有误

[2017-10-25 01:51] icarusion commented on #2186
#2122

[2017-10-25 01:51] #2186 closed

[2017-10-25 01:58] yangdan8 opened #2187 "Table固定列出现遮盖横向滚动条的bug"
https://codepen.io/yangdan8/pen/ZXdjpv
![2222](https://user-images.githubusercontent.com/16515026/31977295-c5a9db8a-b96e-11e7-9b91-f5f168809752.png)

[2017-10-25 02:11] yangdan8 opened #2188 "Table异步加载列将导致横向滚动条消失"
https://codepen.io/yangdan8/pen/veqaJB
![111](https://user-images.githubusercontent.com/16515026/31977265-b307e8be-b96e-11e7-9668-2a969e30fe43.png)

[2017-10-25 02:19] yangdan8 opened #2189 "Table固定行高和列宽后数据未达到需要滚动条的情况下表头宽度依然计算了滚动条宽度"
https://codepen.io/yangdan8/pen/veqadE
![111](https://user-images.githubusercontent.com/16515026/31977149-075282d6-b96e-11e7-8ef6-912bf4f3e41c.png)

[2017-10-25 02:36] daiyanze commented on #2140
之前也有人出现过类似的情况。把node_modules删掉重新安装一遍就好了，估计是dependency的某些版本存在兼容问题。

[2017-10-25 03:03] icarusion commented on #1097
#2181

[2017-10-25 03:03] #1097 closed

[2017-10-25 03:08] icarusion commented on #2044
Currently, some components do not support mobile devices, and maybe we will optimize when iView 3.0, but the workload is huge.

[2017-10-25 03:08] #2044 closed

[2017-10-25 03:12] zhuma commented on #2143
公司或组织：北京中电和讯科技有限公司
链接：
项目：平台中的工作流模块
![default](https://user-images.githubusercontent.com/15769016/31978736-565fe2f4-b975-11e7-8461-156030eb066b.png)

[2017-10-25 03:44] alanwang87 commented on #2143
公司或组织：新秀丽(亚洲)
链接：N.A
项目说明：Epos 管理系统

[2017-10-25 05:45] pz512 commented on #2143
公司或组织：迪思腾科技
链接：开发中
项目说明：库管

[2017-10-25 05:56] heyuying99 opened #2190 "form表单，当这个form只有一个input的时候，enter键操作，页面刷新"

[2017-10-25 06:05] jerexyz commented on #2122
暂时只能将vue 降级为2.4.4了

[2017-10-25 06:22] koybe commented on #2143
公司或组织：阿里移动事业群
链接：http://www.uc.cn/
项目说明：后台管理

[2017-10-25 06:27] SergioCrisostomo commented on #2122
Is this still a problem with Vue 2.5.2?

[2017-10-25 06:36] SergioCrisostomo commented on #2137
@gijo-varghese

just discussed with @icarusion and he agrees also we add props so we can trigger callback on "distance to edge".

Not sure what API should be so I write here and we can all think about it:

New prop naming suggestion/example:

a) `:bottom-distance="20"`
b) `:bottom-threshold="20"`
c) `:threshold-bottom="20"`
d) ?

This API would have `bottom`, `top` and `edge`.

[2017-10-25 06:39] icarusion commented on #2137
how about set [Number | Array], if just set Number like `20`, both top and bottom can use, if set `[20, 50]`, it can set top and bottom

[2017-10-25 06:43] tm-TFS commented on #2143
公司或组织：八角星科技
链接：http://bajiaostar.com/
项目说明：客户项目后台

[2017-10-25 07:48] daiyanze commented on #2176
menuItem的li标签的点击事件绑定了stopPropagation
[点这里看代码](https://github.com/iview/iview/blob/2.0/src/components/menu/menu-item.vue#L2)
[code]

[2017-10-25 07:58] wanglyaaa opened #2191 "select选中后文本被转码（下拉没转码）"
原内容：游戏->页游
![image](https://user-images.githubusercontent.com/28591510/31986856-89d0ec06-b99c-11e7-993a-2d2979cf7f80.png)
看源码应该是受到innerHtml影响（innerHtml会把某些字符转码）
![image](https://user-images.githubusercontent.com/28591510/31986797-5d8e8f40-b99c-11e7-8f92-e3601e7dfdf3.png)

[2017-10-25 08:17] wangweida commented on #1652
有这个问题，这么草率的就close了是否不妥当

[2017-10-25 09:21] yangdan8 opened #2192 "Table组件table.vue中的handleResize方法中的$el可能为undefined"
beforeDestroy调用了handleResize方法,而handleResize中是在$nextTick中去执行,
而$nextTick执行的时候可能table已经Destroied,所以可能获取不到$el导致报错,
请修改$nextTick中的代码检测$el是否为undefined再执行后续代码.
![111](https://user-images.githubusercontent.com/16515026/31990871-e4dc0e3a-b9a8-11e7-98d2-de21cb2bee36.png)
![22222](https://user-images.githubusercontent.com/16515026/31990897-fc4cbff6-b9a8-11e7-8821-865c4e11c1f4.png)

[2017-10-25 09:44] icarusion commented on #2192
welcome to contribute code :)

[2017-10-25 09:50] SergioCrisostomo commented on #2191
@wanglyaaa can you provide a example of the problem?

使用下面的在线链接可以快速创建示例
https://jsfiddle.net/yyrzhm46/

[2017-10-25 09:53] gijo-varghese commented on #2137
@SergioCrisostomo  **distance to edge** will be perfect! So even if user hasn't reached the exact 'bottom' I can trigger the event to load new list

[2017-10-25 10:03] SergioCrisostomo commented on #2137
Thanks for feedback!

We could add then: `:distance-to-edge="<Number> | <[top-value, bottom-value]>"`

@icarusion does that sound 👍 ?

[2017-10-25 10:06] icarusion commented on #2137
No problem 👍

[2017-10-25 11:20] zhuqitao commented on #2143
公司或组织：美极乐科技有限公司
链接：www.meijile.xin
项目说明：一步建站

[2017-10-25 11:26] wanglyaaa commented on #2191
https://jsfiddle.net/yyrzhm46/47/

[2017-10-25 11:27] wanglyaaa commented on #2191
@SergioCrisostomo
demo如下：
https://jsfiddle.net/yyrzhm46/47/

[2017-10-25 11:29] SergioCrisostomo commented on #2191
@wanglyaaa that was fixed already. You should use a more recent version than 2.0.0
https://jsfiddle.net/Sergio_fiddle/yyrzhm46/48/

[2017-10-25 12:11] wanglyaaa commented on #2191
@SergioCrisostomo 嗨，发现加了filterable属性后还是有问题哈
https://jsfiddle.net/yyrzhm46/49/

[2017-10-25 12:13] SergioCrisostomo commented on #2191
@wanglyaaa thanks for the demo! Looks like a bug, will re-open this and investigate.

[2017-10-25 13:09] wanglyaaa commented on #2191
@SergioCrisostomo 好的，能否知道大概什么时候会修复

[2017-10-26 02:39] zhengjunxiang commented on #2143
公司或组织：蚂蚁矿池Antpool
链接：www.antpool.com
项目说明：前后台重构

[2017-10-26 03:22] tingkl opened #2196 "http://www.mixtops.com"
一直在用，是用过的最好的pc端ui框架

[2017-10-26 03:22] #2196 closed

[2017-10-26 03:23] tingkl commented on #2143
http://www.mixtops.com

一直在用，使用过的最好的pc端ui框架，做的很全面

[2017-10-26 03:24] tingkl commented on #2143
公司或组织： 密石信息科技
链接： http://www.mixtops.com

公司官网 私募管理系统 以及 一些后端管理系统 一直在用
一直在用，使用过的最好的pc端ui框架，做的很全面

[2017-10-26 05:10] icarusion commented on #2192
#2195

[2017-10-26 05:10] #2192 closed

[2017-10-26 05:13] #2191 closed

[2017-10-26 05:14] #2137 closed

[2017-10-26 05:25] flowerguo commented on #2143
公司或组织：迅销科技
链接：N.A
项目说明：积分平台后台管理系统，正在开发中。。。
![image](https://user-images.githubusercontent.com/15603473/32036191-c4a9ca14-ba50-11e7-9789-8229e6d5c6b9.png)
![image](https://user-images.githubusercontent.com/15603473/32036231-0c53d742-ba51-11e7-8ce6-7a5ae59c9782.png)

[2017-10-26 05:34] lixinchuang opened #2197 "请问日历可以内联展示么"
请问日历可以内联展示，即无需点击某个按钮弹出日历

[2017-10-26 05:41] hihuangwei commented on #2143
公司或组织：西安航空学院
链接：http://www.xaau.edu.cn
项目说明：网站群后台项目

[2017-10-26 05:44] icarusion commented on #2197
Use custom https://jsfiddle.net/Aresn/fbgeLnqg/

[2017-10-26 05:44] #2197 closed

[2017-10-26 05:58] kuailingmin commented on #2127
我也需要这样的问题，iview取消全选怎么处理呢？请开发团队能回答一下吗？

[2017-10-26 06:00] #2127 closed

[2017-10-26 06:14] wanglyaaa commented on #2191
@SergioCrisostomo
修复在2.0.0？？但是2.0.0貌似也不行：https://jsfiddle.net/yyrzhm46/56/
能否修复在最新版？我们现在已更新到2.5.1

[2017-10-26 06:16] icarusion commented on #2191
@wanglyaaa merged, will be updated in 2.6.0

[2017-10-26 06:21] wangcongyi opened #2198 "select remove attr disabled"
两个 Select 组件 ，默认情况下 第二个是 disabled。
当第一个 Select 组件 有选项时 （ 触发了 onChange 事件 ）
就把第二个 Select 组件的 disabled 去掉
该怎么写？